{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      Festival de Cine de Lima PUCP | {% block title %}{% endblock %}
    </title>

    {% block meta %}
    <meta
      name="description"
      content="Plataforma de venta de tickets, información y promoción de la creciente industria musical"
    />
    <meta
      name="keywords"
      content="Festival de Cine de Lima PUCP, venta de tickets, entradas para conciertos en Lima, Lima, Peru, tickets para conciertos, informacion musical, musica en Peru, Conciertos en Peru, conciertos en lima, eventos, disqueras, feria de discos,"
    />
    <meta property="og:title" content="Festival de Cine de Lima PUCP" />
    <meta property="og:url" content="http://reservas.festivaldelima.com/" />
    <meta
      property="og:image"
      content="http://reservas.festivaldelima.com/static/images/23fclnegro.png"
    />
    {% endblock %}

    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="{% static 'images/favicon/apple-icon-76x76.png' %}"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="{% static 'images/favicon/apple-icon-114x114.png' %}"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="{% static 'images/favicon/apple-icon-120x120.png' %}"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="{% static 'images/favicon/apple-icon-144x144.png' %}"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="{% static 'images/favicon/apple-icon-152x152.png' %}"
    />

    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="{% static 'images/favicon/android-icon-192x192.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{% static 'images/favicon/favicon-32x32.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="{% static 'images/favicon/favicon-96x96.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{% static 'images/favicon/favicon-16x16.png' %}"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{% static 'images/favicon/favicon.ico' %}"
    />

    <link rel="stylesheet" href="{% static 'styles/all.min.css' %}" />

    {% block extra_styles %}{% endblock %}
  </head>
  <body class="{% block class_body %}{% endblock class_body %}">
    {% include 'layouts/header.html' %}

    <div class=" general__container">
      {% if not user.confirm and user.is_authenticated %}
      <h3 id="msg" class="button--warning button--warning_confirm">
        Por favor confirmar su email <br /><a
          href=""
          class="button button--resent js--resent "
          >Reenviar <i class="fa fa-spinner fa-pulse onEnvFifth"></i
        ></a>
      </h3>
      {% endif %} {% block content %}{% endblock %} {% comment %}
      <div class="push"></div>

      {% endcomment %}
    </div>

    {% include 'layouts/footer.html' %} {% block extra_modals %}{% endblock %}
    {% include 'contentPages/contentAuth.html' %}
    <script
      type="text/javascript"
      src="{% static 'scripts/all.min.js' %}"
    ></script>
    <script
      type="text/javascript"
      src="https://addevent.com/libs/atc/1.6.1/atc.min.js"
      async
      defer
    ></script>
    <script>
      (function(i, s, o, g, r, a, m) {
        i["GoogleAnalyticsObject"] = r;
        (i[r] =
          i[r] ||
          function() {
            (i[r].q = i[r].q || []).push(arguments);
          }),
          (i[r].l = 1 * new Date());
        (a = s.createElement(o)), (m = s.getElementsByTagName(o)[0]);
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m);
      })(
        window,
        document,
        "script",
        "https://www.google-analytics.com/analytics.js",
        "ga"
      );

      ga("create", "UA-83945109-1", "auto");
      ga("send", "pageview");
    </script>
    {% block extra_scripts %}{% endblock %}
  </body>
</html>
