{% extends 'layout.html' %}
{% block title %} Login{% endblock %}
{% block content %}
    <div class="section-normal" style="margin-top: 150px;">
        <div class="container">
            <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3
            col-sm-8 col-sm-offset-2 col-xs-12
            login-content">
                <h1>Ingresar</h1>
                <form action="" method="post" class="form-site">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <fieldset class="form-group">
                        <label for="user_email">Email</label>
                        <input autofocus="autofocus" class="form-control" id="user_email" name="{{ form.email.name }}"
                               size="30"
                               type="email">
                        {% if form.email.errors %}
                            {{ form.email.errors }}
                        {% endif %}
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="user_password">Contraseña</label>
                        <input autofocus="autofocus" class="form-control" id="user_password"
                               name="{{ form.password.name }}" size="30"
                               type="password">
                        {% if form.password.errors %}
                            {{ form.password.errors }}
                        {% endif %}
                    </fieldset>
                    <p class="text-right">
                        <a href="{% url 'accounts:password_reset' %}" class="link">¿Olvidaste tu contraseña?</a><br>
                    </p>

                    <div>
                        <button class="button">Ingresar</button>
                    </div>
                    <br>
                    <p class="text-center o-site"> ó </p>
                </form>
                <div>
                    <form action="{% url 'social:begin' 'facebook' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-lg btn-facebook full-width">
                            <i class="fa fa-facebook"></i> Ingresar con Facebook
                        </button>
                    </form>
                </div>
            </div>
            <br>


        </div>
    </div>
{% endblock %}

