{% extends 'layout.html' %}
{% load staticfiles %}
{% load web_extras %}
{% block title %} Perfil{% endblock %}

{% block content %}

    <section class="profile">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="profile-media">
                        {% if user.photo %}
                            <img class="user-photo" src="{{ user.photo.url }}">
                        {% elif user.gender == 'm' %}
                            <img class="user-photo" src=
                                    "{% static 'images/man-user.png' %}">
                        {% else %}
                            <img class="user-photo"
                                 src="{% static 'images/woman-user.png' %}">
                        {% endif %}
                        <br><a class="profile-edit">Editar  Datos</a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 user-data">
                    <div class="profile-content">
                        <div class="profile-content__link"
                             style="">
                            <a class="data-edit">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                        </div>
                        <ul>
                            <li class="profile-content__data">
                                <h3>Nombres y Apellidos: </h3>
                                <span>{{ user.get_full_name }}</span>
                            </li>
                            <li class="profile-content__data">
                                <h3>Correo: </h3>
                                <span>{{ user.email }}</span>
                            </li>
                            <li class="profile-content__data">
                                <h3>DNI: </h3>
                                <p>
                                    {% if user.dni %}
                                        {{ user.dni }}
                                    {% else %}
                                        <span class="txt-dgr">No hay un dni
                                            registrado</span>
                                    {% endif %}
                                </p>
                            </li>
                            <li class="profile-content__data">
                                <h3>Teléfono: </h3>
                                <p>
                                    {% if user.phone %}
                                        {{ user.phone }}
                                    {% else %}
                                        <span class="txt-dgr">No hay un teléfono registrado</span>
                                    {% endif %}
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 user-data-edit">
                    <form action="" method="post" class="form-site col-md-12"
                          enctype="multipart/form-data">
                        {% csrf_token %}
                        <fieldset class="form-group col-md-12">
                            <label for="user_first_name">Nombre (*)</label>
                            <input autofocus="autofocus" class="form-control" id="user_first_name" value="{{ form.first_name.value }}" name="{{ form.first_name.name }}"
                                   type="text">
                            {% if form.first_name.errors %}
                                {{ form.first_name.errors }}
                            {% endif %}
                        </fieldset>
                        <fieldset class="form-group col-md-12">
                            <label for="user_last_name">Apellidos (*)</label>
                            <input autofocus="autofocus" class="form-control" id="user_last_name" value="{{ form.last_name.value }}"
                                   name="{{ form.last_name.name }}"
                                   type="text">
                            {% if form.last_name.errors %}
                                {{ form.last_name.errors }}
                            {% endif %}
                        </fieldset>
                        <fieldset class="form-group col-md-12">
                            <label for="user_phone">Teléfono (*)</label>
                            <input autofocus="autofocus" class="form-control"
                                   id="user_phone" value=
                                           "{{ form.phone.value }}"
                                   name="{{ form.phone.name }}"
                                   type="text">
                            {% if form.phone.errors %}
                                {{ form.phone.errors }}
                            {% endif %}
                        </fieldset>
                        <fieldset class="form-group col-md-12">
                            <label for="user_dni">Dni (*)</label>
                            <input autofocus="autofocus" class="form-control"
                                   id="user_dni" value=
                                           "{{ form.dni.value }}"
                                   name="{{ form.dni.name }}"
                                   type="text">
                            {% if form.dni.errors %}
                                {{ form.dni.errors }}
                            {% endif %}
                        </fieldset>
                        <fieldset class="form-group col-md-12">
                            <label for="user_photo">Photo (*)</label>
                            <input autofocus="autofocus" class="form-control"
                                   id="user_photo" value=
                                           "{{ form.photo.value }}"
                                   name="{{ form.photo.name }}"
                                   type="file">
                            {% if form.photo.errors %}
                                {{ form.photo.errors }}
                            {% endif %}
                        </fieldset>
                        <div class="col-md-12">
                            <input type="submit" value="Actualizar información" class="btn btn-default btn-site"/>
                        </div>
                    </form>
                    <button id="user-edit-cancel">X</button>
                </div>
            </div>

            <div class="row">
                <div class="profile-tickets">
                    <div class="tickets-title">
                        <span>Entradas Compradas</span>
                    </div>
                    <div class="tickets-list">
                        <div class="list-content list-content--description">
                            <div class="content-description">
                                <span>VIE, 20 DE MAYO / 22:00</span>
                                <h2>Hot Chip en Lima</h2>
                            </div>
                        </div>

                        <div class="list-content list-content--value">
                            <span>S/ 112</span>
                        </div>

                        <div class="list-content list-content--ticket">
                            <div class="content-ticket">
                                <a href="" data-toggle="modal" data-target="#cupon-modal">Ver Ticket</a>
                            </div>
                        </div>
                    </div>
                    <div class="tickets-list">
                        <div class="list-content list-content--description">
                            <div class="content-description">
                                <span>VIE, 20 DE MAYO / 22:00</span>
                                <h2>Hot Chip en Lima</h2>
                            </div>
                        </div>

                        <div class="list-content list-content--value">
                            <span>S/ 112</span>
                        </div>

                        <div class="list-content list-content--ticket">
                            <div class="content-ticket">
                                <a href="" data-toggle="modal" data-target="#cupon-modal">Ver Ticket</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <!-- Modal -->
    <div class="modal fade modal--custom" id="cupon-modal" tabindex="-1"
             role="dialog"
             aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="terHid">
                            <div class="coupon__content"
                                 style="background-image: url({% static 'images/cupon.png' %}); background-repeat:no-repeat;
                                         background-size: cover;">
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12">
                                        <div class="coupon__logo">
                                            <img src="{% static 'images/fuzzpass-logo-white.png' %}"
                                                 alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="coupon__datetime">
                                            <span>
                                                VIE, 20 DE MAYO / 22:00
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-9">
                                        <div class="coupon__event-name">
                                            <span style="font-size: 1.7em;font-weight: 600;">
                                                Hot Chip en Lima
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="coupon-content_event-cost">
                                            <span style="font-size: 1.6em;font-family: Nova-Thin;">
                                                S/ 130
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="coupon-content_code">
                                            <img src="{% static 'images/qr_code.png' %}"
                                                 width="200px" alt="">
                                            <br><br>
                                            <span>
                                                XJHS7836GG
                                            </span>
                                            <br><br>
                                            <span>
                                                Valida tu ticket solo en la puerta del evento
                                            </span>
                                            <br><br>
                                            <img src="{% static 'images/mini_organizer.png' %}"
                                                 alt="">
                                            <br><br>
                                            <span>
                                                Un evento de Headsouth
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="coupon__location">
                                <iframe src="http://maps.google.com/maps?q=-12.0826359,-77.0820016&z=19&output=embed"></iframe>
                            </div>
                        </div>
                        <div class="coupon-terms" id="terSho">
                            <h2>Terminos y condiciones</h2>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit. Dolorem eligendi eos harum
                                illum ipsam ipsum porro, quaerat repellendus
                                voluptate? A assumenda cum id mollitia
                                nostrum nulla similique suscipit ullam velit!
                            </p>
                            <button id="terTic" class="btn btn-danger">Ticket</button>
                        </div>
                        <button id="terCon" class="btn btn-danger">Terminos y Condiciones</button>
                    </div>
                </div>
            </div>
        </div>

        {% comment %}<div class="separate">
            <span>Entradas Compradas</span>
        </div>
        {% for ticket in user.sales.all %}
            <div class="group-entry">
                <div class="entry__description">
                    <div class="content__entry__description">
                        <span>VIE, 20 DE MAYO / 22:00</span>
                        <h2>{{ ticket.money }}</h2>
                    </div>
                </div>

                <div class="entry__value">
                    <span>{{ ticket.amount }}</span>
                </div>

                <div class="entry__ticket">
                    <div class="content__entry__ticket">
                        <a href="" data-toggle="modal"
                           data-target="#cupon-modal">Ver Ticket</a>
                    </div>
                </div>
            </div>
        {% endfor %}{% endcomment %}

{% endblock %}



