{% load crispy_forms_tags %}

<div class="row">
    <form class="form-horizontal" action="" method="post">
        {% crispy form %}
        <div class="group-terms"> <a href="{% url 'webs:termines' %}" target="_blank" class="terms">Acepto los términos y condiciones </a></div>
        <button type="submit" class="button button--full button--dark f-akura" name="form">Crear Cuenta <i class="fa fa-spinner fa-pulse onEnvThird"></i></button>
    </form>
</div>
