{% load crispy_forms_tags %}

<div class="row">
    <form class="form-horizontal" novalidate action="{% url 'accounts:test-send' %}" method="post">
        {% csrf_token %}
        {% crispy form %}
        <input type="submit" class="btn btn-submit button col-md-offset-2 f-akura" value="Entrar">
    </form>
</div>
