{% extends "layout.html" %}
{% block title %}Reset Password{% endblock %}
{% load i18n %}
{% block extra_styles %}
    <style>
        footer{
            margin-top: 0;
        }
    </style>
{% endblock %}
{% block content %}

    <div class="container-base">
            <div class="row" >
                    <div class="col-lg-6 col-lg-offset-3">
                        <h1>¿Olvidaste tu contraseña?</h1>
        
                        <div class="col-lg-12">
                            <p>Ingresa tu correo electrónico y estaremos enviandote las instrucciones para recuperarla. </p>
                        </div>
                        <form method="post" class="cd-form" style="padding: 1.4em 0;" id="form-resetpass">
                            {% csrf_token %}
                            <p class="fieldset">
                                <label for="user_email">Email</label>
                                <input autofocus="autofocus" class="form-control" id="user_email" name="{{ form.email.name }}" size="30"
                                       type="email">
                                <p>{{ form.email.errors }}</p>
                            </p>
                            <div>
                                <input class="button-black" type="submit"
                                       value="{% trans 'Resetear contraseña' %}"/>
                            </div>
                        </form>
                    </div>
                </div>
    </div>
     
{% endblock %}