{% extends "layout.html" %} {% block title %}Reset Password{% endblock %}
 {% load i18n %} {% block extra_styles %}
<style>
  .push {
    height: 150px;
  }
</style>
{% endblock %} {% block content %}
<div class="section-normal">
  <div class="container">
    <div class="col-lg-6 col-lg-offset-3 mb-10">
      <h1>Resetear Contraseña</h1>
      {% if validlink %}
      <div class="col-lg-12">
        <p>
          {% trans "Please enter your new password twice so we can verify you typed it in correctly." %}
        </p>
      </div>
      <form method="post" class="col-lg-12 form-site">
        {% csrf_token %}
        <fieldset class="form-group">
          <label for="user_password1">Nueva Contraseña</label>

          <input
            autofocus="autofocus"
            class="form-control"
            id="user_password1"
            name="{{ form.new_password1.name }}"
            size="30"
            type="password"
          />
          {{ form.new_password1.errors }}
        </fieldset>
        <fieldset class="form-group">
          <label for="user_password2">Repetir Nueva Contraseña</label>

          <input
            autofocus="autofocus"
            class="form-control"
            id="user_password2"
            name="{{ form.new_password2.name }}"
            size="30"
            type="password"
          />
          {{ form.new_password2.errors }}
        </fieldset>
        <div>
          <button class=" button-black">
            Cambiar mi contraseña
          </button>
        </div>
        <br>
      </form>
      {% else %}
      <div class="col-lg-12">
        <p>
          {% trans "The password reset link was invalid, possibly because it has
          already been used. Please request a new password reset." %}
        </p>
      </div>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
