{% extends "layout.html" %} 
{% block title %}Reset Password{% endblock %} 
{% load i18n %} 
{% block extra_styles %}
<style>
  footer {
    margin-top: 302px;
  }
</style>
{% endblock %} {% block content %}
<div class="section-normal">
  <div class="container">
    <div class="col-lg-6 col-lg-offset-3">
      <h1 class="text-center">¿Olvidaste tu contraseña?</h1>

      <div class="col-lg-12">
        <p>
            Le hemos enviado por email las instrucciones para restablecer la contraseña, si es que existe una cuenta con la dirección electrónica que indicó. Debería recibirlas en breve.
        </p>

        <p>
          Si no recibe un correo electrónico, asegúrese de haber ingresado la dirección con la que se registró y revise su carpeta de correo no deseado.
        </p>
      </div>
     
      <div class="col-lg-12 text-center">
       <br> 
        <a href="/" class="button-black mt-10">Ir al Home</a>
        </div>
    </div>
  </div>
</div>

{% endblock %}
