<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Reservas | Welcome</title>

    <style type="text/css">
        @font-face {
            font-family: 'Nova-Medium';
            src: url('https://{{ domain }}/static/fonts/Nova-Medium.otf') format('truetype');
            font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: 'Nova-Thin';
            src: url('https://{{ domain }}/static/fonts/Nova-Thin.otf') format('truetype');
            font-weight: normal;
            font-style: normal;
        }

        #outlook a {
            padding: 0;
        }

        body {
            width: 100% !important;
            font-family: 'Nova-Thin';
        }

        body {
            margin: 0;
            padding: 0;
        }

        img {
            border: none;
            outline: none;
            text-decoration: none;
        }

        #container {
            background-color: #FFFFFF;
            height: 100%;
            margin: 0;
            padding: 0;
            width: 100%;
        }

        #dateDay, #dateMonth {
            /*@editable*/
            color: #4290C8;
            /*@editable*/
            font-family: "American Typewriter", "Courier New", Courier, monospace;
            /*@editable*/
            font-size: 14px;
            /*@editable*/
            line-height: 100%;
        }

        #eventHeading {
            /*@editable*/
            color: #689A68;
            /*@editable*/
            font-family: "American Typewriter", "Courier New", Courier, monospace;
            /*@editable*/
            font-size: 12px;
            /*@editable*/
            line-height: 150%;
        }

        #messageHeading {
            /*@editable*/
            color: #fff;
            /*@editable*/
            font-family: Helvetica;
            /*@editable*/
            font-size: 28px;
            /*@editable*/
            font-weight: bold;
            /*@editable*/
            line-height: 100%;
            padding: 20px;
        }

        #content, #eventLocation {
            /*@editable*/
            color: #000000;
            /*@editable*/
            font-family: Helvetica;
            /*@editable*/
            font-size: 12px;
            /*@editable*/
            line-height: 150%;
        }

        #content a:link, #content a:visited, #eventDate a:link, #eventDate a:visited, #eventLocation a:link, #eventLocation a:visited {
            /*@editable*/
            color: #4290C8;
            /*@editable*/
            font-weight: normal;
            /*@editable*/
            text-decoration: none;
        }

        .sectionHeading {
            /*@editable*/
            color: #689A68;
            /*@editable*/
            font-family: "American Typewriter", "Courier New", Courier, monospace;
            /*@editable*/
            font-size: 12px;
            /*@editable*/
            line-height: 150%;
        }

        #buttonText a:link, #buttonText a:visited {
            /*@editable*/
            color: #FFFFFF;
            /*@editable*/
            font-family: "American Typewriter", "Courier New", Courier, monospace;
            /*@editable*/
            font-size: 14px;
            /*@editable*/
            font-weight: normal;
            /*@editable*/
            line-height: 125%;
            text-decoration: none;
        }

        /*
        @tab Footer
        @section text style
        @tip The styling for your email's footer text. Make it a color and size that is easy to read.
        */
        #footerContent, #rewards {
            /*@editable*/
            color: #000000;
            /*@editable*/
            font-family: Helvetica;
            /*@editable*/
            font-size: 12px;
            /*@editable*/
            line-height: 150%;
        }

        /*
        @tab Footer
        @section link style
        @tip The styling for your email's footer hyperlinks. Make it a color that stands out from the rest of your text.
        */
        #footerContent a:link, #footerContent a:visited, #rewards a:link, #rewards a:visited {
            /*@editable*/
            color: #4290C8;
            /*@editable*/
            font-weight: normal;
            /*@editable*/
            text-decoration: none;
        }

        .socialCell a:link, .socialCell a:visited {
            /*@editable*/
            color: #4290C8;
            /*@editable*/
            font-weight: normal;
            /*@editable*/
            text-decoration: none;
        }

        .socials li {
            display: inline-block;
            vertical-align: top;
        }

        .gs li {
            display: inline-block !important;
            vertical-align: top !important;
        }
    </style>

</head>
<body>

<table border="0" cellpadding="0" cellspacing="0" height="100%" width="320" id="container">
    <tr>
        <td align="center" valign="top">
            <table border="0" cellpadding="0" cellspacing="0" width="320" style="width:320px;">
                <tr>
                    <td align="center" valign="top" width="320">
                        <br>
                        <table border="0" cellpadding="0" cellspacing="0" width="320">
                            <!-- // Begin Template Header \\ -->
                            <tr>
                                <td align="center" valign="top">
                                    <table border="0" cellpadding="0" cellspacing="0" width="320" id="templateHeader" style="border: 1px solid #ccc;padding: 20px;">
                                        <tr>
                                            <td align="right" valign="top" width="120">
                                                <br>
                                                <div id="dateDay">
                                                    <div style="text-align: left;">
                                                        <img align="none" height="55" src="http://165.227.127.113/static/images/23fclnegro.png"
																style="width: 100px; height: 40px; margin: 0;" width="70"></div>
                                                </div>
                                            </td>
                                            <td align="center" valign="top" width="80">
                                                <div id="khoiDot"></div>
                                            </td>
                                            <td align="left" valign="top" width="120">
                                                <br>
                                                
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center" colspan="4" valign="middle">
                                                <br>
                                                <div id="eventHeading">
                                                    <div style="text-align: justify;">
                                                            <span style="font-family:verdana,geneva,sans-serif">
                                                                <span style="color:#A9A9A9;">
                                                                    <p style="font-size:14px;">
                                                                        {% if user.first_name %}
                                                                            Hola <span style="color: #797676;">{{ user.first_name }},</span>
                                                                        {% endif %}
                                                                        <br>
                                                                   Haz solicitado restablecer contraseña, hazle click al siguiente botón.<br>
                                                                </span>
                                                                <br><br><br>
                                                                 <div id="eventLocation" style="margin-top: 20px;">
                                                                     <a href="http://reservas.festivaldelima.com/reset/{{ uid }}/{{ token }}/" style="text-decoration: none" target="_blank">
                                                                         <span style="font-size:14px">
                                                                             <span style="color:#FFF0F5">
                                                                                 <strong>
                                                                                     <span style="background-color:#000; border-radius:2px; padding:10px">
                                                                                         Restablecer Contraseña</span>
                                                                                 </strong>
                                                                             </span>
                                                                         </span>
                                                                     </a>
                                                                 </div>
                                                                <br><br><br>
                                                                 <span style="color:#A9A9A9;">
                                                                    <p style="font-size:12px;">
                                                                        <p style="font-size:12px;">
                                                                            <br>Gracias<br>
                                                                        El equipo de Festival de Cine De Lima PUCP<br>
                                                                </span>
                                                            </span>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <!-- // End Template Header \\ -->

                            <!-- // End Template Body \\ -->
                            <!-- // Begin Template Footer \\ -->
                        
                            <!-- // End Template Footer \\ -->
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

</body>
</html>