{% extends "layout.html" %} {% load i18n %} {% block extra_styles %}
<style>
  footer {
    margin-top: 302px;
  }
</style>
{% endblock %} {% block content %}

<div class="section-normal">
  <div class="container">
    <div class="col-lg-6 col-lg-offset-3">
      <h1>Restablecimiento de contraseña completado</h1>

      <div class="col-lg-12">
        <p>
          Su contraseña ha sido establecida. Ahora puede seguir adelante e
          iniciar sesión.
        </p>
        <p></p>
        <br />
        <p>
          <a href="{% url 'accounts:login-signup' %}" class="button-black"
            >Iniciar Sesión</a
          >
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
