{% extends "layout.html" %}
{% block title %}Reset Password{% endblock %}
{% load i18n %}

{% block content %}
    <div class="section-normal">
        <div class="container">
            <div class="col-lg-6 col-lg-offset-3">
                <h1>Cambiar contraseña</h1>
                {% if form.errors %}
                    <div class="col-md-12">
                        <p class="errornote">
                            {% if form.errors.items|length == 1 %}
                                {% trans "Please correct the error below." %}
                            {% else %}
                                {% trans "Please correct the errors below." %}
                            {% endif %}
                        </p>
                    </div>
                {% endif %}
                <form method="post" class="cd-form">
                    {% csrf_token %}

                    <p class="fieldset">
                        <label for="{{ form.old_password.name }}">Contraseña</label>

                        <input autofocus="autofocus" class="form-control" id="{{ form.old_password.name }}"
                               name="{{ form.old_password.name }}" size="30"
                               type="password">
                        {{ form.old_password.errors }}
                    </p>
                    <p class="fieldset">
                        <label for="{{ form.new_password1.name }}">Nueva Contraseña</label>

                        <input autofocus="autofocus" class="form-control" id="{{ form.new_password1.name }}"
                               name="{{ form.new_password1.name }}" size="30"
                               type="password">
                        {{ form.new_password1.errors }}
                    </p>
                    <p class="fieldset">
                        <label for="{{ form.new_password2.name }}">Repetir Contraseña</label>

                        <input autofocus="autofocus" class="form-control" id="{{ form.new_password2.name }}"
                               name="{{ form.new_password2.name }}" size="30"
                               type="password">
                        {{ form.new_password2.errors }}
                    </p>
                    <div class="col-md-12">
                        <input type="submit" value="{% trans 'Cambiar mi contraseña' %}"
                               class="btn btn-default btn-site"/>
                    </div>
                </form>

            </div>
        </div>
    </div>

{% endblock %}


