.aboutUs{
  text-align: left !important;
}
.item-title--aU{
  text-align: left;
  letter-spacing: 5px;
  font-size: 1.5em;
  margin: 0;
}
.group-item{
  p{
    text-align: justify;
  }
}
.team-aU{
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 400px;
}