@mixin break($viewport_size) {
  @media (min-width: $viewport_size){
    @content;
  }
}
.page-login{
  .push{
    display: none;
  }
}
#div_id_musicals {

  label {
    display: block;
    float: none;
    margin-left: 0;
  }

  .controls {

    .checkbox {
      margin-left: 0;
    }

  }

}
.autenthication_page{
  padding-top: 40px;
  padding-bottom: 50px;
  &__footer{
    padding: 20px 10px;
    text-align: center;
    background: #eaeaea;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}
.autenthication_page_confirm{
  padding-top: 100px;
  padding-bottom: 100px;
}
#AutenthicationPage {

  .wrapper {
    // width: 95%;
    max-width: 320px;
    // margin: 0 auto;
    // padding: 10px 15px;
    border-radius: 5px;
    background: white;
    // max-width: 900px;
    margin:auto;
    @include break(768px) {
      max-width: 780px;
      // padding: 0 45px;
    }

    // @include break(1024px) {
    //   max-width: 1150px;
    // }

    // @include break(1200px) {
    //   max-width: 1250px;
    // }

  }


  .container{
    margin-top: 0 !important; //I need to add important to this because theres a inline style declared at the DOM
    margin: 0;
    padding: 0;
    @include break(768px) {
      width: 100%;
    }
  }


  .container-fz {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .col-xs-12 {
    padding: 0;
  }

  .col-md-12 {
    padding: 0;
    float: none;
  }

  .col-sm-offset-2 {
    @include break(768px) {
      margin-left: 0;
    }
  }

  .col-sm-8 {

    @include break(768px) {
      width: 100%;
    }

  }

  .login-content>h1{
    display: none;
  }

  .row {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }

  .form-group {
    margin: 0;
    padding: 0;
  }

  .register-plane {
    display: none;
  }

  .form-horizontal {

    .control-label {

      @include break(768px) {
        text-align: left !important;
      }

    }

  }

  .group-terms {
    margin: 0;
  }

  .terms {
    top: -12px;
  }

  .checkboxinput {
    margin-top: 4px;
  }



  .button--facebook {

    @include break(768px) {
      padding: 18px 0;
    }

  }

  .controls {
    margin-bottom: 12px;

    .radio {
      display: inline-block;
      margin-right: 18px;

      input[type="radio"]{
        top: 9px;
      }

    }

  }

  // Custom styles starts here

  .LoginSectionAndRegisterSection {
    padding: 10px 30px;

    @include break(768px) {
      padding: 10px 35px;
      display: flex;
      align-items: flex-start;
      justify-content: center;
    }

  }

  .LoginSection {
    border-bottom: 1px solid #ddd;
    padding-bottom: 42px;

    @include break(768px) {
      width: 45%;
      border-bottom: none;
      border-right: 2px solid #ddd;
      padding-right: 5%;
      flex: 1;
      box-sizing: content-box;
    }

    @include break(1024px) {
      max-width: 360px;
    }

  }

  .LoginSection__title {
    color: black;
    font-family: $font-Fuzzpass-Bold;
    margin-bottom: 0;
  }

  .LoginSection__subtitle {
    font: 18px Nova-Regular;
  }

  .LoginSection__loginContainer {
    padding-top: 12px;
    width: 100%;
    max-width: 340px;
    margin-left: auto;
    margin-right: auto;

    @include break(768px) {
      max-width: 100%;
    }

  }

  .RegisterSection {
    padding: 42px 0;
    box-sizing: border-box;

    @include break(768px) {
      width: 45%;
      margin-left: 5%;
      padding-top: 0;
    }

    @include break(1024px) {
      max-width: 360px;
    }

  }

  .RegisterSection__title {
    font: 28px Nova-Bold;
    margin-top: 0;
    @include break(768px) {
      margin-top: 20px;
    }
  }
  .RegisterSection__title_paraf{
    margin-top: 0px;
  }
  .RegisterSection__subtitle {
    font: 18px Nova-Regular;
  }

  .RegisterSection__registerContainer {
    padding-top: 12px;
  }




}