.event {
  overflow: hidden;
  h3 {
    text-transform: uppercase;
    font-family: $font-Fuzzpass-Bold;
    font-size: 1.1em;
    color: black;
  }
}

.not-active {
  pointer-events: none !important;
  cursor: default !important;
  background-color: #9d9d9d;
  border-radius: 4px;
  border-color: #9d9d9d;
}

.event__detail {
  // border: 1px solid #ddd;
  padding: 0 10px;
  background-color: #FFF;
  p {
    text-align: justify;
  }
}

.event__video {
  margin-bottom: 20px;
  iframe {
    height: 165px;
  }
}

.event__producer {
  // display: none;
  // border: 1px solid #ddd;
  // padding: 0 10px;
  // background-color: #FFF;
}

.event__shares {
  .inf-title {
    text-transform: none;
    color: #111;
    font-size: 1.8em;
    font-weight: bold;
  }
  .inf-subtitle {
    color: #000;
    font-size: 1.05em;
  }
}

.shares--desktop {
  border: 1px solid #ddd;
  padding: 20px;
  background: #FFF;
  margin-bottom: 20px;
}

.shares--mobile {
  border: 1px solid #ddd;
  padding: 10px;
  background: #FFF;
  margin-bottom: 15px;
}

.inf-socs {
  padding: 0;
  text-align: center;
  li {
    display: inline-block;
    vertical-align: middle;
    padding: 20px 0;
  }
}

.socs-link {
  padding: 10px;
  color: #fff !important;
  border-radius: 4px;
  font-weight: bold !important;
}

.link--plus {
  background: #e95f51;
}

.link--twitter {
  background: #47bff2;
}

.link--facebook {
  background: #5f84cf;
}

.js-copytextarea {
  display: block;
  width: 100%;
  color: #ed685d;
  font-weight: bold;
  padding: 5px;
  border: 1px solid #ccc;
}

.js-textareacopybtn {
  position: absolute;
  margin-top: -27px;
  right: 22px;
  background: none;
  border: none;
  font-weight: bold;
}

.inf-subtitle {

}

.event__spotify {
  display: none;
  border: 1px solid #ddd;
  padding: 0;
  background-color: #FFF;
  margin-bottom: 20px;
  iframe {
    height: 100%;
  }
}

.producer__content {
  text-align: center;
}

.producer__logo {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.band__socials {
  list-style: none;
  padding: 0;

  li {
    display: inline-block;
    margin-right: 20px;

    a {
      color: #999 !important;
    }
  }
}

.fa-spinner {
  display: none;
}

.fa-spinner-active {
  display: inline-block;
}

.calendar__icons--cal {
  position: absolute;
  margin-top: -24px;
  display: block;
}

.calendar__icons--wish {
  z-index: 1;
  position: relative;
}

.shares--desktop {
  display: none;
}

.shares--mobile {
  display: block;
}
.event__header__title{
  color:black !important;
  font-size: 16px !important;
  margin-bottom: 0;
}
.event__header__link{
  color: black;
  border-bottom: 1px solid black;
}
@include tablet {

  .shares--desktop {
    display: block;
  }
  .shares--mobile {
    display: none;
  }
  .js-copytextarea{
    font-size: .7em;
  }
  .js-textareacopybtn{
    font-size: .7em;
    margin-top: -21px;
    right: 15px;
  }
  .socs-link{
    font-size: .75em;
  }
  .calendar__icons--cal {
    margin-left: -12px;
  }
  .event__w1, .event__w2 {
    display: inline-block;
    vertical-align: top;
    margin: 0 auto;
  }

  .event__w1 {
    width: 100%;
    float: left;
    padding-right: 10px;
  }
  .event__w2 {
    width: 40%;
    float: right;
  }
  .producer__logo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }

  .event__detail {
    padding: 25px;
  }
  .event__producer {
    display: block;
    // padding: 25px;
    margin-bottom: 20px;
  }

  .event__spotify {
    display: block;
    height: 300px;
  }
  .event__header__title{
    color:black;
    font-size: 18px;
  }
  .event__video {
    margin-bottom: 20px;
    iframe {
      height: 470px;
    }
  }
}

@include laptop-small {
  .js-copytextarea{
    font-size: 1em;
  }
  .js-textareacopybtn{
    font-size: 1em;
    margin-top: -27px;
    right: 20px;
  }
  .socs-link{
    font-size: .95em;
  }
  .calendar__icons--cal {
    margin-left: 5px;
  }
}

@include desktop-small {
  .calendar__icons--cal {
    margin-left: 15px;
  }
}
@include desktop {
  .calendar__icons--cal {
    margin-left: 30px;
  }
}
