@mixin break($class) {
  @media (min-width: $class){
    @content;
  }
}
.banner {
  width: 100%;
  height: 380px;
  margin-bottom: 20px;

  p {
    font-size: 2.1em;
    letter-spacing: 2px;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    padding-top: 100px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .7);

    img {
      width: 40px;
      height: 40px;
    }
  }
}
.slick_home{
  // margin-top: -25px;

}
.home_banner{
  &__banner{
    display: block;
    img{
      width: 100%;
    }
    // width: 100%;
    // height: 240px;
    // background-size: cover;
    // background-repeat: no-repeat;
    // background-position: center center;
    // background-image: url('../images/banner_amen.jpg');
    // @include break(480px) {
    //   height: 300px;
    //   // padding: 0 45px;
    // }
    // @include break(768px) {
    //   height: 360px;
    //   // padding: 0 45px;
    // }
  }
}
.home_event{
    margin-bottom: 50px;
    &__content{
        width: 100%;
    }
    
    &__name{
        font-size: 26px;
    }
    &__image{
        position: relative;
        img{
            width: 100%;
            height: auto;
        }

    }
    &__button{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 8px;
        margin:auto;
        max-width: 150px;
        text-align: center;
    }
}
.list-events {
  height: auto;
  margin-bottom: 200px;
}

#loading {
  display: none;
  text-align: center;
}

.txtNoFound {
  margin: 190px 80px;
}

.disNot{
  display: none !important;
}

@include tablet {
  .carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
    top: 130px !important;
  }
  .home_event{
    &__content{
      width: calc(50% - 16px);
    }
    &__content:first-child{
      margin-right: 32px;
    }

  }
}

@include laptop-small {
.carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
    top: 151px !important;
  }
}

@include laptop {

}

@include desktop-small {
  .carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
    top: 151px !important;
  }
}

@include desktop {
  .carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
    top: 220px !important;
  }
}