.hwIw{
  margin-top: -25px;
  font-family: $font-Fuzzpass-Light;
}
.hwIW__banner{
  width: 100%;
  height: 450px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.item-title{
  letter-spacing: 10px;
  text-transform: uppercase;
  font-size: 28px;
  margin:50px 0;
  text-align: center;
}
.hw__content{
  p{

    text-align: center;
  }
  ul{
    text-align: left;
  }
}
.group-item{
  margin-top: 60px;
  margin-bottom: 50px;
  text-align: center;
  ul{
    text-align: left !important;
  }
}
.item-subtitle{
  font-weight: 700;
  font-family: $font-Fuzzpass-Bold;
  text-align: center;
}

.hwIw__to-events{
  text-align: center;
  margin-bottom: 20px;
  a{
    &:hover{
      cursor: pointer;
    }
  }
}

.hw{
  img{
    max-width: 100%;
  }
}