.modal-open{
  .modal-backdrop{
    position: relative !important;
  }
}

.label-group{
  input{
    width: 100%;
    margin-bottom: 20px;
  }
}


#formContact {
    #sendData {
        cursor: pointer;
        position: relative;
        .fa-spinner {
            position: absolute;
            right: 35px;
            top: 15px;
            font-size: 18px;
            display: none;
        }
        .fa-spinner-active {
            display: inline-block;
        }
    }
}
#sendData{
  width: 100%;
}

.buy-tickets{
  .modal-footer{
    margin-top: 0 !important;
  }
}
