.profile-update{
  max-width: 375px;
  height: 800px;
  text-align: center;
  border: 1px solid #ddd;
  margin: 20px auto;
  padding: 10px;
  background-color: #FFF;
}
.profile-update__body{
  fieldset{
    border: none !important;
  }
}
label{
  display: block;
  text-align: left;
}
.form-control{
  height: 54px;
  border-radius: 3px;
  &:focus{
    box-shadow: none !important;
    border: 1px solid rgba(7,7,7,.4);
  }
  &:invalid{
    color: #ac2925;
  }
}