.my_goodMemory {
  border: 1px solid #1b1b1b;
}

.profile {
  &__name{
    font-size: 18px;
    margin-bottom: 0;
  }
}

.profile__media {
  text-align: center;
  margin: 20px;
}

.profile__title {
  text-transform: uppercase;
  font-size: 1.5em;
  margin-top: 40px;
}

.media__photo {
  max-width: 250px;
  max-height: 250px;
  padding: 20px;
  border-radius: 50%;
}

.media__photo--big {
  width: 300px !important;
  height: 300px !important;
}

.close__wish {
  float: right;
  margin-top: -150px;
  margin-right: 10px;
  font-size: 1.4em;
}

.profile__info--sub {
  font-size: .65em;
  color: #6ACA75;
  font-weight: bold;
  margin-top: -8px;
  margin-bottom: 5px;
}

.profile__info {
  text-align: center;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      font-size: 1.5em;

      margin: 10px 0;
      h4 {
        font-family: $font-Fuzzpass-Bold;
      }
    }
  }
}

.profile__detail {
  border: 1px solid #ddd;
  background-color: #FFF;
  padding: 20px;
  margin: 20px 0;
  text-align: center;
  &:hover {
    .profile__edit {
      display: block;
    }
  }
}

.profile__tickets {
  margin-bottom: 20px;
}

.tickets__item {
  background-color: #FFF;
  padding: 15px 0;
  // height: 195px;
  overflow: hidden;
  border: 1px solid #ddd;
  margin-bottom: 20px;
}

.tickets__sends {
  a {
    // padding: 10px 20px;
    // background: #ddd;
    // border: 1px solid #bbb;
    // margin-right: 5px;
  }
}

.tickets__mount {
  font-size: 1.8em;
}

.tickets__sends {
  padding: 18px 0;
  margin-right: -20px;
}

.tickets__detail, .tickets__mount, .tickets__sends {
  display: inline-block;
  vertical-align: middle;
}

.profile__edit {
  display: none;
  margin-top: 20px;
  width: 100%;
  text-align: center;
}
.goodMemory{
  margin-bottom: 20px;
}
.goodMemory__content {
  height: 580px;
  width: 100%;
  padding: 25px;
  color: #ffffff;
}

.goodM__head {
  margin-bottom: 60px;
}

.gMhead--logo, .gMhead--price {
  width: 50%;
}

.gMhead--price {
  float: right;
  color: #FFF;
  text-align: right;
}

.gMhead--value {
  font-size: 1.6em;
  font-weight: bold;
  display: block;

}

.gMhead--zone {
  font-size: .6em;
  font-weight: bold;
  position: relative;
  top: -10px;
}

.gMhead--logo {
  float: left;
  padding: 4px;
}

.goodM__body {
  padding: 20px 0;
  span {
    display: block;
  }
}

.gMbody--date {
  text-transform: uppercase;
  font-size: .9em;
}

.gMbody--name {
  font-size: 1.4em;
  font-weight: bold;
  font-family: $font-Fuzzpass-Bold;
}

.gMbody--qr {
  padding: 20px;
  text-align: center;
  img{
    width: 175px;
  }
}

.gMbody--code {
  text-align: center;
  font-size: 1.4em;
}

.gMbody--msg {
  text-align: center;
  margin-top: 10px;
}
.goodM__footer{
  text-align: center;
  margin-top: 10px;
  span{
    margin-top: 5px;
    display: block;
  }
}

.gM__footer--image{
  width: 50px;
}

@include tablet {
  .tickets__item {
    height: 95px;
    margin-bottom: 20px;
  }
  .tickets__mount {
    padding: 12px 0;
  }
  .tickets__sends {
    float: right;
  }
  .profile__info {
    text-align: left;
  }
  .profile__edit {
    text-align: left;
  }
  .close__wish {
    margin-top: -10px;
    margin-left: -21px;
    cursor: pointer;
    float: right;
    position: absolute;
  }
}

@include laptop-small {
  .tickets__sends {
    a {
      margin-right: 15px;
    }
  }
}

@include desktop-small {
  .tickets__sends {
    a {
      margin-right: 20px;
    }
  }
}