.producer{
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  height: 420px;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 20px;
}
.producer__info{
  color: #FFF;
  font-family: $font-Fuzzpass-Bold;
  font-size: 2.2em;
  font-weight: 600;
  margin-bottom: 20px;
  text-shadow: 1px 1px 1px rgba(0,0,0,.7);
}
.producer__image{
  width: 100%;
  margin-bottom: 10px;
  img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
}
.producer__socials{
  a{
    font-size: 2em;
    color: #FFF !important;
    margin:0 20px;
    text-shadow: 1px 1px 1px rgba(0,0,0,.7);
  }
}
@include tablet{
  .producer__info{
    position: absolute;
    left: 280px;
    top: 280px;
  }
  .producer__image {
    text-align: left;
    padding-left: 50px;
    padding-top: 120px;
  }
  .producer__socials{
    position: absolute;
    left: 265px;
    top: 338px;

    a{
      margin: 0 10px;
    }
  }
}