.dashboard_productoras{
    &__title{
        font-size: 22px;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    &__items{
        margin-bottom: 40px;
        border-left: 1px solid #CDCDCD;
        border-right: 1px solid #CDCDCD;
        border-radius: 4px;
    }
    &__item{
        display: block;
        border-bottom: 1px solid #CDCDCD;
        border-top: 1px solid #CDCDCD;
        padding: 10px 10px;
    }
    &__text{
        font-size: 16px;
        color: #B2B2B2;
        text-transform: uppercase;
    }
    &__value{
        font-size: 16px;
        &--green{
            color: #58D29A;
        }
    }

}