.register_card{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    padding: 15px 20px;
    &__panel{
        &__cards{
            &--none{
              display: none;
            }
            input{
              display: none;
            }
            &__item{
              display: flex;
              justify-content: space-between;
              align-items:center;
              border: 1px solid $color_border_btn;
              border-radius: 4px;
              padding: 12px 20px;
              margin-bottom: 10px;
              position:  relative;
              opacity: 0.4;
              &__delete{
                position: absolute;
                right: 8px;
                top: 8px;
                cursor: pointer;
                input{
                  display: none;
                }
              }
              &--active{
                opacity: 1;
                box-shadow: 0px 1px 2px rgba(0,0,0, 0.7);
              }
              &__left{
                display: flex;
                align-items:center;
                margin-right: 10px;
                strong{
                  margin-left:  5px;
                }
              }
              &__right{
                color: $color_green;
              }
            }
            &__add{
              text-align: center;
              border-bottom: 1px solid transparent;
              display: block;
              color: $color_black;
              width:140px;
              margin: auto;
              margin-top: 3px;
              &:hover{
                border-bottom: 1px solid  $color_black;
              }
            }
          }
        &__add{
            display: block;
            margin-top: 10px;
            text-align: center;
            p{
                display: inline-block;
                &:hover{
                    border-bottom: 1px solid black;
                }
            }
        }
        &__title{
            font-size: 18px;
            font-weight: bold;
            text-align: center;
        }
        &__text{
            font-size: 13px;
            text-align: center;
        }
        &__save{
            font-weight: normal;
            font-size: 13px;
        }
        &--none{
            display: none;
        }
    }
}