.sale_timer {
  font-family: $font-Fuzzpass-Bold;
  font-size: 1.2em;
  text-align: center;
}

.saleCust {
  max-width: 375px;
  /*height: 640px;*/
  border: 1px solid #ddd;
  margin: 20px auto;
  padding: 10px;
  background-color: #FFF;
}

#saleloader {
  text-align: center;
  margin-top: 20px;
  img {
    margin-top: 30px;
  }
}

.saleCust__info {
  height: 270px;
  margin-bottom: 20px;
  border-bottom: 1px solid #DDD;
  border-left: 1px solid #DDD;
  border-right: 1px solid #DDD;
  background-color: #FFF;
}

.info__detail {
  height: 220px;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 45px 20px;
  color: #FFF;

  img {
    width: 80px;
    height: 60px;
  }
}

.detail__mount {
  text-align: right;
  font-size: 1.7em;
  margin-top: 16px;
  line-height: 10px;
  float: right;
}

.mount__value {
  font-size: 1.2em;
}

.detail__zone {
  font-size: .5em;
}

.detail__event {
  margin-top: 10px;
  line-height: 24px;
}

.entries__quantity {
  color: #9d9d9d;
  padding: 10px;
  text-align: center;
  font-size: 1.5em;
}

.detail__date {
  text-transform: uppercase;
  font-size: 1.2em;
}

.detail__name {
  font-family: $font-Fuzzpass-Bold;
  font-size: 1.8em;
}

.saleCust__pay-card {
  border: 1px solid #DDD;
  padding: 10px;
  background-color: #FFF;
  margin-bottom: 10px;
  padding-bottom: 105px;
}

.saleCust__titles {
  font-size: .95em;
  font-family: $font-Fuzzpass-Bold;
}

.saleCust__dscps {
  font-size: .85em;
}

.c-card__pay--next {
  ul {
    margin-top: 15px;
    padding: 0;
    list-style: none;
  }
  h4 {
    width: 40%;
    display: inline-block;
    font-size: 1.1em;
    margin-top: 22px;
    font-weight: bold;
  }
}

.culqi_checkout {
  background-color: #FFF !important;
}
.commission__show{
  display: block;
}
@include tablet {
  .culqi_checkout {
    background-color: rgba(0, 0, 0, 0) !important;
  }
  #saleloader {
    img {
      margin: 220px 0;

    }
  }
}