<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Fuzzpass | Welcome</title>

    <style type="text/css">
        @font-face {
            font-family: 'Nova-Medium';
            src: url('https://{{ domain }}/static/fonts/Nova-Medium.otf') format('truetype');
            font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: 'Nova-Thin';
            src: url('https://{{ domain }}/static/fonts/Nova-Thin.otf') format('truetype');
            font-weight: normal;
            font-style: normal;
        }

        #outlook a {
            padding: 0;
        }

        body {
            width: 100% !important;
            font-family: 'Nova-Thin';
        }

        body {
            margin: 0;
            padding: 0;
        }

        img {
            border: none;
            outline: none;
            text-decoration: none;
        }

        #container {
            background-color: #FFFFFF;
            height: 100%;
            margin: 0;
            padding: 0;
            width: 100%;
        }

        #dateDay, #dateMonth {
            /*@editable*/
            color: #4290C8;
            /*@editable*/
            font-family: "American Typewriter", "Courier New", Courier, monospace;
            /*@editable*/
            font-size: 14px;
            /*@editable*/
            line-height: 100%;
        }

        #eventHeading {
            /*@editable*/
            color: #689A68;
            /*@editable*/
            font-family: "American Typewriter", "Courier New", Courier, monospace;
            /*@editable*/
            font-size: 12px;
            /*@editable*/
            line-height: 150%;
        }

        #messageHeading {
            /*@editable*/
            color: #fff;
            /*@editable*/
            font-family: Helvetica;
            /*@editable*/
            font-size: 28px;
            /*@editable*/
            font-weight: bold;
            /*@editable*/
            line-height: 100%;
            padding: 20px;
        }

        #content, #eventLocation {
            /*@editable*/
            color: #000000;
            /*@editable*/
            font-family: Helvetica;
            /*@editable*/
            font-size: 12px;
            /*@editable*/
            line-height: 150%;
        }

        #content a:link, #content a:visited, #eventDate a:link, #eventDate a:visited, #eventLocation a:link, #eventLocation a:visited {
            /*@editable*/
            color: #4290C8;
            /*@editable*/
            font-weight: normal;
            /*@editable*/
            text-decoration: none;
        }

        .sectionHeading {
            /*@editable*/
            color: #689A68;
            /*@editable*/
            font-family: "American Typewriter", "Courier New", Courier, monospace;
            /*@editable*/
            font-size: 12px;
            /*@editable*/
            line-height: 150%;
        }

        #buttonText a:link, #buttonText a:visited {
            /*@editable*/
            color: #FFFFFF;
            /*@editable*/
            font-family: "American Typewriter", "Courier New", Courier, monospace;
            /*@editable*/
            font-size: 14px;
            /*@editable*/
            font-weight: normal;
            /*@editable*/
            line-height: 125%;
            text-decoration: none;
        }

        /*
        @tab Footer
        @section text style
        @tip The styling for your email's footer text. Make it a color and size that is easy to read.
        */
        #footerContent, #rewards {
            /*@editable*/
            color: #000000;
            /*@editable*/
            font-family: Helvetica;
            /*@editable*/
            font-size: 12px;
            /*@editable*/
            line-height: 150%;
        }

        /*
        @tab Footer
        @section link style
        @tip The styling for your email's footer hyperlinks. Make it a color that stands out from the rest of your text.
        */
        #footerContent a:link, #footerContent a:visited, #rewards a:link, #rewards a:visited {
            /*@editable*/
            color: #4290C8;
            /*@editable*/
            font-weight: normal;
            /*@editable*/
            text-decoration: none;
        }

        .socialCell a:link, .socialCell a:visited {
            /*@editable*/
            color: #4290C8;
            /*@editable*/
            font-weight: normal;
            /*@editable*/
            text-decoration: none;
        }

        .socials li {
            display: inline-block;
            vertical-align: top;
        }

        .gs li {
            display: inline-block !important;
            vertical-align: top !important;
        }
    </style>

</head>
<body>

<table border="0" cellpadding="0" cellspacing="0" height="100%" width="320" id="container">
    <tr>
        <td align="center" valign="top">
            <table border="0" cellpadding="0" cellspacing="0" width="320" style="width:320px;">
                <tr>
                    <td align="center" valign="top" width="320">
                        <br>
                        <table border="0" cellpadding="0" cellspacing="0" width="320">
                            <!-- // Begin Template Header \\ -->
                            <tr>
                                <td align="center" valign="top">
                                    <table border="0" cellpadding="0" cellspacing="0" width="320" bgcolor="#ffffff" id="templateHeader" style="border: 1px solid #ccc;padding: 20px;">
                                        <tr>
                                            <td align="right" valign="top" width="120">
                                                <br>
                                                <div id="dateDay">
                                                    <div style="text-align: left;">
                                                        <img align="none" height="55" src="https://gallery.mailchimp.com/899f8aa9ddeebfac0eac5c696/images/b1e92d62-116e-4faf-8df3-465a5c8c197c.png"
                                                             style="width: 70px; height: 55px; margin: 0;" width="70"></div>
                                                </div>
                                            </td>
                                            <td align="center" valign="top" width="80">
                                            </td>
                                            <td align="left" valign="top" width="120">
                                                <br>
                                                <div id="dateMonth">
                                                    <br>
                                                    <span style="font-family:verdana,geneva,sans-serif"><a href="https://{{ domain }}" style="text-decoration:none;" target="_blank"><span style="color:#696969">www.fuzzpass.com</span></a></span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" colspan="4" valign="middle" style="padding:20px 0 0 0;font-size: 14px;color:#696969;">
                                                <span style="font-family:verdana,geneva,sans-serif">
                                                     Hola <strong>{{ user.first_name }}</strong>, esta es tu entrada.
                                                     <br> No olvides llegar temprano y comunicarnos si tienes algún incoveniente.
                                                     <br> Que disfrutes tu concierto!
                                                </span><br><br>
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="{{ ticket.event.color }}" id="templateHeader" style="padding: 20px;">
                                                    <tr>
                                                        <td align="right" valign="top" width="120">
                                                            <br>
                                                            <div id="dateDay">
                                                                <div style="text-align: left;">
                                                                    <img align="none" height="55" src="https://gallery.mailchimp.com/899f8aa9ddeebfac0eac5c696/images/cbe36e83-7431-44c2-aa21-bda6b3054ebd.png"
                                                                         style="width: 70px; height: 55px; margin: 0;" width="70"></div>
                                                            </div>
                                                        </td>

                                                        <td align="right" valign="top" width="120">
                                                            <br>
                                                            <div id="dateMonth">
                                                                <br>
                                                                <span style="font-family:verdana,geneva,sans-serif;color:#ffffff;font-size: 12px;">{{ currency_symbol }} {{ pre_uni }}</span>
                                                            </div>
                                                        </td>

                                                    </tr>
                                                    {% if ticket.seat %}
                                                    <tr>
                                                        <td align="left" colspan="2" width="120">
                                                            {{ ticket.seat }}
                                                        </td>
                                                    </tr>
                                                        <tr>
                                                        <td align="left" colspan="2" width="120">
                                                            {{ ticket.seat_section }}
                                                        </td>
                                                    </tr>
                                                    {% endif %}
                                                    <tr>
                                                        <td align="left" colspan="2" style="font-size: 10px; line-height: 25px; font-family: Helvetica, Arial, sans-serif; color: #ffffff;text-transform: uppercase;">
                                                            {{ ticket.event.start_date|date:"D, d" }} de {{ ticket.event.start_date|date:"M" }} / {{ ticket.event.start_date.time|date:'H:i' }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td align="left" colspan="2"
                                                            style="font-size: 25px; line-height: 25px; font-weight: bold;font-family: Helvetica, Arial, sans-serif; color: #ffffff;">{{ ticket.event|truncatechars:24 }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td align="left" colspan="2" style="font-size: 12px; line-height: 25px; font-family: Helvetica, Arial, sans-serif; color: #FFF;"
                                                            class="padding">{{ ticket.event.address }}</td>
                                                    </tr>
                                                </table>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="4">
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="{{ ticket.event.color }}" id="templateHeader" style="padding: 20px;">
                                                    <tr>
                                                        <td align="center">
                                                            <a href="https://{{ domain }}" target="_blank">
                                                                <img src="https://{{ domain }}{{ ticket.qr.url }}" style="font-family: Helvetica, arial, sans-serif; width: 100px; height: 100px;" alt="Fluid
                                                            images" border="0">
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="center" style="padding: 15px 0 0 0; font-family: Arial, sans-serif; color: #FFF; font-size: 20px;">{{ ticket.code }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td align="center" style="padding: 15px 0 0 0; " valign="middle"><a href="https://{{ domain }}/productoras/{{ ticket.event.organizer.name }}"
                                                                                                                            target="_blank" style="cursor:pointer;"><img
                                                                src="https://{{ domain }}{{ ticket.event.organizer.logo.url }}" width="54" height="54"
                                                                style="display: block; color: #666666; font-family: Helvetica, arial, sans-serif; font-size: 13px; width: 54px; height: 54px;"
                                                                alt="Fluid images" border="0" class="img-max"></a></td>
                                                    </tr>

                                                    <tr>
                                                        <td align="center" style="font-size: 12px; line-height: 25px; font-family: Helvetica, Arial, sans-serif; color: #FFF;" class="padding">Valida tu ticket
                                                            solo en la puerta del evento
                                                        </td>
                                                    </tr>
                                                </table>

                                            </td>
                                        </tr>

                                    </table>


                                </td>
                            </tr>

                            <tr>
                                {% if ticket.event.map_image %}
                                     <td valign="top" style="padding: 20px 0 0 0;" class="mobile-hide" colspan="4">
                                    <a href="https://{{ domain }}/eventos/{{ ticket.event.slug_name }}" style="cursor:pointer;" target="_blank">
                                        <img src="https://{{ domain }}{{ ticket.event.map_image.url }}" alt="alt text here" height="125" border="0" style="display: block; font-family: Arial; color:
                                                                                                                                          #666666; font-size: 14px; width:100%;height: 125px;"></a></td>
                                {% else %}

                                {% endif %}
                            </tr>

                            <br><br><br>
                            <tr>
                                <td colspan="4" align="center" style="font-weight: bold;padding: 20px 0 5px 25px; font-size: 14px; font-family: Helvetica, Arial, sans-serif; color: #333333;"
                                    class="padding">
                                    TÉRMINOS Y CONDICIONES
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4" align="justify" style="padding: 10px 0 15px 25px; text-align: justify; font-size: 13px; line-height: 24px; font-family: Helvetica, Arial, sans-serif;
                                                             color: #999;" class="padding">{{ ticket.event.terms|safe }}</td>
                            </tr>
                            <tr>
                                <td bgcolor="#ffffff" align="center" style="padding: 0 15px 0 15px;" class="section-padding">
                                    <!--[if (gte mso 9)|(IE)]>
                                    <table align="center" border="0" cellspacing="0" cellpadding="0" width="500">
                                    <tr>
                                    <td align="center" valign="top" width="500">
                                    <![endif]-->
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 500px;" class="responsive-table">
                                        <tr>
                                            <td>
                                                <!-- HERO IMAGE -->
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td colspan="2">
                                                            <!-- COPY -->
                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                <tr>
                                                                    <td align="center" style="padding: 20px 0 0 0; font-size: 16px; line-height: 25px; font-family: Helvetica, Arial, sans-serif; color: #666666;"
                                                                        class="padding">Ingresa a
                                                                        <a href="https://{{ domain }}" style="text-decoration: none; color: #666666;">fuzzpass.com</a> y entérate de más conciertos.
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                    <!--[if (gte mso 9)|(IE)]>
            </td>
            </tr>
            </table>
            <![endif]-->
                                </td>
                            </tr>

                            <tr>
                                <td bgcolor="#fff" align="center" style="padding: 0px 15px 30px 15px;" class="section-padding">
                                    <!--[if (gte mso 9)|(IE)]>
            <table align="center" border="0" cellspacing="0" cellpadding="0" width="500">
            <tr>
            <td align="center" valign="top" width="500">
            <![endif]-->
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding-bottom: 20px; max-width: 500px;" class="responsive-table">
                                        <!-- TITLE -->
                                        <tr>
                                            <td align="center" height="100%" valign="top" width="100%" colspan="2">
                                                <!--[if (gte mso 9)|(IE)]>
                        <table align="center" border="0" cellspacing="0" cellpadding="0" width="500">
                        <tr>
                        <td align="center" valign="top" width="500">
                        <![endif]-->
                                                <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:500;">
                                                    <tr>
                                                        <td align="center" valign="top" style="font-size:0;">
                                                            <div style="display:inline-block; margin: 0 -2px; max-width:385px; vertical-align:top; width:100%;">

                                                                <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                    <tr>

                                                                        <td style="padding: 40px 0 0 0;" class="no-padding">
                                                                            <!-- ARTICLE -->
                                                                            <table border="0" cellspacing="0" cellpadding="0" width="100%">
                                                                                <tr>
                                                                                    <td style="padding:0;" align="center" class="padding">
                                                                                        <table border="0" cellspacing="0" cellpadding="0" class="mobile-button-container">
                                                                                            <tr>
                                                                                                <td align="center">
                                                                                                    <!-- BULLETPROOF BUTTON -->
                                                                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                                                        <tr>
                                                                                                            <td align="center">
                                                                                                                <table border="0" cellspacing="0" cellpadding="0" class="mobile-button-container">
                                                                                                                    <tr>
                                                                                                                        <td align="center" style="border-radius: 3px;" bgcolor="#ed685d"><a href="https://{{ domain }}"
                                                                                                                                                                                            target="_blank"
                                                                                                                                                                                            style="cursor: pointer; font-size: 15px; font-family: Helvetica, Arial, sans-serif; color: #ffffff; text-decoration: none; color: #ffffff; text-decoration: none; border-radius: 3px; padding: 10px 20px; border: 1px solid #ed685d; display: inline-block;"
                                                                                                                                                                                            class="mobile-button">Ir a
                                                                                                                            Fuzzpass</a></td>
                                                                                                                    </tr>
                                                                                                                </table>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                    </table>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>

                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </div>
                                                            <!--[if (gte mso 9)|(IE)]>
                                    </td>
                                    </tr>
                                    </table>
                                    <![endif]-->
                                                        </td>
                                                    </tr>
                                                </table>
                                                <!--[if (gte mso 9)|(IE)]>
                        </td>
                        </tr>
                        </table>
                        <![endif]-->
                                            </td>
                                        </tr>
                                    </table>
                                    <!--[if (gte mso 9)|(IE)]>
            </td>
            </tr>
            </table>
            <![endif]-->
                                </td>
                            </tr>
                            <!-- // End Template Header \\ -->

                            <!-- // End Template Body \\ -->
                            <!-- // Begin Template Footer \\ -->
                            <tr>
                                <td align="center" valign="top">
                                    <table border="0" cellpadding="0" cellspacing="0" width="320" bgcolor="#2e2d2c" id="templateHeader" style="border: 1px solid #ccc;padding: 20px;">
                                        <tr>
                                            <td align="right" valign="top" width="120">
                                                <br>
                                                <div id="dateDay">
                                                    <div style="text-align: left;">
                                                        <img align="none" height="55" src="https://gallery.mailchimp.com/899f8aa9ddeebfac0eac5c696/images/cbe36e83-7431-44c2-aa21-bda6b3054ebd.png"
                                                             style="width: 70px; height: 55px; margin: 0;" width="70"></div>
                                                </div>
                                            </td>
                                            <td align="center" valign="top" width="80">
                                                <div id="khoiDot"></div>
                                            </td>
                                            <td align="left" valign="top" width="120">
                                                <br>
                                                <div id="dateMonth">
                                                    <br>
                                                    <span style="font-family:verdana,geneva,sans-serif"><a href="https://{{ domain }}" style="text-decoration:none;" target="_blank"><span style="color:#696969"></span></a></span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" colspan="4" valign="middle">
                                                <ul style="list-style: none;padding: 20px 0;">
                                                    <li style="text-align: left;font-size: 12px; padding: 10px 0;"><a href="https://{{ domain }}/sobre-fuzzpass/" target="_blank"
                                                                                                                      style="cursor: pointer; color: #FFF;text-decoration: none;font-family: Helvetica, Arial, sans-serif;">Sobre
                                                        Fuzz
                                                        Pass</a></li>
                                                    <li style="text-align: left;font-size: 12px; padding: 10px 0;"><a href="https://{{ domain }}/como-funciona/" target="_blank"
                                                                                                                      style="cursor: pointer; color: #FFF;text-decoration: none;font-family: Helvetica, Arial, sans-serif;">C&oacute;mo
                                                        Funciona</a></li>
                                                    <li style="text-align: left;font-size: 12px; padding: 10px 0;"><a href="https://{{ domain }}/productoras/" target="_blank"
                                                                                                                      style="cursor: pointer; color: #FFF;text-decoration: none;font-family: Helvetica, Arial, sans-serif;">Productoras</a>
                                                    </li>
                                                    <li style="text-align: left;font-size: 12px; padding: 10px 0;"><a href="https://{{ domain }}/terminos-y-condiciones/" target="_blank"
                                                                                                                      style="cursor: pointer; color: #FFF;text-decoration: none;font-family: Helvetica, Arial, sans-serif;">T&eacute;rminos
                                                        y
                                                        condiciones</a>
                                                    </li>
                                                    <li style="text-align: left;font-size: 12px; padding: 10px 0;"><a href="https://{{ domain }}/politicas-de-privacidad/" target="_blank"
                                                                                                                      style="cursor: pointer; color: #FFF;text-decoration: none;font-family: Helvetica, Arial, sans-serif;">Pol&iacute;ticas
                                                        de
                                                        privacidad</a>
                                                    </li>
                                                    <li style="text-align: left;font-size: 12px; padding: 10px 0;"><a href="mailto:contacto@fuzzpass.com"
                                                                                                                      style="cursor: pointer; color: #FFF;text-decoration: none;font-family: Helvetica, Arial, sans-serif;">contacto@fuzzpass.com</a>
                                                    </li>
                                                </ul>
                                                <ul style="list-style: none; padding: 0;" class="socials">
                                                    <li style="display: inline-block">
                                                        <a href="https://www.facebook.com/fuzzpass" target="_blank" style="cursor: pointer;">
                                                            <img src="https://{{ domain }}/static/images/socialI.png" style="text-align: left; width: 30px; margin: 0;" width="30">
                                                        </a>
                                                    </li>
                                                    <li style="display: inline-block">
                                                        <a href="https://twitter.com/FuzzPass" target="_blank" style="cursor: pointer;">
                                                            <img src="https://{{ domain }}/static/images/socialII.png" style="text-align: left; width: 30px; margin: 0;" width="30">
                                                        </a>
                                                    </li>
                                                    <li style="display: inline-block">
                                                        <a href="https://www.youtube.com/channel/UCOxs6_7euha3vfiOyFbl5Tw" target="_blank" style="cursor: pointer;">
                                                            <img src="https://{{ domain }}/static/images/socialIII.png" style="text-align: left; width: 30px; margin: 0;" width="30">
                                                        </a>
                                                    </li>
                                                    <li style="display: inline-block">
                                                        <a href="https://www.instagram.com/fuzzpass/" target="_blank" style="cursor: pointer;">
                                                            <img src="https://{{ domain }}/static/images/socialIV.png" style="text-align: left; width: 30px; margin: 0;" width="30">
                                                        </a>
                                                    </li>
                                                </ul>
                                                <div id="rewards" style="font-size: 12px; color: #FFF;font-family: Helvetica, Arial, sans-serif;">All Rights Reserved - Fuzz Pass &copy;&nbsp;2017</div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <!-- // End Template Footer \\ -->
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

</body>
</html>