<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Fuzzpass | Welcome</title>

  <style type="text/css">
  @font-face {
    font-family: 'Nova-Medium';
    src: url('https://{{ domain }}/static/fonts/Nova-Medium.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Nova-Thin';
    src: url('https://{{ domain }}/static/fonts/Nova-Thin.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  #outlook a {
    padding: 0;
  }

  body {
    width: 100% !important;
    font-family: 'Nova-Thin';
  }

  body {
    margin: 0;
    padding: 0;
  }

  img {
    border: none;
    outline: none;
    text-decoration: none;
  }

  #container {
    background-color: #FFFFFF;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  #dateDay, #dateMonth {
    /*@editable*/
    color: #4290C8;
    /*@editable*/
    font-family: "American Typewriter", "Courier New", Courier, monospace;
    /*@editable*/
    font-size: 14px;
    /*@editable*/
    line-height: 100%;
  }

  #eventHeading {
    /*@editable*/
    color: #689A68;
    /*@editable*/
    font-family: "American Typewriter", "Courier New", Courier, monospace;
    /*@editable*/
    font-size: 12px;
    /*@editable*/
    line-height: 150%;
  }

  #messageHeading {
    /*@editable*/
    color: #fff;
    /*@editable*/
    font-family: Helvetica;
    /*@editable*/
    font-size: 28px;
    /*@editable*/
    font-weight: bold;
    /*@editable*/
    line-height: 100%;
    padding: 20px;
  }

  #content, #eventLocation {
    /*@editable*/
    color: #000000;
    /*@editable*/
    font-family: Helvetica;
    /*@editable*/
    font-size: 12px;
    /*@editable*/
    line-height: 150%;
  }

  #content a:link, #content a:visited, #eventDate a:link, #eventDate a:visited, #eventLocation a:link, #eventLocation a:visited {
    /*@editable*/
    color: #4290C8;
    /*@editable*/
    font-weight: normal;
    /*@editable*/
    text-decoration: none;
  }

  .sectionHeading {
    /*@editable*/
    color: #689A68;
    /*@editable*/
    font-family: "American Typewriter", "Courier New", Courier, monospace;
    /*@editable*/
    font-size: 12px;
    /*@editable*/
    line-height: 150%;
  }

  #buttonText a:link, #buttonText a:visited {
    /*@editable*/
    color: #FFFFFF;
    /*@editable*/
    font-family: "American Typewriter", "Courier New", Courier, monospace;
    /*@editable*/
    font-size: 14px;
    /*@editable*/
    font-weight: normal;
    /*@editable*/
    line-height: 125%;
    text-decoration: none;
  }

        /*
        @tab Footer
        @section text style
        @tip The styling for your email's footer text. Make it a color and size that is easy to read.
        */
        #footerContent, #rewards {
          /*@editable*/
          color: #000000;
          /*@editable*/
          font-family: Helvetica;
          /*@editable*/
          font-size: 12px;
          /*@editable*/
          line-height: 150%;
        }

        /*
        @tab Footer
        @section link style
        @tip The styling for your email's footer hyperlinks. Make it a color that stands out from the rest of your text.
        */
        #footerContent a:link, #footerContent a:visited, #rewards a:link, #rewards a:visited {
          /*@editable*/
          color: #4290C8;
          /*@editable*/
          font-weight: normal;
          /*@editable*/
          text-decoration: none;
        }

        .socialCell a:link, .socialCell a:visited {
          /*@editable*/
          color: #4290C8;
          /*@editable*/
          font-weight: normal;
          /*@editable*/
          text-decoration: none;
        }

        .socials li {
          display: inline-block;
          vertical-align: top;
        }

        .gs li {
          display: inline-block !important;
          vertical-align: top !important;
        }
        </style>

      </head>
      <body>

        <table border="0" cellpadding="0" cellspacing="0" height="100%" width="320" id="container">
          <tr>
            <td align="center" valign="top">
              <table border="0" cellpadding="0" cellspacing="0" width="320" style="width:320px;">
                <tr>
                  <td align="center" valign="top" width="320">
                    <br>
                    <table border="0" cellpadding="0" cellspacing="0" width="320">
                      <!-- // Begin Template Header \\ -->
                      <tr>
                        <td align="center" valign="top">
                          <table border="0" cellpadding="0" cellspacing="0" width="320" id="templateHeader" style="border: 1px solid #ccc;padding: 20px;">
                            <tr>
                              <td align="right" valign="top" width="120">
                                <br>
                                <div id="dateDay">
                                  <div style="text-align: left;">

                                    <img align="none" height="55" src="http://165.227.127.113/static/images/23fclnegro.png"
                                style="width: 100px; height: 40px; margin: 0;" width="70">
                                  </div>
                                </td>
                                <td align="center" valign="top" width="80">
                                  <div id="khoiDot"></div>
                                </td>
                                <!--<td align="left" valign="top" width="120">
                                  <br>
                                  <div id="dateMonth">
                                    <br>
                                    <span style="font-family:verdana,geneva,sans-serif"><a href="http://reservas.festivaldelima.com/" style="text-decoration:none;" target="_blank"><span style="color:#696969">reservas.festivaldelima.com</span></a></span>
                                  </div>
                                </td>-->
                              </tr>
                              <tr>
                                <td align="center" colspan="4" valign="middle">
                                  <br>
                                  <div id="eventHeading">
                                    <div style="text-align: justify;">
                                      <span style="font-family:verdana,geneva,sans-serif">
                                        <span style="color:#A9A9A9;">
                                          <p style="font-size:12px;">Hola <span style="color: #797676;">{{ user.first_name }}, </span>
                                            <br>Tu reserva se ha realizado con éxito<br>
                                          </span>
                                          <p>Evento: <span style="font-weight: bold">{{ event }}</span></p>
                                          <p>Fecha y hora: <span style="font-weight: bold">
                                            {{ event_object.start_date|date:"D, d" }} de {{ event_object.start_date|date:"M" }} / {{ event_object.start_date.time|date:'H:i' }}
                                          </span>
                                        </p>
                                        <p>Zona: <span style="font-weight: bold">{{ ticket }}</span></p>
                                        <p>Cantidad de tickets: <span style="font-weight: bold">{{ quantity }}</span></p>
                                        <br></br>
                                        <strong>
                                          Términos y condiciones
                                        </strong>
                                        <span style="color:#A9A9A9;">
                                          <p style="font-size:12px;">
                                            {{event_object.terms|safe}}
                                            <br></br>
                                            Para ver tu invitación ingresa
                                            <a href="http://reservas.festivaldelima.com/perfil/" target="_blank">aquí</a>.<br><br>
                                          </span>
                                          <span style="color:#A9A9A9;">
                                            <p style="font-size:12px;">
                                              <br>Gracias<br>
                                              El equipo de Festival de Cine De Lima PUCP<br>
                                            </span>
                                          </span>
                                        </div>

                                            </div>
                                          </td>
                                        </tr>
                                      </table>
                                    </td>
                                  </tr>
                                  <!-- // End Template Header \\ -->

                                  <!-- // End Template Body \\ -->
                                  <!-- // Begin Template Footer \\ -->
                                 <!--  <tr>
                                    <td align="center" valign="top">
                                      <table border="0" cellpadding="0" cellspacing="0" width="320" bgcolor="#2e2d2c" id="templateHeader" style="border: 1px solid #ccc;padding: 20px;">
                                        <tr>
                                          <td align="right" valign="top" width="120">
                                            <br>
                                            <div id="dateDay">
                                              <div style="text-align: left;">
                                                <img align="none" height="55" src="https://gallery.mailchimp.com/899f8aa9ddeebfac0eac5c696/images/cbe36e83-7431-44c2-aa21-bda6b3054ebd.png"
                                                style="width: 70px; height: 55px; margin: 0;" width="70"></div>
                                              </div>
                                            </td>
                                            <td align="center" valign="top" width="80">
                                              <div id="khoiDot"></div>
                                            </td>
                                            <td align="left" valign="top" width="120">
                                              <br>
                                              <div id="dateMonth">
                                                <br>
                                                <span style="font-family:verdana,geneva,sans-serif"><a href="https://{{ domain }}" style="text-decoration:none;" target="_blank"><span style="color:#696969"></span></a></span>
                                              </div>
                                            </td>
                                          </tr>
                                          <tr>
                                            <td align="left" colspan="4" valign="middle">
                                              <ul style="list-style: none;padding: 20px 0;">
                                                <li style="text-align: left;font-size: 12px; padding: 10px 0;">
                                                  <a href="https://{{ domain }}/sobre-fuzzpass/" target="_blank"
                                                  style="cursor: pointer; color: #FFF;text-decoration: none;font-family: Helvetica, Arial, sans-serif;">Sobre
                                                  Fuzz
                                                Pass</a></li>
                                                <li style="text-align: left;font-size: 12px; padding: 10px 0;"><a href="https://{{ domain }}/como-funciona/" target="_blank" style="cursor: pointer; color: #FFF;text-decoration: none;font-family: Helvetica, Arial, sans-serif;">C&oacute;mo
                                                Funciona</a></li>
                                                <li style="text-align: left;font-size: 12px; padding: 10px 0;"><a href="https://{{ domain }}/productoras/" target="_blank" style="cursor: pointer; color: #FFF;text-decoration: none;font-family: Helvetica, Arial, sans-serif;">Productoras</a>
                                                </li>
                                                <li style="text-align: left;font-size: 12px; padding: 10px 0;"><a href="https://{{ domain }}/terminos-y-condiciones/" target="_blank" style="cursor: pointer; color: #FFF;text-decoration: none;font-family: Helvetica, Arial, sans-serif;">T&eacute;rminos
                                                  y
                                                condiciones</a>
                                              </li>
                                              <li style="text-align: left;font-size: 12px; padding: 10px 0;"><a href="https://{{ domain }}/politicas-de-privacidad/" target="_blank" style="cursor: pointer; color: #FFF;text-decoration: none;font-family: Helvetica, Arial, sans-serif;">Pol&iacute;ticas
                                                de
                                              privacidad</a>
                                            </li>
                                            <li style="text-align: left;font-size: 12px; padding: 10px 0;"><a href="mailto:contacto@fuzzpass.com" style="cursor: pointer; color: #FFF;text-decoration: none;font-family: Helvetica, Arial, sans-serif;">contacto@fuzzpass.com</a>
                                            </li>
                                          </ul>
                                          <ul style="list-style: none; padding: 0;" class="socials">
                                            <li style="display: inline-block">
                                              <a href="https://www.facebook.com/fuzzpass" target="_blank" style="cursor: pointer;">
                                                <img src="https://{{ domain }}/static/images/socialI.png" style="text-align: left; width: 30px; margin: 0;" width="30">
                                              </a>
                                            </li>
                                            <li style="display: inline-block">
                                              <a href="https://twitter.com/FuzzPass" target="_blank" style="cursor: pointer;">
                                                <img src="https://{{ domain }}/static/images/socialII.png" style="text-align: left; width: 30px; margin: 0;" width="30">
                                              </a>
                                            </li>
                                            <li style="display: inline-block">
                                              <a href="https://www.youtube.com/channel/UCOxs6_7euha3vfiOyFbl5Tw" target="_blank" style="cursor: pointer;">
                                                <img src="https://{{ domain }}/static/images/socialIII.png" style="text-align: left; width: 30px; margin: 0;" width="30">
                                              </a>
                                            </li>
                                            <li style="display: inline-block">
                                              <a href="https://www.instagram.com/fuzzpass/" target="_blank" style="cursor: pointer;">
                                                <img src="https://{{ domain }}/static/images/socialIV.png" style="text-align: left; width: 30px; margin: 0;" width="30">
                                              </a>
                                            </li>
                                          </ul>
                                          <div id="rewards" style="font-size: 12px; color: #FFF;font-family: Helvetica, Arial, sans-serif;">All Rights Reserved - Fuzz Pass &copy;&nbsp;2017</div>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr> -->
                                <!-- // End Template Footer \\ -->
                              </table>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>

                </body>
                </html>