footer{
  background-color: #000;
  height: auto;
  padding-top: 30px;
  border-top: 1px solid #c8cac7;
}
.content-logo{
  padding: 30px 0;
  width: 75px;
}
.body-nav{
  color: #FFF;
  padding: 0;

  ul{
    list-style: none;
    padding: 0;
    li{
      line-height: 30px;
      a{
        color: white !important;
        &:hover{
          
        }
      }
      a.mailto{
        color: #6b6b6b !important;
        border-bottom: 1px solid #6b6b6b;
      }
    }
  }
}
.footer{
  &__icon{
    font-size: 24px;
    color: black;
  }
  &__methods{
    &__ul{
      display: flex;
      padding:0;
    }
    &__list{
      list-style-type: none;
    }
  }

}
.footer_copyright{
  margin: 0;
  margin-right: 8px;
  color: white;
}
.navbar-nav{
  margin: 7.5px -5px;

  li{
    display: inline-block;
    width: 10%;
  }
  a{
    padding: 0 !important;
    margin-right: 20px;

    &:hover{
      text-decoration: none;
      background: none;
    }
  }
  .foot-facebook{
    &:hover{
      background: transparent !important;
      .icon-background6 {
          color: #3C589E;
      }
      .cw{
        color: #3C589E;
      }
    }
  }
  .foot-pinterest{
    background: transparent !important;
    &:hover{
      .icon-background6 {
          color: #CB2027;
      }

      .cw{
        color: #CB2027;
      }
    }
  }
  .foot-instagram{
    &:hover{
      background: transparent !important;
      .icon-background6 {
          color: #CC0078;
      }
      .cw{
        color: #CC0078;
      }
    }
  }
  .foot-twitter{
    background: transparent !important;
    &:hover{
      .icon-background6 {
          color: #5EA9DD;
      }
      .cw{
          color: #5EA9DD;
      }
    }
  }
}

.icon-background4 {
    color: #2e2d2c;
}
.icon-background6 {
    color: #FFF;
}
.cw{
  color: black;
}

@include tablet{
  .navbar-nav{
    li{
      margin-right: 20px;
    }
  }
}
@include desktop{
  .navbar-nav {
      margin: 7.5px -5px;
  }
}
