@mixin break($class) {
  @media (min-width: $class){
    @content;
  }
}

header {
  // position: fixed;
  top: 0;
  width: 100%;
  background-color: black;
  // height: 73px;
  z-index: 2;
  .container-header{
    display: flex;
    max-width: 1200px;
    margin: auto;
    padding: 0 10px;
    box-sizing: border-box;

  }
  .header__list_page{

  }
  .header__bottom{
    background: $color_yellow;
    &__flex{
        position: relative;
    }
  }
  .header__group_logo{
    width: 100%;
    padding: 10px 0;
  }
}

.mobile__nav {
  display: none;
  background-color: black;
  margin: 0;
  border-top: 1px solid #ddd;
  ul {
    padding: 0;
  }
  .nav__item {
    display: block;
    margin: 0;
    padding: 10px 25px;
    border-bottom: 1px solid #ddd;
  }
}
.header__group{
  width: 100%;
}
.header__group {
  overflow: hidden;
  padding: 10px 0;
}
.header__nav ul{
  float: right;
}
.header__nav, .header__profile {
  display: none;
}

.header__nav {
  margin-top: 10px;
  font-size: 1.5em;
  text-transform: uppercase;
}
.nav__item {
  margin: 0 20px;
  display: inline-block;
  vertical-align: middle;
  a {
    color: white !important;
    &:focus, &:active, &:hover {
      color: white !important;
      font-weight: 900;
    }
  }

}

.header__logo {
  width: 120px;
  height: auto;
}

.header__profile {
  img, span {
    color: white;
    display: inline-block;
    vertical-align: middle;
  }

  .profile__extends {
    margin-top: -12px;
    cursor: pointer;
    i {
      margin-top: 50%;
      margin-right: 60%;
    }
    &:hover {
      cursor: pointer;
    }
  }
}

.profile__link {
  font-size: .9em;
  font-family: $font-Fuzzpass-Bold;
}

.profile__photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #999;
  margin-right: 5px;
  cursor: pointer;
}

.header__mobile {
  color:white;
  margin-top: 6px;
  float: right;
  i:hover {
    cursor: pointer;
  }
}

.profile__settings {
  position: absolute;
  width: 150px;
  float: right;
  // padding-top: 10px;
  // padding-left: 15px;
  background-color: #FFF;
  // border: 1px solid #ddd;
  text-align: center;
  font-family: sans-serif;
  font-weight: 200;
  font-size: 10pt;
  color: #AAA;
  display: none;
  right: 0;
  top:100%;
  box-shadow: rgba(0, 0, 0, 0.64) 0px -1px 2px;
  box-sizing: border-box;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  ul{
    padding: 0;
    margin:0;
  }
  li {
    text-align: left;
    a{
      padding: 6px 8px;
      display: block;
      transition: .3s ease all;
      &:hover{
        background: black;
        color: white !important;
      }
    }
  }

}

.profile__settings:before {
  position: absolute;
  top: -10px;
  left: 80px;
  content: '';
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  z-index: 2;
}

.profile__settings:after {
  position: absolute;
  top: -12px;
  left: 80px;
  content: '';
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid #ddd;
  z-index: 1;
}

.header__nav--mobile {
  ul {
    margin: 0;
    padding: 45px;
  }
}

.nav__item--mobile {
  display: block;
  font-size: 1.1em;
  margin: 20px 0;
  text-transform: uppercase;

  a {
    display: block;
  }

  &:hover {
    background-color: $color_yellow;
    cursor: pointer;
  }
}

@include tablet {
  .header__group, .header__profile {
    display: inline-block !important;
    vertical-align: middle !important;
  }
  @-moz-document url-prefix() {
    .header__profile .profile__extends {
      margin-top: -21px;
    }
  }
  .header__nav, .header__logo {
    display: inline-block;
    vertical-align: middle;
  }
  .header__group {
    width: calc(100% - 200px);
  }
  .header__profile {
    // width: 200px;
    float: right;
    margin-top: 16px;
    text-align: center;
  }
  .header__profile--auth {
    // margin-top: 26px !important;
  }
  .header__mobile {
    display: none;
  }

  .Header__registerButton {
    border: 1px solid #EC685D;
    padding: 10px 35px;
    border-radius: 3px;
    text-transform: uppercase;
    background-color: #EC685D;
    color: #fff !important;
    margin-left: 8px;
    display: none;
    font-family: $font-Fuzzpass-Bold;
    &:hover {
      background-color: #fe4449;
      border: 1px solid #fe4449;
      color: #fff !important;
    }

    @include break(1232px) {
      display: inline;
    }

  }

  .header__nav {
    ul {
      list-style: none;
      padding: 0;
    }
  }
  .nav__item {
    margin: 0 5px;
    font-size: 0.65em;
  }

  .profile__settings {
    ul {
      list-style: none;
      padding: 0;
    }
  }

  .profile__link {
    font-size: 1.2em;
    cursor: pointer;
  }
  .mobile__nav {
    display: none !important;
  }
}

@include laptop-small {
  .header__nav {

  }
  .nav__item {
    font-size: 0.65em;
    margin: 0 24px;
      &:first-child{
        margin-left: 0;
      }
  }
}

@include laptop {
  .header__nav {
  }
  .nav__item {
    font-size: 0.7em;
  }
}

@include desktop-small {

}

@include desktop {
  .header__nav {
    width: 89%;
  }
  .nav__item {
    font-size: 0.8em;
    margin-left: 35px;
    margin-right: -3px;
  }
}
