html, body {
  font-family: $font-Fuzzpass-Light;
  min-width: 320px;
  background-color: white;

}

a {
  color: #444 !important;
  text-decoration: none !important;

  &:hover {
    color: #111111 !important;
  }
}

.push {
  height: 100px;

}
figure{
  margin:0 !important;
}
.general__container {
  // padding-top: 98px;
    min-height: calc(100vh - 343px);
}
fieldset{
  border: none !important;
}
.events {
  margin-top: 20px;

}

textarea, input {
  padding: 10px;
  font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;

}

.txt-dgr {
  color: #EC685D;

}

.ui-datepicker-month option {
  border: 1px solid red;
  z-index: 111;

}

.errorlist {
  color: red;
}

#form-resetpass {
  margin-bottom: 180px;

}

.txt-bld {
  font-family: $font-Fuzzpass-Bold;

}

.txt-inactive {
  margin-right: 23px;
  font-family: $font-Fuzzpass-Bold;
  font-size: 1.2em;

}

.inactive {
  background: #C4C4C4 !important;
  color: #999898 !important;

}

.register-plane {
  text-align: center;
  a {
    cursor: pointer;
  }

}

.save {
  display: none;

}

.closeMod {
  margin-top: -35px !important;
  margin-right: -86px;
  font-size: 3.2em;

}

.group-terms {
  margin-bottom: -35px;

}

.terms {
  margin-left: 35px;
  top: -35px;
  position: relative;

}

#error_1_id_terms {
  margin-top: 20px;
  position: absolute;
  margin-left: -20px;

}

#div_id_dni {
  position: relative;

}

#div_id_influence, #div_id_event{
  display: none;
}

input[type="radio"], input[type="checkbox"] {
  margin: 0 2px;
  line-height: normal;

}

input.empty {
  font-family: FontAwesome, $font-Fuzzpass-Light;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;

}

.f-akura{
  font-family: Conv_Akkurat !important;
}
.mt-5{
  margin-top: 5px !important;
}
.mb-5{
  margin-bottom: 5px ;
}
.mt-10{
  margin-top: 10px !important;
}
.mt-15{
  margin-top: 15px;
}
.mt-20{
  margin-top: 20px;
}
.ml-20{
  margin-left: 20px  !important;
}
.ml-30{
  margin-left: 30px  !important;
}
.ml-50{
  margin-left: 50px;
}
.ml-64{
  margin-left: 64px !important;
}
.ml-70{
  margin-left: 70px !important;
}
.ml-80{
  margin-left: 80px !important;
}
.ml-150{
  margin-left: 150px;
}
.mr-15{
  margin-right: 15px;
}
.d-flex{
    display: flex;
}

.justify-content-center{
    justify-content: center;
}
.justify-content-between{
    justify-content: space-between;
}
.align-items-center{
    align-items: center;
}
.align-items-end{
    align-items: flex-end;
}
.justify-content-end{
  justify-content: flex-end;
}
.flex-direction-column{
    flex-direction: column;
}
.flex-wrap{

  flex-wrap:wrap;
}
.d-inline{
    display: inline-block;
    vertical-align: top;
}
.position-relative{
  position: relative;
}
.container-base{
  width: 95%;
  max-width: 1200px;
  padding: 0 5px;
  margin: 0 auto;
}