.container-fz{
  width: 95%;
  max-width: 340px;
  padding: 0 5px;
  margin: 0 auto;
}
.container-small{
  max-width: 960px;
}
@include tablet{
  .container-fz {
    max-width: 780px;
     padding: 0 45px;
  }
}

@include laptop-small{
  .container-fz {
    max-width: 950px;
  }
}

@include laptop{
  .container-fz {
    max-width: 1150px;
  }
}

@include desktop-small{
  .container-fz {
    max-width: 1250px;
  }
  .container-small{
    max-width: 960px;
  }
}

@include desktop{
  .container-fz {
    max-width: 1500px;
  }
}