@font-face {
  font-family: 'Nova-Medium';
  src: url('../fonts/Nova-Medium.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nova-Thin';
  src: url('../fonts/Nova-Thin.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nova-Bold';
  src: url('../fonts/Nova-Bold.woff') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nova-Regular';
  src: url('../fonts/Nova-Regular.woff') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nova-Bold-w';
  src: url('../fonts/Nova-Bold.woff2') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nova-Regular-w';
  src: url('../fonts/Nova-Regular.woff2') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'stellarbold';
    src: url('../fonts/stellar-bold-webfont.eot');
    src: url('../fonts/stellar-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/stellar-bold-webfont.woff2') format('woff2'),
         url('../fonts/stellar-bold-webfont.woff') format('woff'),
         url('../fonts/stellar-bold-webfont.svg#stellarbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'stellarlight';
    src: url('../fonts/stellar-light-webfont.eot');
    src: url('../fonts/stellar-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/stellar-light-webfont.woff2') format('woff2'),
         url('../fonts/stellar-light-webfont.woff') format('woff'),
         url('../fonts/stellar-light-webfont.svg#stellarlight') format('svg');
    font-weight: normal;
    font-style: normal;

}