{% load staticfiles %}
<footer
  {%
  if
  request.company
  %}
  style="background-color: {{ request.company.footer_color }}; !important;"
  {%
  endif
  %}
>
  <div class="container-fz">
    {% comment %}
    <div class="row">
      <div class="col-lg-12 ">
        <img class="content-logo" src= {% if request.company %}
        {{ request.company.logo_reverse.url }}
        {% else %} "{% static 'images/fuzzpass-logo-white.png' %}" {% endif %} >
      </div>
    </div>
    {% endcomment %}

    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-4 col-sm-4">
            <nav class="body-nav">
              <ul>
                <li>23 Festival de cine de lima PUCP</li>
                <li>Av. Camino Real 1075 San Isidro, Lima Perú.</li>
                <li>Teléfono 942735457</li>
                <li>
                  <a class="" href="mailto: infofestival@pucp.pe"
                    >Email: infofestival@pucp.pe
                  </a>
                </li>
                {% comment %}
                <li>
                  <a href="{% url 'webs:producers-list' %}">Productoras</a>
                </li>

                {% endcomment %}
              </ul>
            </nav>
          </div>
          <div class="col-lg-4 col-sm-4">
            <nav class="body-nav">
              <ul>
                <li>CRÉDITOS WEB</li>
                <li>Contenido:23 Festival de cine de lima PUCP</li>
              </ul>
            </nav>
          </div>
          <div class="col-lg-4 col-sm-4   footer__methods">
            <ul class="footer__methods__ul d-flex justify-content-end">
              <li class="footer__methods__list">
                <img
                  src="{% static 'images/23aniopucp.png' %}"
                  alt=""
                  width="200"
                />
              </li>
              {% comment %}
              <li>
                <img src="{% static 'images/mc.png' %}" alt="" width="60" />
              </li>
              {% endcomment %}
            </ul>
          </div>
          {% comment %}

          <div class="col-lg-4 col-sm-4">
            <nav class="body-nav">
              <ul>
                <li><label for="">Contacto</label></li>
                <li>
                  <a href="mailto:contacto@fuzzpass.com"
                    >contacto@fuzzpass.com</a
                  >
                </li>
              </ul>
            </nav>
          </div>
          {% endcomment %}
        </div>
      </div>
      <div class="col-lg-3"></div>
    </div>

    <div class="d-flex justify-content-end align-items-center">
      <p class="footer_copyright">
        Una plataforma de
      </p>
      <img src="{% static 'images/Logo-Fuzzpass2.png' %}" width="50" />
    </div>
  </div>
</footer>
