{% load staticfiles %}

<header class="header">
    <div class="container-header">
        <div class="header__group_logo container-header justify-content-between align-items-center">
            <a href="/"><img class="header__logo" src="{% static 'images/logo-expo.png' %}" alt=""></a>
            <a href="/"><img class="header__logo" src="{% static 'images/logo-pucp.png' %}" alt=""></a>

        </div>



    </div>

    <div class="header__bottom">
        <div class="container-header justify-content-between header__bottom__flex">
            <nav class="header__nav">
                <ul>
                    <li class="nav__item"><a href="{% url 'webs:hw' %}" class="fzz-hw">CÓMO FUNCIONA</a></li>
                    <li class="nav__item"><a class="fzz-tcks" href="/"> RESERVAR</a></li>
                    {% comment %}
                    <li class="nav__item"><a href="{% url 'webs:producers-list' %}" class="prod-actv fzz-prs">Productoras</a></li>

                    {% endcomment %}
                    <li class="nav__item"><a href="{% url 'webs:information' %}" class="fzz-info">INFORMACIÓN</a></li>
                </ul>
            </nav>
            <div class="header__mobile"><i class="fa-navicon fa-2x fa"></i></div>
            {% if user.is_authenticated %}
                <div class="header__profile js__settings">
                    <span class="profile__link"> Hola {{ user.first_name|title|truncatechars:10 }}</span>
                </div>
            {% else %}
                <div class="header__profile header__profile--auth">
                    <a href="{% url 'accounts:login-signup' %}" class="button-main ">REGÍSTRATE</a>
                </div>
            {% endif %}
            <div class="profile__settings">
                <ul>
                    <li><a href="{% url 'accounts:profile' %}">Mi Perfil</a></li>
                    {% comment %}
                        <li><a href="{% url 'accounts:wish-list' %}">Wish List</a></li>

                    {% endcomment %}
                    <li><a href="{% url 'accounts:logout' %}">Cerrar Sesión</a></li>
                </ul>
            </div>

        </div>
    </div>
    <div class="mobile__nav">
        <ul>
            <li class="nav__item nav__item--mobile"><a href="{% url 'webs:hw' %}">CÓMO FUNCIONA</a></li>
            {% comment %}
                <li class="nav__item nav__item--mobile"><a href="{% url 'webs:producers-list' %}">Productoras</a></li>
            {% endcomment %}
            <li class="nav__item nav__item--mobile"><a href="/">RESERVAR</a></li>
            <li class="nav__item nav__item--mobile"><a href="{% url 'webs:information' %}">INFORMACIÓN</a></li>
            {% if user.is_authenticated %}
                <li class="nav__item nav__item--mobile"><a href="{% url 'accounts:profile' %}">perfil</a></li>
                <li class="nav__item nav__item--mobile"><a href="{% url 'accounts:logout' %}">Salir</a></li>
            {% else %}
                 <li class="nav__item nav__item--mobile"><a href="{% url 'accounts:login-signup' %}">REGÍSTRATE</a></li>
            {% endif %}
        </ul>
    </div>
</header>