.button {
  background-color: #EC685D;
  border-radius: 4px;
  border-color: #EA584C;
  color: #FFF !important;
  font-weight: 700;
  padding: 10px;
  text-align: center;
  font-family: $font-Fuzzpass-Bold;
  font-size: .9em;

  &:hover {
    background-color: #fe4449;
    color: #FFF !important;
  }
}
.button--dark{
  background: black;
  color:white;
  font-family: Conv_Akkurat;
  &:hover{
    background-color: black;
    // color: #FFF !important;
  }
}
.button--resent {
  border: 1px solid #FFF;
  font-size: .75em;

}
.button-main{
  color: $color_yellow !important;
  background: $color_blue;
  border-radius: 30px;
  padding: 8px 15px;
  border: none;
  font-family: $font-Fuzzpass-Bold;
  &--auth{

  }
  &:hover{
    color: $color_yellow !important;
    font-weight: bold;
  }

}
.button-red{
  color: $color_white !important;
  background: $color_red;
  border-radius: 30px;
  padding: 12px 30px;
  font-family: $font-Fuzzpass-Bold;
  border: none;
  &:hover{
    color: $color_white !important;
    font-weight: bold;
  }
}
.button-black{
  color: $color_white !important;
  background: black;
  border-radius: 30px;
  padding: 12px 30px;
  border: none;
  &:hover{
    color: $color_white !important;
    font-weight: bold;
  }
}
.button--full {
  width: 100%;
  border: none;
  border-radius: 2px;
  padding: 18px 0;
  font-family: $font-Fuzzpass-Light;
}

.button--saleCust {
  float: right;
  width: 150px;
  margin-top: 15px;
  padding: 10px;
  box-shadow: none !important;
  border: none !important;
}

.button--warning {
  background-color: #EC685D;
  border-color: #EA584C;
  color: #FFF !important;
  text-align: center;
  font-weight: bold;
  padding: 15px 20px;
  line-height: 35px;
  margin-top: -25px;
  margin-bottom: 25px;
  font-family: $font-Fuzzpass-Bold;
}

.button--update, .button--success {
  background-color: #6ACA75;
  width: 100%;
  padding: 10px 60px;
  color: #FFF;
  border: 1px solid #6ACA75;
  text-align: center;
  font-family: $font-Fuzzpass-Bold;
  &:hover {
    background-color: #6ACA75;
  }
}

.button--update2 {
  width: 50px;
  background-color: transparent;
  color: #6ACA75 !important;
}

.button--pay {
  float: right;
  width: 124px;
  margin-top: 6px;
  padding: 10px;
}

.button--link {
  padding: 10px;
}

.button--pay-two {
  margin-top: 7px !important;
}

.button--facebook {
  background-color: #5273A8;
  border: 1px solid #1F4684;
  padding: 20px 15px;
  border-radius: 2px;
  margin-bottom: 20px;
  font-family: $font-Fuzzpass-Light;
  width: 100%;

  &:hover {
    background-color: #1F4684;
  }
}


.button--sign-in {
  border: 1px solid #111111;
  padding: 10px 35px;
  border-radius: 3px;
  // text-transform: uppercase;
  background-color: white;
  font-weight: 900;
  border: 1px solid transparent;
  &:hover{
    background-color: black;
    color:white !important;
    border: 1px solid white;
  }
}

.button--search {
  width: 100%;
  height: 37px;
  padding: 8px 15px;
  border-radius: 3px;
  font-size: 1.1em;
  display: block;
}

#pagar-cero {
  cursor: pointer;
}

@include tablet {
  .button--update2 {
    float: right;
  }
  .button--pay {
    width: 102px;
    font-size: .79em;
    margin-top: 0;
  }
  .button--update {
    padding: 10px
  }
  .button--facebook {
    padding: 16px 105px;
  }
  .button--saleCust {
    width: 145px;
  }
}

@include laptop-small {
  .button--pay {
    width: 148px;
    font-size: .85em;
    margin-top: -7px;
  }
  .button--pay-two {
    margin-top: 9px !important;
    width: 103px !important;
  }
}

@include laptop {
  .button--pay {
    width: 148px;
    font-size: .85em;
    margin-top: 5px;
  }
}

@include desktop-small {
  .button--pay {
    width: 188px;
    font-size: 1.5em;
    margin-top: 0;
  }
  .button--pay-two {
    width: 137px !important;
    font-size: 1em;
  }
}

@include desktop {
  .button--pay {
    width: 210px;
    font-size: 1.5em;
    margin-top: 0;
  }
  .button--pay-two {
    width: 179px !important;
  }
}