.addeventatc {
  border: none !important;
  margin-top: 14px;
  display: none;
}

.c-card {
  margin: 0 auto;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  min-height: 395px;
  // border-radius: 6px;
  &:hover{
    box-shadow: 0 14px 56px -20px rgba(0,0,0,0.64);
    transition-timing-function: ease-out;
    transition-duration: .15s;
    transform: translateY(-3px)
  }

}

.c-card__image {
  img {
    max-width: 100%;
  }
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.c-card__date {
  h5 {
    width: 80%;
    display: inline-block;
    font-size: 1.2em;
    color: #999;
  }
  .c-card__icons {
    float: right;
    width: 20%;
    text-align: right;
    margin-top: -18px;
    margin-bottom: 10px;
    color: #999;
    font-size: 1.2em;
    span {
      margin-right: -1px;
    }

    i:hover {
      cursor: pointer;
    }
  }
}

.wish__icons {
  position: absolute;
  right: 30px;
  margin-top: -22px;
  z-index: 1;
}

.c-card__title {
  font-weight: 700;
  margin-top: 0;
  font-family: $font-Fuzzpass-Bold;
}

.c-card__pay--two {
  margin-top: 20px;
  text-align: left !important;
}

.c-card__pay {
  overflow: hidden;
  h4 {
    width: 50%;
    display: inline-block;
    font-size: 1.6em;
    margin-top: 15px;
  }
}

.c-card__info {
  padding: 1.5em;
  background: #FFF;
  border-top: 1px solid #ddd;
}

.c-card__address {
  display: none;
}

.c-card__icons {
  .fa-heart {
    color: #ac2925;
  }
}

/*.lock {
  .fa-heart {
    display: none;
  }
  &:hover {
    cursor: pointer;
    .fa-heart {
      display: inherit;
      color: #ac2925;
    }
    .fa-heart-o {
      display: none;
    }
  }
}*/

@include tablet {
  .c-card__pay--two {
    text-align: right !important;
    margin-right: 20px;
  }
  .c-card__title {
    font-size: 17px;
  }
}

@include laptop-small {
  .c-card__date {
    h5 {
      font-size: 1.1em;
    }
  }
  .c-card__title {
    font-size: 14px;
  }

}

@include desktop-small {
  .c-card__pay {
    h4 {
      font-size: 2em;
    }
  }
  .c-card__date {
    h5 {
      font-size: 1.5em;
    }
    .c-card__icons {
      span {
        margin-right: -2px;
      }
    }
  }
  .wish__icons {
    margin-top: 23px;
  }

  .c-card__title {
    font-size: 19px;
    min-height: 46px;
  }

}

@include desktop {
  .c-card__title {
    font-size: 21px;
  }
}