.c-carousel-inner--events {
  max-width: 540px;
  margin: 0 auto;
}

.carousel-control {
  display: none;
}

.c-item--event {
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 20px;
  border: 1px solid #ddd !important;
  &__img{
    width: 100%;
  }
}
.event__button_pay{
  float: right;
}
.c-event__image {
  height: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
  @include tablet {
    height: 200px;
  }
  @include laptop {
    height: 250px;
  }
}

.c-event__date {
  overflow: hidden;

  h5 {
    width: 80%;
    display: inline-block;
    font-size: 1.2em;
    color: #999;
  }
  .c-event__icons {
    float: right;
    width: 20%;
    text-align: right;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #999;
    font-size: 1.2em;
    span {

      margin-right: 2px;
    }
    i:hover {
      cursor: pointer;
    }
  }
}

.c-event__icons .fa-heart {
  color: #ac2925;
}

.c-event__title {
  font-weight: 700;
  margin-top: 0;
  font-family: $font-Fuzzpass-Bold;
}

.c-event__message{
  text-align: center;
  font-family: $font-Fuzzpass-Bold;
  font-size: 18px;
  margin-top: 35px;
}

.c-event__pay {
  margin-bottom: 7px;
  overflow: hidden;
  h4 {
    // width: 100%;
    display: inline-block;
    font-size: 16px;
    margin-top: 15px;
  }
}

.c-event__info {
  padding: .5em;
  background: #FFF;
  border-left: 1px solid #ddd;
  &__msg_login{
    margin-top: 17px;
  }
  &__img{
    width: 100%;
  }
}

.c-event__address {
  iframe,.c-address__assis{ display: none;}
}
.c-address__name{
   display: block;
  }

@include tablet {
.c-event__address {
  iframe,.c-address__assis{ display: block;}
}
  .c-carousel-inner--events {
    max-width: 820px;
  }

  // ================= Override Carousel ========================
  .carousel-control {
    width: 5%;
    display: block;

    .icon-prev, .icon-next {
      height: 60px !important;
    }

    img {
      width: 20px;
      height: 50px;
    }
  }
  .carousel-control.left, .carousel-control.right {
    background-image: none !important;
  }

  .carousel-control.right {
    right: -6%;
  }
  .carousel-control.left {
    left: -6%;
  }
  // ================= End Override Carousel ========================

  // .c-item--event {
  //   height: 305px;
  // }
  .c-event__image, .c-event__info {
    float: left;
    display: inline-block;
  }
  .c-event__image {
    width: 100%;
    height: 360px;
  }
  .c-event__name_date{
    width: 40%;
    display: inline-block;
    vertical-align: top;
  }
  .c-event__info_pay{
    width: 58%;
    display: inline-block;
    vertical-align: top;
  }
  .c-event__info {
    width: 100%;
    // height: 100%;
    padding: 1.2em;
  }
  .c-event__title {
    font-size: 14px;
  }
  .c-event__address {
    display: block;
    iframe {
      width: 100%;
      height: 100px;
      border: 0;
    }
    h5 {
      font-size: 0.7em;
      i {
        width: 15px;
        text-align: center;
      }
    }
  }

  .c-event__address--two {
    iframe {
      height: 55px;
    }
  }
  .c-event__address--two_large{
    iframe {
      height: 75px;
    }
  }

  .c-event__pay {
    margin-bottom: 10px;
    h4 {
      margin-top: 7px;
    }
  }
  .event__button_pay{
    float: right;
  }
}

@include laptop-small {
  .c-carousel-inner--events {
    max-width: 950px;
  }
  .c-event__pay {
    h4 {
      width: 55%;
    }
  }
  .c-event__pay {
    h4 {
      margin-top: 1px;
    }
  }
  .c-event__address {
    h5 {
      font-size: .9em;
    }
  }
  .c-event__title {
    font-size: 20px;
  }
  // .c-item--event {
  //   height:320px;
  // }
}

@include laptop {
  .c-carousel-inner--events {
    max-width: 1150px;
  }
  // .c-item--event {
  //   height: 360px;
  // }
  // .c-event__address {
  //   iframe {
  //     height: 135px;
  //   }
  // }
  // .c-event__address--two {
  //   iframe {
  //     height: 80px;
  //   }
  // }
  .c-event__pay {
    h4 {
      margin-top: 5px;
      font-size: 18px;
    }
  }
}

@include desktop-small {
  .c-event__info {
    padding: 1.5em;

  }
  .c-carousel-inner--events {
    max-width: 1250px;
  }
  .c-event__pay {
    h4 {
      margin-top: 15px;
      font-size: 18px;
    }
  }
  .c-event__address--two {
    iframe {
      height: 65px;
    }
  }
  .c-event__address--two_large{
    iframe {
      height: 105px;
      margin-bottom: 15px;
    }
  }
  .c-event__title {
    font-size: 22px;
  }
}

@include desktop {
  .c-carousel-inner--events {
    max-width: 1500px;
  }
  // .c-item--event {
  //   height: 470px;
  // }
  .c-event__title {
    font-size: 32px;
  }
  .c-event__address {
    iframe {
      height: 200px;
    }
    h5 {
      font-size: 1.4em;
      i {
        width: 30px;
      }
    }
  }
  .c-event__address--two {
    iframe {
      height: 120px;
    }
  }
  .c-event__address--two_large{
    iframe {
      height: 245px;
      margin-bottom: 15px;
    }
  }
  .c-event__date {
    h5 {
      font-size: 1.9em;
    }
    .c-event__icons {
    }
  }
  .c-event__pay {
    h4 {
      margin-top: 10px;
      font-size: 2.2em;
    }
  }
}
