/* Let's get this party started */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: #999;
  -webkit-border-radius: 1px;
  border-radius: 1px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 1px;
  border-radius: 1px;
  background: #999;
  -webkit-box-shadow: inset 0 0 6px rgba(221, 221, 221, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: #9d9d9d;
}

.checkbox label {
  display: block !important;
}

#div_id_musicals label {
  float: left;
  margin-left: 14px;
  display: block !important;
}

#div_id_musicals .controls .checkbox{
  display: inline-block;
  vertical-align: middle;
  line-height: 12px;
  width: auto;
  margin-right: 6px;
  padding-right: 15px;
  margin-left: -15px;
}

.modal {
  background: rgba(0, 0, 0, 0.42);
}

.popups {
  border-radius: 2px;
  .modal-header {
    border: none;
    text-align: center;
    img {
      width: 90px;
    }
  }

  .modal-content {
    padding: 35px 95px;
    border-radius: 1px;
    box-shadow: none !important;
    border: none;
  }
  .modal-body {
    label {
      display: none;
    }

    .form-horizontal {
      margin: 0 auto;
      .form-group {
        .controls {
          .form-control {
            height: 54px;
            border-radius: 3px;
            &:focus {
              box-shadow: none !important;
              border: 1px solid rgba(7, 7, 7, .4);
            }
            &:invalid {
              color: #ac2925;
            }
          }
        }
      }
      .custom-dropdown__select {
        width: 100%;
        padding: 18px;
        border: 1px solid rgba(7, 7, 7, .2);
        border-radius: 2px;
        background-color: #FFF;
        &:focus {
          border: 1px solid #555 !important;
          box-shadow: none !important;
        }
      }
      .btn-submit {
        width: 100%;
        position: absolute;
        margin-top: 40px;
        border-radius: 2px;
        padding: 15px;
        background-color: #EC685D;
        color: #FFF;
        font-weight: 700;
        margin-left: 0;
        margin-top: 25px;
      }

    }
  }
  .modal-footer {
    border-top: none;
    margin-top: 85px;
    text-align: center;
    padding: 0;
    .forget-pass {
      position: absolute;
      margin-top: -100px;
      right: 120px;
      width: auto;
      text-align: right;
      &:hover {
        text-decoration: none;
      }
    }
    #btn-register {
      cursor: pointer;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.popups--mails, .popups--mails__profile {
  .modal-dialog {
    height: auto !important;
  }
}

#div_id_terms {
  margin-left: 15px !important;
}

#div_id_terms label {
  display: block !important;
}

@media only screen and (max-width: 425px) {
  .popups {
    border-radius: 2px;
    .modal-header {
      border: none;
      text-align: center;
    }
    .modal-content {
      padding: 80px 40px;
      border-radius: 1px;
      box-shadow: none !important;
      border: none;
    }
    .modal-body {
      label {
        display: none;
      }
      .form-horizontal {
        .form-group {
          .controls {
            .form-control {
              height: 54px;
              border: 1px solid #555;
              border-radius: 3px;
              &:focus {
                box-shadow: 0 2px 1px rgba(7, 7, 7, .4);
              }
            }
          }
        }
      }
    }
    .modal-footer {
      border-top: none;
      .forget-pass {
        position: absolute;
        margin-top: -60px;
        right: 60px;
      }
    }
  }
}

@include tablet {
  #form-register {
    .modal-dialog {
      max-width: 500px;
      max-height: 700px;
    }

    .modal-content {
      padding: 35px 55px;
    }

  }
}