.select-zonas{
  display: block;
  width: 100%;
  padding: 10px;
  margin: 12px 0;
  background: #fff;
  border-radius: 2px;
  font-size: 1.5em;
}
@include tablet{

  .select-zonas{
    font-size: .8em;
  }
}

@include laptop{
  .select-zonas{font-size: .9em;}
}

@include desktop-small{
  .select-zonas{font-size: 1em;}
}