.title3 {
  font-size: 1.7em;
  color: #333;
}
.subtitle{
  color: #aaaaaa;
  font-size: 1.2em;
}
.subtitle2{
  color: #aaaaaa;
  font-size: .8em;
}
.title2{
  text-transform: uppercase;
  font-size: 1.6em;
  font-family: 'Nova-Thin';
  color: #111111;
}


.buy-container{
  padding: 30px 20px;
  border: 1px solid #777777;
  background-color: #FFF;
}
.buy-content__data{
  display: inline-block;
  width: 45%;
}
.buy-content__data--logo img{
  width: 220px;
  height: 160px;
}
.tickets-header{
  background: #fff none repeat scroll 0 0;
  border: 1px solid #aaa;
  height: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 20px;

  .ticket-organizer{
    font-size: .9em;
    color: #bbbbbb;
    float: right;
    text-align: center;

    .tickets-header_cover{
      width: 400px;
      height: 180px;
    }
  }
}
.tickets-header_organizer{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  float: left;
}
.change_image{
  background: #ddd none repeat scroll 0 0;
  color: #111;
  left: 40%;
  padding: 5px;
  position: absolute;
  top: 40%;

  a{
    text-decoration: none;
  }
}
.ticket_collection_content {
  background-color: #ffffff;
  border: 1px solid #ddd;
  padding: 20px 45px;
  text-align: justify;
  line-height: 40px;
  font-size: 1.2em;
  margin-bottom: 20px;

  h2 {
    text-transform: uppercase;
    font-size: 1.2em;
    color: #777777;
    font-weight: bold;
  }
}
.ticket_collection_widget {
  background-color: #DEDEDE;
  border: 1px solid #777;
  padding: 35px;
  text-align: center;
  font-family: 'Nova-Thin';

  .ticket_collection_widget_numbers{
    padding: 50px;
    color: #A09F9F;
    span{
      font-size: 2em;
      font-weight: 600;
    }
  }
}
#more_content{
  cursor: pointer;
}
.detail_content_sold{
  padding: 20px 45px;
  background: #ffffff;
  border: 1px solid #dddddd;
  span{
    font-size: 1.2em;
  }
}
.coupon-terms{/*
  padding: 20px;
  border: 1px solid #bbb;
  margin-top: 20px;*/
  padding: 5px 10px;

  h2 {
    text-transform: uppercase;
    font-size: 1.2em;
    color: #777777;
    font-weight: bold;

  }
  p{
    text-align: justify;
  }
}
.coupon_event_map{
  margin: 20px 0;
  border: 1px solid #bbb;
  iframe{
     width: 100%;
  }
}
.sm-circle{
  height:45px;
  width:90px;
  border-radius: 0 0 90px 90px ;
  -moz-border-radius: 0 0 90px 90px ;
  -webkit-border-radius: 0 0 90px 90px ;
  background: #ffffff;
  top: 30px;
  left: 44%;
}
.modal--custom-deposito{
  .modal-dialog{
    max-width: 500px;
    .modal-content{
      padding-right: 30px;
      padding-left: 30px;
    }
    .btn-deposito{
      display: block;
      margin: auto;
      width: 112px;
      color:white !important;
    }
  }
}
.modal-dialog-reserva{
    max-width: 530px;
    .modal-title{
        font-size: 22px;
        font-weight: bold;
        text-align: center;
        color:black;
    }
    .modal-check{
        color: white;
        background: #5cb85c;
        border-radius: 50%;
        font-size: 24px;
        padding: 15px;
        margin-bottom: 10px;
    }
    .modal-header{
        padding: 45px 20px 20px 20px;
        border-bottom: none;
        text-align:center;
        .close{
            margin-top: -30px;
        }
    }
    .modal-body{
        padding: 20px 20px 45px 20px;
        padding-top: 0;
        text-align:center;
        .modal-body-bold{
            font-weight: bold;
        }
    }
    .modal-form{
        max-width: 400px;
        margin:auto;
        text-align: center;
        input{
            margin:auto;
            margin-bottom: 15px;
            max-width: 250px;
        }
    }
    .modal-event-name{
        font-size: 17px;
        margin: 4px 0 12px 0;
    }
    .modal-button{
        max-width: 180px;
        display: block;
        width: 180px;
        margin:auto;
    }
}
.modal--custom{
  .modal-dialog{
    max-width: 355px;
  }
  .modal-content{
    box-shadow: none;
    border-radius: 2px;
    .coupon__content{
      padding: 10px;
      font-size: .8em;
      text-align: center;
      color: #ffffff;
      margin-bottom: 20px;
      .coupon__event-name{
        text-align: left;
      }
      .coupon__event-name{
        text-align: left;
      }
      .coupon__logo{
        text-align: left;
        margin-bottom: 20px;
        img{
           width: 118px;
        }
      }
    }

    .modal-header{
      border-bottom: none !important;
      padding: 10px 15px;
    }

    .modal-body{
      padding: 0 15px !important;
      text-align: center;
      margin-bottom: 20px;
      > img{
        width: 100%;
        margin-bottom: 20px;
      }
      .coupon__location{
        border: 1px solid #777777;
        margin-bottom: 20px;
        iframe{
          width: 100%;
          border: 0 !important;

        }
      }
    }
  }
}

.terSho, .terSho2{
  display: none;
}
.coupon__datetime{
  font-size: 14px;
  text-align: left;
  // text-transform: uppercase;
}
.coupon-content_event-cost{
  font-size: 16px;
  font-family: $font-Fuzzpass-Light;
}

.coupon__event-name{
  font-size: 18px;
  font-family: $font-Fuzzpass-Bold;
}

.coupon-content_code{
    span{
        font-size: 1.3em;
    }
    .ticket_code{
        font-size: 18px;
        font-family: $font-Fuzzpass-Bold;
    }
}

.modal--custom-deposito{
  .modal-deposite{
    p{
      margin-bottom: 0;
    }
    .row{
      margin-bottom: 15px;
    }
  }
  .modal-dialog{
    max-width: 500px;
    .modal-content{
      padding-right: 30px;
      padding-left: 30px;
    }
    .btn-deposito{
      display: block;
      margin: auto;
      width: 112px;
      color:white !important;
    }
  }
}

@media screen and (max-width: 560px) {
  .modal--custom-deposito{
    .modal-deposite{
      .row{
        margin-bottom: 10px;
      }
    }
    .modal-dialog{
      .modal-content{
        padding-right: 0px;
        padding-left: 0px;
      }
    }
  }
}