{% extends 'layout.html' %}
{% load staticfiles %}
{% load web_extras %}
{% block title %}Productoras{% endblock %}
{% block extra_styles %}

{% endblock %}
{% block content %}
<div class="container dashboard_productoras">
    <div class="row">
        <div class="col-md-12">
            <h3 class="dashboard_productoras__title">
                En curso
            </h3>
            <div class="dashboard_productoras__items">
                {% for pro in events_progress %}
                    <a href='{% url "webs:dashboard_producers_detail" pro.slug_name %}' class="dashboard_productoras__item">
                        <div class="row">
                            <div class="col-md-4">
                                <p class='dashboard_productoras__text'>{{pro.start_date}}</p>
                                <h4 class='dashboard_productoras__value'>{{pro.name}}</h4>
                            </div>
                            <div class="col-md-3">
                                <p class='dashboard_productoras__text'>Tickets Vendidos</p>
                                <h4 class='dashboard_productoras__value'>{{pro.ticket_bought_count}}</h4>
                            </div>
                            <div class="col-md-3">
                                <p class='dashboard_productoras__text'>ESTADO</p>
                                <h4 class='dashboard_productoras__value'>{{pro.get_status_commission_display}}</h4>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                    </a>
                {% empty %}
                <div class="dashboard_productoras__item">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>No se encontro eventos en curso</h4>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <h3 class="dashboard_productoras__title">
                Eventos pasados
            </h3>
            <div class="dashboard_productoras__items">
                {% for event in events_past %}

                <a href='{% url "webs:dashboard_producers_detail" event.slug_name %}' class="dashboard_productoras__item">
                    <div class="row">
                        <div class="col-md-4">
                            <p class='dashboard_productoras__text'>{{event.start_date}}</p>
                            <h4 class='dashboard_productoras__value'>{{event.name}}</h4>
                        </div>
                        <div class="col-md-3">
                            <p class='dashboard_productoras__text'>Tickets Vendidos</p>
                            <h4 class='dashboard_productoras__value'>{{event.ticket_bought_count}}</h4>
                        </div>
                        <div class="col-md-3">
                            <p class='dashboard_productoras__text'>ESTADO</p>
                            <h4 class='dashboard_productoras__value'>{{event.get_status_commission_display}}</h4>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_scripts %}

{% endblock %}