{% extends 'layout.html' %}
{% load staticfiles humanize l10n %}
{% load web_extras %}
{% block title %}Productoras{% endblock %}
{% block extra_styles %}

{% endblock %}
{% block content %}
<div class="container dashboard_productoras">
    <div class="row">
        <div class="col-md-12">
            <div class="dashboard_productoras__items">
                <form method='GET' action="" class="dashboard_productoras__item">
                    <div class="row">
                        <div class="col-md-5">
                            <p class='dashboard_productoras__text'>EVENTO</p>
                            <h4 class='dashboard_productoras__value'>{{object.name}}</h4>
                        </div>
                        <div class="col-md-4">
                            <p class='dashboard_productoras__text'>FECHA</p>
                            <h4 class='dashboard_productoras__value'>{{object.start_date}}</h4>
                        </div>
                        <div class="col-md-3">
                            <p class='dashboard_productoras__text'>ESTADO</p>
                            <h4 class='dashboard_productoras__value'>{{object.get_status_commission_display}}</h4>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                    {% with event_ticket=object|ticket_filter %}
                    <div class="row mt-15">
                        <div class="col-md-2">
                            <p class='dashboard_productoras__text'>&nbsp;</p>
                            <h4 class='dashboard_productoras__value'>TODAS</h4>
                        </div>
                        <div class="col-md-2">
                            <p class='dashboard_productoras__text'>Tickets Vendidos</p>
                            <h4 class='dashboard_productoras__value'>{{event_ticket.count}}</h4>
                        </div>
                        <div class="col-md-2">
                            <p class='dashboard_productoras__text'>Recaudación</p>
                            <h4 class='dashboard_productoras__value'>S/ {{event_ticket.mount|unlocalize|intcomma}}</h4>
                        </div>
                        <div class="col-md-2">
                            <p class='dashboard_productoras__text'>Comisión</p>
                            <h4 class='dashboard_productoras__value'>{{object.commission|unlocalize|intcomma}} %
                                {% if object.include_igv %}
                                    + IGV
                                {% endif %}
                            </h4>
                        </div>
                        <div class="col-md-2">
                            <p class='dashboard_productoras__text'>Comisión en S/</p>
                            <h4 class='dashboard_productoras__value'>S/ {{event_ticket.total_commision|unlocalize|intcomma}}</h4>
                        </div>
                        <div class="col-md-2">
                            <p class='dashboard_productoras__text'>Total por cobrar</p>
                            <h4 class='dashboard_productoras__value'>S/ {{event_ticket.total_cobrar|unlocalize|intcomma}}</h4>
                        </div>
                    </div>
                    {% endwith %}
                    {% for zone in zones %}
                        {% with event_ticket=object|ticket_filter:zone.id %}
                        <div class="row mt-15">
                            <div class="col-md-2">
                                <p class='dashboard_productoras__text'>&nbsp;</p>
                                <h4 class='dashboard_productoras__value'>{{zone.name}}</h4>
                            </div>
                            <div class="col-md-2">
                                <p class='dashboard_productoras__text'>Tickets Vendidos</p>
                                <h4 class='dashboard_productoras__value'>{{event_ticket.count}}</h4>
                            </div>
                            <div class="col-md-2">
                                <p class='dashboard_productoras__text'>Recaudación</p>
                                <h4 class='dashboard_productoras__value'>S/ {{event_ticket.mount|unlocalize|intcomma}}</h4>
                            </div>
                            <div class="col-md-2">
                                <p class='dashboard_productoras__text'>Comisión</p>
                                <h4 class='dashboard_productoras__value'>{{object.commission|unlocalize|intcomma}} %
                                    {% if object.include_igv %}
                                        + IGV
                                    {% endif %}
                                </h4>
                            </div>
                            <div class="col-md-2">
                                <p class='dashboard_productoras__text'>Comisión en S/</p>
                                <h4 class='dashboard_productoras__value'>S/ {{event_ticket.total_commision|unlocalize|intcomma}}</h4>
                            </div>
                            <div class="col-md-2">
                                <p class='dashboard_productoras__text'>Total por cobrar</p>
                                <h4 class='dashboard_productoras__value'>S/ {{event_ticket.total_cobrar|unlocalize|intcomma}}</h4>
                            </div>
                        </div>
                        {% endwith %}
                    {% endfor %}
                </form>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <a href="{% url 'webs:dashboard_producer_excel' object.slug_name %}" class=' btn-large button button--dark '>Exportar </a>

    </div>
</div>
{% endblock %}

{% block extra_scripts %}
<script>
    jQuery(document).ready(function($) {
        $("#zone").change(function(event) {
            $(".dashboard_productoras__item").submit()
        });
    });
</script>
{% endblock %}