{% extends 'layout.html' %}
{% load staticfiles %}
{% block title %}{{ event.name }}{% endblock %}

{% block meta %}
    <meta name="description" content="{{ event.description|safe }}"/>
    <meta name="keywords"
          content="Fuzz Pass, venta de tickets, entradas para conciertos en Lima, Lima, Peru, tickets para conciertos, informacion musical, musica en Peru, Conciertos en Peru, conciertos en lima, eventos, disqueras, feria de discos,"/>
    <meta property="og:title" content="{{ event.name }}"/>
    <meta property="og:url" content="https://fuzzpass.com/eventos/{{ event.slug_name }}"/>
    <meta property="og:image" content="https://fuzzpass.com{{ event.front.url }}"/>
    <meta property="og:description" content="{{ event.description|safe }}"/>
    <meta property="fb:page_id" content="1039760222746515">
{% endblock %}

{% block content %}
    <div ng-app="events">
        <div ng-controller="eventsAllController" ng-cloak>
            {% include 'contentPages/contentEvent.html' %}
        </div>
    </div>

{% endblock %}

{% block extra_scripts %}
    <script>
        localStorage.clear();
        /* =============== Pre Sale ================= */
        var zones, zoneValue, zoneCost, zoneQuantity, zoneName, zoneCommission, subtotalValue, totalValue, commissionValue, zoneID;

        $(document).ready(function () {
            $(".button--sign-in").attr('href', '/iniciar-sesion/?next=/eventos/{{event.slug_name}}/');
            zones = {{ event.zones_dict|safe }};
            zoneID = zones[0].id;
            zoneCost = zones[0].value;

            if (zones[0].quantity <= 0) {
                $('#event-quantity__zonas').attr('disabled', true);
                $('#buy-request').attr('style', 'pointer-events: none; cursor: default; background-color: #f7c4c0 !important;');
            } else {
                $('#event-buy-request').attr('disabled', false);
                $('#buy-request').attr('style', '');
            }

            zoneQuantity = parseInt($("#event-quantity__zonas").val());
            totalValue = calculateTotal(zoneCost, zoneQuantity);
        });

        function calculateTotal(cost, quantity) {
            localStorage.clear();
            subtotalValue = parseFloat(cost * quantity);
            if (subtotalValue > 0) {
                $('#mount-selected').html(subtotalValue.toFixed(2) + ' +');
            } else {
                $('#mount-selected').html(subtotalValue);
            }
            return subtotalValue
        }


        /*
         * Obtiene el neuvo valor en un cambio de la zona
         * Y solo se actualiza el valor de la zona, nombre de la zona y la comision
         * la cantidad se reutiliza
         */

        $('#event-value__zonas').on('change', function () {
            zoneValue = parseInt($(this).val());
            for (var key in zones){
                var zone = zones[key];
                if (zoneValue == zone.id) {
                    zoneID = zone.id;
                    zoneCost = zone.value;
                    if (zone.quantity <= 0) {
                        $("#event-quantity__zonas option[value=1]").text("Agotada");
                        $('#event-quantity__zonas').attr('disabled', true);
                        $('#buy-request').attr('style', 'pointer-events: none; cursor: default; background-color: #f7c4c0 !important;');
                    } else {
                        $('#event-quantity__zonas option[value=1]').text('1');
                        $('#event-quantity__zonas').attr('disabled', false);
                        $('#buy-request').attr('style', '');
                    }
                }
            }
            totalValue = calculateTotal(zoneCost, zoneQuantity);

            if (totalValue == 0) {
                $('.save').show();
                $('.pay').hide();
            }
            else if (totalValue > 0) {
                $('.save').hide();
                $('.pay').show();
            }
        });

        $('#event-value__zonas').on('keyup', function () {
            zoneValue = parseInt($(this).val());
            for (var key in zones){
                if (zoneValue == zones[key].id) {
                    zoneID = zones[key].id;
                    zoneCost = zones[key].value;
                }
            }
            totalValue = calculateTotal(zoneCost, zoneQuantity);
        });

        /*
         * Solo se actualiza la cantidad de entradas
         * el costo y la comision se reutilizan
         */

        $('#event-quantity__zonas').on('change', function () {
            zoneQuantity = parseInt($(this).val());
            calculateTotal(zoneCost, zoneQuantity);
        });

        $('#event-quantity__zonas').on('keyup', function () {
            zoneQuantity = parseInt($(this).val());
            calculateTotal(zoneCost, zoneQuantity);
        });

        $('#buy-request').on('click', function (event) {
            event.preventDefault();
            localStorage.setItem('quantity', zoneQuantity);
            localStorage.setItem('zone_id', zoneID);
            localStorage.setItem('totalValue', subtotalValue);
            var action = $(this).attr('data-action');
            var url = $(this).attr('href');
            if (action == 'choose_seats') {
                url = url + zoneID + '/';
            }
            window.location = url;
        });
        $('#btn_validate').click(function(event) {
            /* Act on the event */
            var value = $('#id_code_validate').val()
            var msg_error = $(".text_error")
            event.preventDefault()
            if (value) {
                $.ajax({
                    url: '{% url "webs:validate_code" %}',
                    type: 'GET',
                    data: {
                        id: '{{event.id}}',
                        code: value
                    },
                })
                .done(function(data) {
                    if (data.status == 'ok') {
                        $("#form-validate").submit()
                    } else {
                        msg_error.text(data.msg)
                    }
                    console.log(data);
                })
                .fail(function() {
                    console.log("error");
                })
                .always(function() {
                    console.log("complete");
                });

            } else {
                msg_error.text('Ingrese código de validación')
            }
        });
        /* =============== End Pre Sale ================= */


        /* == REGISTRO 0 ==  */
        $('#pagar-cero').on('click', function (event) {
            $('.fe').addClass('fa-spinner-active');
            event.preventDefault();
            $.ajax({
                type: 'POST',
                url: "/create/z_sale/",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    monto: zoneCost,
                    cliente: {{ user.id }},
                    status: 'v',
                    zone: zoneName,
                    event: {{ event.id }},
                    cantidad: zoneQuantity,
                    filter: 0
                },
                dataType: 'json',
                success: function (data) {
                    window.location.href = "/my-sale/" + data.data.sale + "/" + data.data.status_sale + "/";
                },
                error: function (err) {
                    console.log("Error en la creación de la venta.");
                }
            });
        });


    </script>


{% endblock %}