{% extends 'layout.html' %}
{% load staticfiles %}
{% block title %}Inicio{% endblock %}

{% block meta %}
    <meta name="description" content="Plataforma de venta de tickets, informacion y promoción de la creciente industria musical"/>
    <meta name="keywords"
          content="Fuzz Pass, venta de tickets, entradas para conciertos en Lima, Lima, Peru, tickets para conciertos, informacion musical, musica en Peru, Conciertos en Peru, conciertos en lima, eventos, disqueras, feria de discos,"/>
    <meta property="og:title" content="Fuzz Pass"/>
    <meta property="og:url" content="https://www.fuzzpass.com"/>
    <meta property="og:image" content="https://www.fuzzpass.com/static/images/logo_fb.jpg"/>
{% endblock %}

{% block content %}
    <div ng-app="events">
        <div ng-controller="eventsAllController" ng-cloak>

            <h1 ng-show="noFoundMsg" class="txtNoFound">[[textInfo]]</h1>

            {% include 'contentPages/contentHome.html' %}

            <div class="container-fz">
                <section class="events">
                    <div class="row" infinite-scroll='events_manager.load()' infinite-scroll-distance='2'>


                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12"  ng-show="currentDate < item.end_date" ng-repeat="item in items | orderBy: 'start_date'">

                            <div class="c-card">
                                <a href="/eventos/[[item.slug_name]]">
                                    <div class="c-card__image" back-img="[[item.image_sharpen]]">
                                        <img ng-src="[[item.image_sharpen]]" alt=""/>
                                    </div>
                                </a>

                                <div class="c-card__info">
                                    <div class="c-card__date">
                                        <h5>
                                            [[item.start_date|date:"EEEE"|limitTo:3|capitalize]], [[item.start_date|date:"d"]]
                                            de [[item.start_date|date:"MMMM"|limitTo:3|capitalize]] / [[item.start_date|date:'HH:mm']]
                                        </h5>
                                        <div class="c-card__icons">
                                            <span class="calendar__icons">
                                                <div title="Add to Calendar" class="addeventatc" style="border: none !important;">
                                                    <span class="start">[[item.start_date|date:'short']]</span>
                                                    <span class="end">[[item.start_date|date:'short']]</span>
                                                    <span class="timezone">America/Lima</span>
                                                    <span class="title">[[item.name]]</span>
                                                    <span class="description">Uno de los mejores eventos próximos - <br>Fuzzpass eventos</span>
                                                    <span class="location">[[item.address]]</span>
                                                    <span class="organizer">[[item.producer_name]]</span>
                                                    <span class="facebook_event">[[item.facebook]]</span>
                                                    <span class="all_day_event">false</span>
                                                    <span class="date_format">MM/DD/YYYY</span>
                                                    <span class="client">ajlREpQsnzYJzrGcpmrD20397</span>
                                                </div>
                                            </span>
                                            <span class="wish__icons">
                                                {% if user.is_authenticated %}
                                                    <a ng-if="!item.is_wish" href="" ng-click="events_manager.do_like(item)">
                                                        <i class="fa fa-heart-o"></i>
                                                    </a>
                                                    <a ng-if="item.is_wish" href="" ng-click="events_manager.dislike(item)">
                                                        <i class="fa fa-heart"></i>
                                                    </a>
                                                {% else %}
                                                    <i class="fa fa-heart-o"></i>
                                                {% endif %}
                                            </span>
                                        </div>
                                    </div>

                                    <h3 class="c-card__title">
                                        <a href="/eventos/[[item.slug_name]]">[[ item.name|limitTo:29 ]]</a>
                                    </h3>
                                    <div class="c-card__address">
                                        <h5>
                                            <i class="fa-map-marker fa-lg fa"> </i> &nbsp; [[ item.address ]]
                                        </h5>
                                        <h5>
                                            <i class="fa-users fa-lg fa"> </i> &nbsp; [[ item.assistants ]] Asistentes aprox.
                                        </h5>
                                    </div>
                                    <div class="c-card__pay" ng-if="item.zones">
                                        <h4 ng-repeat="zone in item.zones" ng-show="$first" ng-if="zone.value">S/ [[zone.value]] +</h4>
                                        <a href="/eventos/[[item.slug_name]]" class="button button--pay button--pay-two" ng-show="date <= item.presale_end_date">Comprar Ahora</a>
                                        <a href="/eventos/[[item.slug_name]]" class="button button--pay button--pay-two" ng-show="date > item.presale_end_date">Más Información</a>
                                    </div>
                                    <div class="c-card__pay" ng-if="item.zones == ''">
                                        <h4>S/ 0.00 +</h4>
                                    </div>
                                </div>
                            </div>
                            <!--<p ng-show="events_manager.loading_events" class="text-center">
                            Cargando...
                        </p>-->
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

{% endblock %}
{% block extra_scripts %}
    <script type="text/javascript" src="https://addevent.com/libs/atc/1.6.1/atc.min.js" async defer></script>
{% endblock %}