{% extends 'layout.html' %}
{% load staticfiles %}
{% block title %}Como Funciona{% endblock %}

{% block extra_styles %}
    <style>
        .nav__item .fzz-hw{
            font-weight: 900;
        }
    </style>
{% endblock %}

{% block content %}

    <div class="slick_home">
        <div class="home_banner">
            <a class="home_banner__banner img-responsive">
                <img src="{% static 'images/banner.jpg' %}" alt="" class='img-responsive'>
            </a>
        </div>
    </div>

{% endblock %}