{% extends 'layout.html' %}
{% load staticfiles %}
{% block title %}Eventos{% endblock %}
{% block extra_styles %}

    <style>
        .nav__item .fzz-info {
            font-weight: 900;
        }
    </style>
{% endblock %}

{% block content %}
<section class="page_information">

</section>
{% endblock %}
{% block extra_scripts %}
<script>
    jQuery(document).ready(function($) {
        // $('.slick_home').slick({
        //     arrows: false,
        //     dots: false,
        //     adaptiveHeight: true,
        //     autoplay: true,
        //     autoplaySpeed: 4000
        // })
    });
</script>
{% endblock %}

