{% extends 'layout.html' %}
{% load staticfiles %}
{% block title %}Iniciar Sesión{% endblock %}

{% block meta %}
    <meta name="description" content="Plataforma de venta de tickets, informacion y promoción de la creciente industria musical"/>
    <meta name="keywords"
          content="Fuzz Pass, venta de tickets, entradas para conciertos en Lima, Lima, Peru, tickets para conciertos, informacion musical, musica en Peru, Conciertos en Peru, conciertos en lima, eventos, disqueras, feria de discos,"/>
    <meta property="og:title" content="Fuzz Pass"/>
    <meta property="og:url" content="https://www.fuzzpass.com"/>
    <meta property="og:image" content="https://www.fuzzpass.com/static/images/logo_fb.jpg"/>
{% endblock %}
{% block class_body %}page-login{% endblock class_body %}
{% block content %}
    {% include 'contentPages/contentRegisterLogin.html' %}

{% endblock %}
{% block extra_scripts %}
    <script type="text/javascript" src="https://addevent.com/libs/atc/1.6.1/atc.min.js" async defer></script>
    <script>
    jQuery(document).ready(function($) {
        $('#id_birthday').datepicker({
            format: 'dd/mm/yyyy',
            language: 'es',
            autoclose: true
        })
    });
    </script>
{% endblock %}