{% extends 'layout.html' %}
{% load staticfiles %}
{% load web_extras %}
{% block title %}Mi compra{% endblock %}
{% block extra_styles %}
    <style>
        footer{
            margin-top: 280px;
        }
    </style>
{% endblock %}
{% block content %}
    {% if tickets %}
        <h4 id="msg" class="button--success">OPERACIÓN PROCESADA SATISFACTORIAMENTE</h4>
        <div class="container-fz">
            <div class="profile__tickets">
                {% for ticket in tickets %}
                    <div class="tickets__item  {% if ticket.status == 'e' %}inactive{% endif %}">
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                            <div class="tickets__detail">
                                <span class="detail__date">{{ ticket.event.start_date|date:"D, d" }} de {{ ticket.event.start_date|date:"M" }} / {{ ticket.event.start_date.time|date:'H:i' }}</span>
                                <p class="detail__name">{{ ticket.event.name }}</p>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            {% if not ticket.event.invitation %}
                                <span class="tickets__mount">
                                    {{ ticket.event.currency_symbol }}  {{ ticket.price }}

                                </span>
                            {% else %}

                                <span class="tickets__mount">
                                    Invitación
                                </span>
                            {% endif %}
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                            {% if ticket.status != 'e' %}
                                <div class="tickets__sends">
                                     <a href="" data-toggle="modal" data-value="{{ forloop.counter }}" data-target="#viewTicket{{ forloop.counter }}">Ver Ticket</a>
                                     {% comment %}
                                        <a href="" data-toggle="modal" data-value="{{ forloop.counter }}" data-target="#sentTicket{{ forloop.counter }}">Enviar</a>

                                     {% endcomment %}
                                </div>
                            {% else %}
                                <div class="tickets__sends">
                                    <span class="txt-inactive">Ticket enviado a {{ ticket.email }}</span>
                                </div>
                            {% endif %}
                        </div>
                    </div>


                {% endfor %}
            </div>
        </div>
    {% else %}
        <div class="container-fz">
            <h1>No se encontaron tickets</h1>
        </div>
    {% endif %}
{% endblock %}
{% block extra_modals %}
    <div class="buy-tickets">
        {% for ticket in tickets %}
            <!-- Modals -->
            <div class="modal fade modal--custom" id="viewTicket{{ forloop.counter }}" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div id="terHid{{ forloop.counter }}" class="terHid">

                                <div class="coupon__content"
                                     style="background-image: url({% if ticket.zone.ticket_cover  %}{{ ticket.zone.ticket_cover.url }}{% else %}ticket.events.ticket_cover.url{% endif %}); background-repeat:no-repeat; background-size: cover;max-height: 500px;">
                                    {% if not ticket.event.invitation %}

                                        <div class="row">
                                            <div class="col-sm-12 col-xs-12">
                                                <div class="coupon__logo">
                                                    <img src="{% static 'images/fuzzpass-logo-white.png' %}" alt="">
                                                </div>
                                            </div>
                                        </div>

                                    {% endif %}
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="coupon__datetime">
                                                <span>
                                                    {{ ticket.event.start_date|date:"D, d" }} de {{ ticket.event.start_date|date:"M" }} / {{ ticket.event.start_date.time|date:'H:i' }}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-8">
                                            <div class="coupon__event-name">
                                                {{ ticket.event }}
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <div class="coupon-content_event-cost">
                                                {% if ticket.event.invitation %}
                                                    <h5 class="">
                                                        Zona: {{ticket.zone.name}}
                                                    </h5>
                                                    Invitación
                                                {% else %}
                                                    S/  {{ ticket.price }}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="coupon-content_code"><br>
                                                <img src="http://{{ domain }}{{ ticket.qr.url }}"
                                                     style="display:inline; height:160px; width: 160px; max-width:160px;">
                                                <br><br>
                                                        <span>
                                                            {{ ticket.code }}
                                                        </span>
                                                <br><br>
                                                        <span>
                                                            Valida tu ticket solo en la puerta del evento
                                                        </span>
                                                <br><br>
                                                <a href="http://{{ domain }}/productoras/{{ ticket.event.organizer.name }}"
                                                   style="cursor: pointer;margin-top: 20px;">
                                                    <img src="http://{{ domain }}{{ ticket.event.organizer.logo.url }}"
                                                         style="display:inline; height:48px; width:48px; max-width: 48px;">
                                                </a>
                                                <br><br>
                                                <span>
                                                    Un evento de {{ ticket.event.organizer }}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="coupon__location">
                                    <iframe src="https://maps.google.com/maps?q={{ ticket.event.location.y|to_and }},{{ ticket.event.location.x|to_and }}&z=19&output=embed"></iframe>
                                </div>
                                <button onclick="terconOption({{ forloop.counter }})" id="terCon{{ forloop.counter }}"
                                        class="btn btn-danger">Terminos y Condiciones
                                </button>
                            </div>
                            <div class="coupon-terms terSho" id="terSho{{ forloop.counter }}">
                                <h2>Terminos y condiciones</h2>

                                <p>
                                    {{ ticket.event.terms|safe }}
                                </p>
                                <button onclick="terconOption({{ forloop.counter }})" id="terTic{{ forloop.counter }}"
                                        class="btn btn-danger">Ticket
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade popups popups--mails" id="sentTicket{{ forloop.counter }}" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                             <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                            <img src="{% static 'images/fuzzpass-logo.png' %}" alt="Logo">


                            <div>
                                <h5 class="txt-bld">Estás a punto de enviarle esta entrada a alguien</h5>

                                <p>
                                    Ingresa el nombre y correo electrónico de la persona a la que deseas
                                    enviarle esta entrada. Asegurate de escribir bien el email.
                                    Si tienes algún inconveniente escríbenos a
                                    <span class="txt-bld">team@fuzzpass.com</span>
                                </p>
                            </div>
                        </div>
                        <div class="modal-body" id="form-send-body">
                            <form action="" method="POST" class="formContact" data-user="{{ user.id }}">
                                {% csrf_token %}
                                <div class="label-group label-group--name">
                                    <input type="text" class="name" name="name" value="" placeholder="Nombre y Apellido" required>
                                </div>
                                <div class="label-group">
                                    <input type="email" class="email" name="email" value="" placeholder="Ingresar e-mail destinatario" required>
                                </div>
                                <div class="label-group">
                                    <input type="email" class="email2" name="email2" value="" placeholder="Confirmar e-mail destinatario" required>
                                </div>
                                <button type="submit" name="button" data-ticketvalue="{{ ticket.id }}"
                                        class="btn btn-submit button" style="width: 100%;"><span>Enviar </span><i class="fa fa-spinner fa-pulse onEnv"></i></button>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <a id="btn-register" href="{% url 'webs:termines' %}" target="_blank">Términos y condiciones
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block extra_scripts %}
    <script>
        function terconOption(id) {
            $("#terHid" + id).toggle(function () {
            });
            $("#terSho" + id).toggle(function () {
            });
        }
    </script>
{% endblock %}