{% extends 'layout.html' %}
{% load staticfiles %}
{% block title %}Reservas{% endblock %}
{% block extra_styles %}

    <style>
        .nav__item .fzz-tcks {
            font-weight: 900;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="slick_home">
        <div class="home_banner">
            <a class="home_banner__banner img-responsive">
                <img src="{% static 'images/banner.jpg' %}" alt="" class='img-responsive'>
            </a>
        </div>
    </div>
    <div class="home_event">
        <div class="container-base">
            <div class="d-flex justify-content-between flex-wrap">
                {% for event in events %}

                <div class="home_event__content">
                    <h2 class="home_event__name">
                        {{ event.start_date|date:"l d" }} de
                                                        {{ event.start_date|date:"F"|lower }}
                    </h2>
                    <div class="home_event__image">
                        <img src="{{event.front.small.url}}">
                        {% if not event.private %}
                             <a class="home_event__button button-red" data-id='{{event.id}}' data-event='{{event.name}}' href="" >RESERVAR</a>  
                        {% endif %}
                       
                    </div>
                </div>
                {% endfor %}
               </div>
            </div>
        </div>
    </div>
        <div class="modal fade modal-reserva modal-validar-code" tabindex="-1" role="dialog">
          <div class="modal-dialog modal-dialog-reserva " role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">INGRESAR EL CÓDIGO QUE SE ENCUENTRA EN TU INVITACIÓN</h4>
              </div>
              <div class="modal-body">
                <form action="" method="" class="modal-form">
                    <input type="hidden" class="modal-event_id" name="event">
                    <input type="text" class="form-control modal-event-code" name="code" required="">
                    <p class="error"></p>
                    <h4 class="modal-title">PREMIACIÓN</h4>
                    <p class="modal-event-name"></p>
                    <button class="button-black modal-button">VALIDAR</button>
                </form>
              </div>

            </div>
          </div>
        </div>
        <div class="modal fade modal-reserva modal-reserva-thanks" tabindex="-1" role="dialog">
          <div class="modal-dialog modal-dialog-reserva" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <i class="fa fa-check modal-check"></i>
                <h3 class="modal-title">RESERVA EXITOSA</h3>
                <h4>EVENTO DE INAUGURACIÓN</h4>
              </div>
              <div class="modal-body">
                <p>Ahora puedes ver la entrada en tu perfil.</p>
                <p>También la hemos enviado al correo</p>
                <p>registrado <span class="email_reserva">{{request.user.email}}</span></p>
                <p>Si no visualizas en correo, revisa tu SPAM</p>
                <p class="modal-body-bold">Es indispensable presentar la confirmación de la reserva impresa o en su teléfono celular</p>
                <a href="/perfil/" class="button-black modal-button">VER MI ENTRADA</a>
              </div>

            </div>
          </div>
        </div>
{% endblock %}
{% block extra_scripts %}
<script>
    jQuery(document).ready(function($) {
        {% if request.user.is_authenticated %}
            var is_authenticated = true
        {% else %}
            var is_authenticated = false
        {% endif %}
        $(".home_event__button").click(function(event) {
            /* Act on the event */
            event.preventDefault()
            if (is_authenticated) {
                $('.modal-validar-code').modal('toggle')
                $('.modal-event-name').text($(this).data('event'))
                $('.modal-event_id').val($(this).data('id'))
                $('.error').text('')
                $('.modal-event-code').val('')
            } else {
                window.location.href = '/perfil/'
            }
        });
        $(".modal-form").submit(function(event) {
            /* Act on the event */
            event.preventDefault()
            $.ajax({
                url: '{% url "webs:validate_code" %}',
                type: 'POST',
                dataType: 'json',
                data: {
                    code: $(".modal-event-code").val(),
                    id: $(".modal-event_id").val()
                },
            })
            .done(function(data) {
                if (data.status == 'error') {
                    $(".error").text(data.msg)
                }
                if (data.status == 'ok') {
                    $(".modal-validar-code .close").trigger('click')
                    setTimeout(function(){
                    $('.modal-event-code').val('')
                    $('.error').text('')
                    $('.modal-reserva-thanks').modal({
                        backdrop: false,
                        show: true,
                        keyboard: false
                    });
                 }, 500)
                }
                console.log("success");
            })
            .fail(function() {
                console.log("error");
            })
            .always(function() {
                console.log("complete");
            });

        });
        // $('.slick_home').slick({
        //     arrows: false,
        //     dots: false,
        //     adaptiveHeight: true,
        //     autoplay: true,
        //     autoplaySpeed: 4000
        // })
    });
</script>
{% endblock %}

