{% extends 'layout.html' %}
{% load staticfiles %}
{% load web_extras %}
{% block title %}Profile{% endblock %}

{% block extra_styles %}
    <style>
        .push {
            height: 200px;
        }
    </style>
{% endblock %}

{% block content %}
    {% include 'contentPages/contentProfile.html' %}
{% endblock %}

{% block extra_modals %}
    {% for ticket in tickets %}
        <!-- extra modals -->
        <div class="buy-tickets">

            <!-- Modals -->
            <div class="modal fade modal--custom" id="ticket-modal{{ forloop.counter }}" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div id="terHid{{ forloop.counter }}" class="terHid">
                                <div class="coupon__content"
                                     style="background-image: url({% if ticket.zone.ticket_cover %}{{ ticket.zone.ticket_cover.url }}{% else %}{{ ticket.event.ticket_cover.url }}{% endif %}); background-repeat:no-repeat;
                                             background-size: cover;">
                                    <div class="row">
                                        <div class="col-sm-12 col-xs-12">
                                            <div class="coupon__logo">
                                                <img src="{% static 'images/logo-expo.png' %}" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-7">
                                            <div class="coupon__datetime">
                                                <span>
                                                    {{ ticket.event.start_date|date:"l d" }} de
                                                        {{ ticket.event.start_date|date:"F"|lower }}
                                                </span>
                                            </div>
                                        </div>
                                        {% if ticket.seat %}
                                         <div class="col-xs-5">
                                            <div class="coupon__datetime">
                                                <span>
                                                    {{ ticket.seat }} - {{ ticket.seat_section }}
                                                </span>
                                            </div>
                                        </div>
                                        {% endif %}
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-8">
                                            <div class="coupon__event-name">
                                                {{ ticket.event }}
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <div class="coupon-content_event-cost">
                                                {% comment %}
                                                      {% if not ticket.event.invitation %}
                                                    {{ ticket.event.currency_symbol }} {{ ticket.price }}
                                                    <h5 class="">
                                                        Zona: {{ticket.zone.name}}
                                                    </h5>
                                                {% else %}
                                                {% endif %}
                                                {% endcomment %}
                                                INVITACIÓN
                                                <h5 class="">
                                                    Zona: {{ticket.zone.name}}
                                                </h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="coupon-content_code"><br>
                                                <img src="{{ ticket.qr.url }}"
                                                     style="display:inline; height:160px; width: 160px; max-width:160px;">
                                                <br><br>
                                                        <span class="ticket_code">
                                                            {{ ticket.code }}
                                                        </span>
                                                <br><br>
                                                        <span>
                                                            <strong>Valida tu ticket solo en la puerta del evento.</strong>
                                                        </span>
                                                <span>
                                                    Reserva válida hasta las {{ ticket.event.start_date|date:"h:i a" }} para dos personas.
                                                </span>
                                                <br><br>
                                                <a
                                                   style="cursor: pointer;margin-top: 20px;">
                                                    <img src="{% static 'images/logo-pucp.png' %}"
                                                         style="display:inline;width:110px; max-width: 110px;">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="coupon__location">
                                    <iframe src="https://maps.google.com/maps?q={{ ticket.event.venue.location.y|to_and }},{{ ticket.event.venue.location.x|to_and }}&z=19&output=embed"></iframe>
                                </div>

                                <button onclick="terconOption({{ forloop.counter }})"
                                        id="terCon{{ forloop.counter }}" class="btn btn-danger">Terminos y Condiciones
                                </button>
                            </div>
                            <div class="coupon-terms terSho" id="terSho{{ forloop.counter }}">
                                <h2>Terminos y condiciones</h2>

                                <p>
                                    {{ ticket.event.terms|safe }}
                                </p>
                                <button onclick="terconOption({{ forloop.counter }})"
                                        id="terTic{{ forloop.counter }}" class="btn btn-danger">Ticket
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade popups popups--mails__profile" id="send-modal{{ forloop.counter }}" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            <img src="{% static 'images/fuzzpass-logo.png' %}" alt="Logo">

                            <div>
                                <h5 class="txt-bld">Estás a punto de enviarle esta entrada a alguien</h5>

                                <p>
                                    Ingresa el nombre y correo electrónico de la persona a la que deseas
                                    enviarle esta entrada. Asegurate de escribir bien el email.
                                    Si tienes algún inconveniente escríbenos a
                                    <span class="txt-bld">team@fuzzpass.com</span>
                                </p>
                            </div>
                        </div>
                        <div class="modal-body" id="form-send-body">
                            <form action="" class="formContact" method="POST" data-user="{{ user.id }}">
                                {% csrf_token %}
                                <div class="label-group label-group--name">
                                    <input type="text" name="name" value="" placeholder="Nombres y Apellidos" id="name" class="name_profile" required>
                                </div>
                                <div class="label-group">
                                    <input type="email" name="email" value="" placeholder="Ingresar e-mail destinatario" id="email" class="email_profile" required>
                                </div>
                                <div class="label-group">
                                    <input type="email" name="email2" value="" placeholder="Confirmar e-mail destinatario" id="email2" class="email2_profile" required>
                                </div>
                                <button type="submit" name="button" id="sendData" data-ticketvalue="{{ ticket.id }}" class="btn btn-submit button"><span>Enviar</span><i
                                        class="fa fa-spinner fa-pulse onEnvTwo"></i></button>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <a data-toggle="modal" data-target="#terms" data-dismiss="modal" id="btn-register">
                                Términos y condiciones
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block extra_scripts %}
    <script>
        $(document).ready(function () {
            var mynext = localStorage.getItem('next');
            localStorage.clear();
            if (mynext != null) {
                window.location.href = mynext;
            }
        });

        function terconOption(id) {
            $("#terHid" + id).toggle(function () {
            });
            $("#terSho" + id).toggle(function () {
            });
        }

        $('#del-wis').on('click', function () {
            $.ajax({
                type: 'POST',
                url: "/api/events/{% with list_wishes.all|first as wish %}{{ wish.events.id }}{% endwith %}/unwish/",
                crossDomain: true,
                dataType: 'json',
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function (data) {
                    location.reload();
                },
                error: function (err) {
                    console.log(err);
                }
            })
        });
    </script>
{% endblock %}

