{% extends 'layout.html' %}
{% load staticfiles %}
{% block title %}Personalizacion de Venta{% endblock %}
{% block extra_styles %}
    <style>
        .push {
            height: 140px;
        }
    </style>
{% endblock %}

{% block content %}

    {% include 'contentPages/contentSaleCust.html' %}

{% endblock %}

{% block extra_scripts %}
    <script src="https://checkout.culqi.com/v2"></script>
    <script type="text/javascript">

        var zoneID, sale, zoneName, entries_numbers, total_purchase, selectedSeats;

        $(document).ready(function () {
            zoneID = localStorage.getItem('zone_id');
            entries_numbers = localStorage.getItem('quantity');
            selectedSeats = localStorage.getItem('selectedSeats');

            $('#entries_numbers').html(entries_numbers);

            $('#pagar').on('click', function (event) {
                if (document.getElementById('isTermsSelected').checked) {
                    $('.onEnvFourth').addClass('fa-spinner-active');
                    $("#errTerms").hide();

                    Culqi.open();
                }
                else {
                    $("#errTerms").show();
                }
            });

            createSale(zoneID, entries_numbers);
        });

        function redirect_to() {
            window.location.href = "{% url 'webs:event_detail' event.slug_name %}";
        }

        function createSale(zoneID, entries_numbers) {
            $.ajax({
                type: 'POST',
                url: "/create/sale/",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    zone: zoneID,
                    status: 'p',
                    event: {{ event.id }},
                    quantity: entries_numbers,
                    source_type: 'f',
                    source_person: {{ user.id }},
                    selected_seats: selectedSeats
                },
                dataType: "json",
                success: function (data) {
                    var resume = data.resume;
                    $('#subTotal_purchase').html(resume.total_price);
                    $('#subTotal_purchaseCopy').html(resume.total_price);
                    $('#commission_purchase').html(resume.total_commission);
                    $('.total_purchase').html(resume.total_amount);
                    $('#zone').html(resume.name);
                    total_purchase = data.informacion_venta.monto;
                    sale = data.informacion_venta.numero_pedido.split('_')[0];
                    zoneName = data.informacion_venta.zone_name;
                    if (resume.total_commission == 0) {
                        $('.commission__show').hide();
                    }

                    $("#timer_id")
                        .countdown(resume.date_remaining, function(event) {
                            $(this).text(
                                event.strftime('%H:%M:%S')
                            );
                        })
                        .on('finish.countdown', redirect_to);

                    Culqi.publicKey = '{{ CULQI_PUBLIC_KEY }}';
                    Culqi.settings({
                        title: 'Fuzz Pass',
                        currency: '{{ event.currency }}',
                        description: '{{ event.name }} - ' + zoneName,
                        amount: total_purchase
                    });

                    $('#saleloader').hide();
                    $('.saleCust').show();
                },
                error: function (err) {
                    $('#errData').append("La compra no puede ser procesada, por datos incompletos & correo sin confirmar.");
                    $('.onEnvFourth').removeClass('fa-spinner-active');
                }
            });
        }

        function culqi() {
            $('.onEnvFourth').removeClass('fa-spinner-active');
            $('.onEvnFirst').addClass('fa-spinner-active');
            $('#errDSale').append('');
            $('#errDSale').hide();
            $('#saleloader').show();
            $('.saleCust').hide();
            if(Culqi.token) {
                var token = Culqi.token.id;
                $.ajax({
                    type: 'POST',
                    url: "/validate/sale/",
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        status_sale: 'v',
                        status_ticket: 'c',
                        user: {{ user.id }},
                        sale: sale,
                        token: token,
                    },
                    success: function (data) {
                        $('.onEvnFirst').removeClass('fa-spinner-active');
                        $('#succSale').hide();
                        localStorage.clear();
                        window.location.href = "/my-sale/" + sale + "/" + data.status_sale + "/";
                    },
                    error: function (err) {
                        $('.onEnvFourth').removeClass('fa-spinner-active');
                        $('.onEvnFirst').removeClass('fa-spinner-active');
                        $('#errDSale').append(JSON.parse(err.responseText)['user_message']);
                        $('#errDSale').show();
                        $('.saleCust').show();
                        $('#saleloader').hide();
                    }
                });
            }else{
                $('.onEnvFourth').removeClass('fa-spinner-active');
                $('.onEvnFirst').removeClass('fa-spinner-active');
                $('#errDSale').append(Culqi.error.mensaje);
                $('#errDSale').show();
            }
        };
    </script>

{% endblock %}