{% extends 'layout.html' %}
{% load staticfiles %}
{% block title %}Personalizacion de Venta{% endblock %}
{% block extra_styles %}
    <style>
        .push {
            height: 140px;
        }
    </style>
{% endblock %}

{% block content %}

<h3 id="errExpired" style="text-align: center;color: #FFF;padding: 5px;font-weight: bold; background-color: #EC685D;border-color: #EA584C;display: none;"></h3>
<h3 id="errUnKn" style="text-align: center;color: #FFF;padding: 5px;font-weight: bold; background-color: #EC685D;border-color: #EA584C;display: none;"></h3>
<h3 id="errInvParam" style="text-align: center;color: #FFF;padding: 5px;font-weight: bold; background-color: #EC685D;border-color: #EA584C;display: none;"></h3>
<h3 id="errSale" style="text-align: center;color: #FFF;padding: 5px;font-weight: bold; background-color: #EC685D;border-color: #EA584C;display: none;"></h3>
<h3 id="errData" style="text-align: center;color: #FFF;padding: 5px;font-weight: bold; background-color: #EC685D;border-color: #EA584C;display: none;"></h3>
<h3 id="errDSale" style="text-align: center;color: #FFF;padding: 5px;font-weight: bold; background-color: #EC685D;border-color: #EA584C;display: none;"></h3>
<div class="container-fz">
    <div class="sale_timer">
        <span>¡Tienes <span id="timer_id" style="color: indianred">00:10:00</span> para concretar tu compra!</span>
    </div>
    <div id="saleloader" style="display: block"><img src="{% static 'images/loading2.gif' %}" alt="loader"></div>
    <div class="saleCust register_card" style="display: none;">
        <div class="register_card__panel register_card__panel--one">
             {% if cards %}
            <form class="register_card__panel__cards" method="POST">
                {% for card in cards %}
                    <label class="register_card__panel__cards__item {% if card.is_selected %}register_card__panel__cards__item--active{% endif %}">
                        <input type="radio" value="{{ card.id }}" name="card" {% if card.is_selected %}checked='checked'{% endif %} class='register_card__panel__cards__item__input'>
                        <div class="register_card__panel__cards__item__left">
                            {% if card.card_brand == 'Visa' %}
                                <img src="{% static 'images/visa.png' %}" width='80'  alt="">
                            {% endif %}
                            {% if card.card_brand == 'MasterCard' %}
                                <img src="{% static 'images/mc.png' %}" alt="">
                            {% endif %}
                            <strong>{{ card.card_number }}</strong>
                        </div>

                        {% if card.is_selected %}
                            <div class="register_card__panel__cards__item__right">
                                <i class="fa fa-check"></i>
                            </div>
                        {% endif %}

                    </label>
                {% endfor %}
                <p class="register_card__panel__register__error"></p>
                <button id='realizar_compra' class="button   button--dark btn-block">
                    Realizar compra tarjeta
                </button>
                <a href="" class="register_card__panel__add"><p class="register_card__panel__text">Agrega otra tarjeta</p></a>

            </form>
            {% endif %}
        </div>
        <div class="register_card__panel register_card__panel--two {% if cards %}register_card__panel--none{% endif %}" >
            <h3 class="register_card__panel__title">
                Ingresa los datos de tu tarjeta
            </h3>
            <p class="register_card__panel__text">
                Ahora podrás guardar esa tarjeta para realizar compras de manera fácil y rápida
            </p>
            <form action="" method="POST" class="">
                <div  class='card-js' id="my-card"  data-capture-name="true">
                    <div class="form__input form__input--small">
                        <input size="50" name="card-holders-name"
                               data-culqi="card[email]" id="card[email]"
                               placeholder="Correo electronico" class="name">
                    </div>
                    <div class="form__input form__input--small">
                        <input class="card-number"
                               name="card-number" size="20" data-culqi="card[number]"
                               id="card[number]" placeholder="Número de tarjeta">
                    </div>
                    <div class="form__block_2 ">
                        <div class="form__input form__input--small form__block_2__input">
                            <div class="form__block_2">
                                <input type="hidden" placeholder="MM" class="expiry-month"
                                       name="expiry-month"
                                       data-culqi="card[exp_month]" id="card[exp_month]">
                                <input size="4" type="hidden" placeholder="YY" class="expiry-year"
                                       name="expiry-year"
                                       data-culqi="card[exp_year]" id="card[exp_year]">
                            </div>
                        </div>
                        <div class="form__input form__input--small form__block_2__input">
                            <input type="hidden" placeholder="CCV" name="cvc" class="cvc"
                                   size="3" data-culqi="card[cvv]" id="card[cvv]">
                        </div>
                    </div>
                </div>
                <p class="page_payment__register__error"></p>
                <label for="save" class='register_card__panel__save text-center'><input id='save' type="checkbox" name='save'>Guardar esta tarjeta para futuras compras</label>
                <div class='d-none btn btn--main btn--medium page_payment__register__btn page_payment__register__btn--load'></div>
                <button id='pagar' class="button   button--dark btn-block">
                    Registrar tarjeta
                </button>

            </form>
        </div>


    </div>

</div>

{% endblock %}

{% block extra_scripts %}
    <script src="https://checkout.culqi.com/v2"></script>
    <script type="text/javascript">

        var zoneID, sale, zoneName, entries_numbers, total_purchase, selectedSeats;
        Culqi.publicKey = '{{ CULQI_PUBLIC_KEY }}';
        Culqi.init();
        $(document).ready(function () {
            zoneID = localStorage.getItem('zone_id');
            entries_numbers = localStorage.getItem('quantity');
            selectedSeats = localStorage.getItem('selectedSeats');

            $('#entries_numbers').html(entries_numbers);

            $('#pagar').on('click', function (event) {
                event.preventDefault();
                Culqi.createToken();
            });
            $(".register_card__panel__add").click(function(e){
                e.preventDefault()
                $(".register_card__panel--two").removeClass('register_card__panel--none')
                $(".register_card__panel--one").addClass('register_card__panel--none')

            })
            $("#realizar_compra").click(function(event) {
                event.preventDefault();
                console.log('dsadsa')
                var form = $(this).closest('form')
                $('.onEnvFourth').removeClass('fa-spinner-active');
                $('.onEvnFirst').addClass('fa-spinner-active');
                $('#errDSale').append('');
                $('#errDSale').hide();
                $('#saleloader').show();
                $('.saleCust').hide();
                $.ajax({
                    url: "/validate/sale/card/",
                    type: 'POST',
                    data: {
                        card_id: form.find('.register_card__panel__cards__item__input:checked').val(),
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        status_sale: 'v',
                        status_ticket: 'c',
                        user: {{ user.id }},
                        sale: sale
                    },
                    success: function (data) {
                        $('.onEvnFirst').removeClass('fa-spinner-active');
                        $('#succSale').hide();
                        localStorage.clear();
                        window.location.href = "/my-sale/" + sale + "/" + data.status_sale + "/";
                    },
                    error: function (err) {
                        $('.onEnvFourth').removeClass('fa-spinner-active');
                        $('.onEvnFirst').removeClass('fa-spinner-active');
                        $('#errDSale').append(JSON.parse(err.responseText)['user_message']);
                        $('#errDSale').show();
                        $('.saleCust').show();
                        $('#saleloader').hide();
                    }
                 });
            });
            createSale(zoneID, entries_numbers);
        });

        function redirect_to() {
            window.location.href = "{% url 'webs:event_detail' event.slug_name %}";
        }

        function createSale(zoneID, entries_numbers) {
            $.ajax({
                type: 'POST',
                url: "/create/sale/",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    zone: zoneID,
                    status: 'p',
                    event: {{ event.id }},
                    quantity: entries_numbers,
                    source_type: 'f',
                    source_person: {{ user.id }},
                    selected_seats: selectedSeats
                },
                dataType: "json",
                success: function (data) {
                    var resume = data.resume;
                    $('#subTotal_purchase').html(resume.total_price);
                    $('#subTotal_purchaseCopy').html(resume.total_price);
                    $('#commission_purchase').html(resume.total_commission);
                    $('.total_purchase').html(resume.total_amount);
                    $('#zone').html(resume.name);
                    total_purchase = data.informacion_venta.monto;
                    sale = data.informacion_venta.numero_pedido.split('_')[0];
                    zoneName = data.informacion_venta.zone_name;
                    if (resume.total_commission == 0) {
                        $('.commission__show').hide();
                    }

                    $("#timer_id")
                        .countdown(resume.date_remaining, function(event) {
                            $(this).text(
                                event.strftime('%H:%M:%S')
                            );
                        })
                        .on('finish.countdown', redirect_to);
                    $('#saleloader').hide();
                    $('.saleCust').show();
                },
                error: function (err) {
                    $('#errData').append("La compra no puede ser procesada, por datos incompletos & correo sin confirmar.");
                    $('.onEnvFourth').removeClass('fa-spinner-active');
                }
            });
        }

        function culqi() {
            $('.onEnvFourth').removeClass('fa-spinner-active');
            $('.onEvnFirst').addClass('fa-spinner-active');
            $('#errDSale').append('');
            $('#errDSale').hide();
            $('#saleloader').show();
            $('.saleCust').hide();

            console.log('culqui', Culqi.merchant_message, Culqi.token)
            if(Culqi.token) {
                var data = Culqi.token.id;
                var save_card =
                $.ajax({
                    type: 'POST',
                    url: "/validate/sale/",
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        status_sale: 'v',
                        status_ticket: 'c',
                        user: {{ user.id }},
                        sale: sale,
                        token: data,
                        save_card: $('#save').is(':checked')
                    },
                    success: function (data) {
                        $('.onEvnFirst').removeClass('fa-spinner-active');
                        $('#succSale').hide();
                        localStorage.clear();
                        window.location.href = "/my-sale/" + sale + "/" + data.status_sale + "/";
                    },
                    error: function (err) {
                        $('.onEnvFourth').removeClass('fa-spinner-active');
                        $('.onEvnFirst').removeClass('fa-spinner-active');
                        $('#errDSale').append(JSON.parse(err.responseText)['user_message']);
                        $('#errDSale').show();
                        $('.saleCust').show();
                        $('#saleloader').hide();
                    }
                });
            }else{
                $('.onEnvFourth').removeClass('fa-spinner-active');
                $('.onEvnFirst').removeClass('fa-spinner-active');
                $('#errDSale').append(Culqi.error.merchant_message);
                $('#errDSale').show();
                $('#saleloader').hide();
                $('.saleCust').show();
            }
        };
    </script>

{% endblock %}