{% extends 'layout.html' %}
{% load staticfiles %}
{% block title %}Personalizacion de Influncer Venta{% endblock %}
{% block extra_styles %}
    <style>
        .push {
            height: 140px;
        }
    </style>
{% endblock %}

{% block content %}

    {% include 'contentPages/contentSaleCust.html' %}

{% endblock %}

{% block extra_scripts %}
    <script type="text/javascript" src='https://pago.culqi.com/api/v1/culqi.js'></script>
    <script type="text/javascript">
        var zone_name, tmpSale, entry_cost, entries_numbers, subTotal_purchase, subTotal_purchaseCopy, total_purchase, commission_purchase;

        $(document).ready(function () {
            zoneID = localStorage.getItem('zone_id');
            entries_numbers = localStorage.getItem('quantity');

            $('#entries_numbers').html(entries_numbers);

            $('#pagar').on('click', function (event) {
                if (document.getElementById('isTermsSelected').checked) {
                    $('.onEnvFourth').addClass('fa-spinner-active');
                    $("#errTerms").hide();
                    checkout.informacion_venta = tmpSale;
                    checkout.codigo_comercio = 'kRfPKwPTfWc1';
                    checkout.abrir();
                }
                else {
                    $("#errTerms").show();
                }
            });

            createInfSale(zoneID, entries_numbers);
        });

        function createInfSale(zoneID) {
            $.ajax({
                type: 'POST',
                url: "/create/sale/",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    zone: zoneID,
                    status: 'p',
                    event: {{ event.id }},
                    num_ped: Math.round(Math.random() * 12000),
                    quantity: entries_numbers,
                    source_type: 'i',
                    source_person: {{ person }}
                },
                dataType: "json",
                success: function (data) {
                    var resume = data.resume;
                    $('#subTotal_purchase').html(resume.total_price);
                    $('#subTotal_purchaseCopy').html(resume.total_price);
                    $('#commission_purchase').html(resume.total_commission);
                    $('#total_purchase').html(resume.total_amount);
                    $('#zone').html(resume.name);
                    if (resume.total_commission == 0) {
                        $('.commission__show').hide();
                    }
                    $.ajax({
                        type: 'POST',
                        url: "https://fuzzpass.com/culqi/encript/",
                        crossDomain: true,
                        dataType: 'json',
                        data: data.informacion_venta,
                        success: function (data) {
                            console.log(data);
                            tmpSale = data.informacion_venta;
                            $('#saleloader').hide();
                            $('.saleCust').show();
                        },
                        error: function (err) {
                            console.log(err)
                        }
                    });
                },
                error: function (err) {
                    $('#errData').append("La compra no puede ser procesada, por datos incompletos & correo sin confirmar.");
                    $('.onEnvFourth').removeClass('fa-spinner-active');
                }
            });
        }

        function culqi(checkout) {
            $('.onEnvFourth').removeClass('fa-spinner-active');
            $('.onEvnFirst').addClass('fa-spinner-active');

            checkout.cerrar();

            if (checkout.respuesta == "venta_expirada") {
                $('.onEnvFourth').removeClass('fa-spinner-active');
                $('.onEvnFirst').removeClass('fa-spinner-active');
                $('#errExpired').append("El tiempo de venta a expirado, inténtalo nuevamente");
                $('#errExpired').show();
            }

            $.ajax({
                type: 'POST',
                url: "https://fuzzpass.com/culqi/decript/",
                crossDomain: true,
                dataType: 'json',
                data: checkout,
                success: function (data) {
                    var tipo_respuesta_venta = data.respuesta.codigo_respuesta;

                    $('#succSale').show();
                    if (tipo_respuesta_venta == "venta_exitosa") {
                        $.ajax({
                            type: 'POST',
                            url: "/validate/sale/",
                            data: {
                                csrfmiddlewaretoken: '{{ csrf_token }}',
                                status_sale: 'v',
                                status_ticket: 'c',
                                user: {{ user.id }},
                                sale: data.respuesta.numero_pedido.split('_')[0]
                            },
                            success: function (data) {
                                $('.onEvnFirst').removeClass('fa-spinner-active');
                                $('#succSale').hide();
                                localStorage.clear();
                                window.location.href = "/my-sale/" + data.sale + "/" + data.status_sale + "/";
                            },
                            error: function (err) {
                                console.log("Error de creación de tickets.");
                            }
                        });
                    } else if (tipo_respuesta_venta == "venta_expirada") {
                        $('.onEnvFourth').removeClass('fa-spinner-active');
                        $('.onEvnFirst').removeClass('fa-spinner-active');
                        $('#errExpired').append("El tiempo de venta a expirado, inténtalo nuevamente");
                        $('#errExpired').show();

                    } else if (tipo_respuesta_venta == "error") {
                        $('.onEvnFirst').removeClass('fa-spinner-active');
                        $('#errUnKn').append("Error " + tipo_respuesta_venta);
                        $('#errUnKn').show();
                        $('.onEnvFourth').removeClass('fa-spinner-active');
                    } else if (tipo_respuesta_venta == "parametro_invalido") {
                        $('.onEvnFirst').removeClass('fa-spinner-active');
                        $('#errInvParam').append("Parámetros Inválidos ingresados, inténtalo nuevamente");
                        $('#errInvParam').show();
                    } else if (tipo_respuesta_venta == "comercio_invalido") {
                        $('.onEnvFourth').removeClass('fa-spinner-active');
                        $('.onEvnFirst').removeClass('fa-spinner-active');
                        $('#errExpired').append("El comercio no está en condiciones de iniciar una venta");
                        $('#errExpired').show();
                    } else if (tipo_respuesta_venta == "expiracion_invalido") {
                        $('.onEnvFourth').removeClass('fa-spinner-active');
                        $('.onEvnFirst').removeClass('fa-spinner-active');
                        $('#errExpired').append("El formato de la fecha de vencimiento de la tarjeta es inválida");
                        $('#errExpired').show();
                    } else if (tipo_respuesta_venta == "cvv_invalido") {
                        $('.onEnvFourth').removeClass('fa-spinner-active');
                        $('.onEvnFirst').removeClass('fa-spinner-active');
                        $('#errExpired').append("El código de seguridad (CVV) de la tarjeta es inválido");
                        $('#errExpired').show();
                    } else if (tipo_respuesta_venta == "operacion_denegada") {
                        $('.onEnvFourth').removeClass('fa-spinner-active');
                        $('.onEvnFirst').removeClass('fa-spinner-active');
                        $('#errExpired').append("La operación ha sido denegada por el banco que emitió la tarjeta");
                        $('#errExpired').show();
                    } else if (tipo_respuesta_venta == "fondos_insuficientes") {
                        $('.onEnvFourth').removeClass('fa-spinner-active');
                        $('.onEvnFirst').removeClass('fa-spinner-active');
                        $('#errExpired').append("La operación ha sido denegada por el banco que emitió la tarjeta. Se sugiere que el cliente se comunique con el banco");
                        $('#errExpired').show();
                    } else if (tipo_respuesta_venta == "tarjeta_perdida") {
                        $('.onEnvFourth').removeClass('fa-spinner-active');
                        $('.onEvnFirst').removeClass('fa-spinner-active');
                        $('#errExpired').append("La tarjeta ha sido reportada como perdida");
                        $('#errExpired').show();
                    } else if (tipo_respuesta_venta == "tarjeta_robada") {
                        $('.onEnvFourth').removeClass('fa-spinner-active');
                        $('.onEvnFirst').removeClass('fa-spinner-active');
                        $('#errExpired').append("La tarjeta ha sido reportada como robada");
                        $('#errExpired').show();
                    } else if (tipo_respuesta_venta == "tarjeta_vencida") {
                        $('.onEnvFourth').removeClass('fa-spinner-active');
                        $('.onEvnFirst').removeClass('fa-spinner-active');
                        $('#errExpired').append("La tarjeta está vencida");
                        $('#errExpired').show();
                    } else if (tipo_respuesta_venta == "contactar_emisor") {
                        $('.onEnvFourth').removeClass('fa-spinner-active');
                        $('.onEvnFirst').removeClass('fa-spinner-active');
                        $('#errExpired').append("Contactar con entidad emisora de su tarjeta.");
                        $('#errExpired').show();
                    }else {
                        $('.onEnvFourth').removeClass('cfa-spinner-active');
                        $('.onEvnFirst').removeClass('fa-spinner-active');
                        $('#errSale').append("Error de venta: Uno o más datos ingresados erróneamente.");
                        $('#errSale').show();
                    }
                },
                error: function (err) {
                    location.reload();
                    $('.onEnvFourth').removeClass('fa-spinner-active');
                    $('.onEvnFirst').removeClass('fa-spinner-active');
                    $('#errDSale').append("Tiempo Expirado, Proceso de venta cerrado por inactividad.");
                    $('#errDSale').show();
                }
            });
        }
    </script>

{% endblock %}