{% extends 'layout.html' %}
{% load staticfiles %}
{% block title %}Confirmar{% endblock %}
{% block class_body %}page-login{% endblock class_body %}
{% block content %}
<div class="autenthication_page autenthication_page_confirm" id="AutenthicationPage">
    <div class="wrapper">
        <div class="LoginSectionAndRegisterSection">
            <h4 class='text-center'>Para comenzar a comprar tienes que verificar tu cuenta de correo. Revisa tu bandeja de entrada o de no deseados.</h4>
        </div>

    </div>

</div>

{% endblock %}
