.municipal-top{
    max-width: 280px;
}
.municipal-central{
    max-width: 286px;
}
.municipal-left{
    max-width: 136px;
}
.municipal_fila{
    width: 30px;
}
.municipal-right{
    max-width: 136px;
}
.municipal-one-line{
    max-width: 24px;
}
.left-5-7{
    margin-left: 134px;
}
.left-7{
    margin-left: 163px;
}



.left-9{
    margin-left: 180px;
}
.left-10{
    margin-left: 210px;
}
.left-9-10{
    margin-left: 200px;
}
.left-11{
    margin-left: 220px;
}
.left-14{
    margin-left: 305px;
}
.left-15{
    margin-left: 324px;
}
.left-16{
    margin-left: 342px;
}
.left-12{
    margin-left: 229px;
}
.left-13{
    margin-left: 248px;
}
.right-10{
    margin-right: 210px;
}
.right-12{
    margin-right: 229px;
}
.right-13{
    margin-right: 248px;
}
.left-13-14{
    margin-left: 268px;
}
.right-15{
    margin-right: 286px;
}
.right-24{
    margin-right: 477px;
}
.right-25{
    margin-right: 497px;
}
.right-9{
    margin-right: 191px;
}
// .right-9-10{
//     margin-right: 210px;
// }
.right-7{
    margin-right: 163px;
}
.bottom-1{
    margin-bottom: 19px;
}
.bottom-2{
    margin-bottom: 32px;
}
.bottom-3{
    margin-bottom: 48px;
}
.bottom-4{
    margin-bottom: 64px;
}
.top-1{
    margin-top: 19px;
}
.top-2{
    margin-top: 32px;
}
.top-3{
    margin-top: 48px;
}
.top-4{
    margin-top: 64px;
}
.top-5{
    margin-top: 75px;
}
.container-municipal-asientos{
    width: 1000px
}
.container-municipal-asientos-small{
    width: 800px
}
.municipal-wrap-central{
    width: 1000px
}
.municipal-wrap-central-small{
    width: 800px
}
.municipal-wrap-bottom{
    margin-top: 280px
}
.molecula-central-visibility{
    max-width: 740px;
}
.municipal-wrap-central-visibility{
    width: 740px
}
.container-municipal-visibility{
    width: 740px;
}
.container-municipal-restricted-visibility{
    width: 760px;
}
.municipal-wrap-restricted-visibility{
    width: 760px;
}
.municipal-central-restricted-visibility{
    max-width: 760px
}
.mt-250{
    margin-top: 250px;
}