.rock-pez{
    display: flex;
    margin: auto;
    margin-top: 40px;
    border: 1px solid #CBCBCB;
    padding: 10px;
    max-width: 1032px;
    &__piso_2{
        &__top{
            &__espacio{
                width: 500px;
                height: 280px;
                border: 1px solid #CBCBCB;
            }
        }
    }
    &__escenario{
        width: 140px;
        height: 305px;
        background: #CBCBCB;
        display: flex;
        align-items: center;
        margin: 0;
        justify-content: center;
        // margin-right: 15px;
    }
    &__escaleras{
        margin-top: 20px;
        &__escalon{
            width: 15px;
            height: 50px;
            background: #CBCBCB;
            margin: 0 2px;
        }
    }
    &__name{
        color: $color_black;
        font-size: 18px;
        margin: 0;
        margin-top: 4px;
    }
    &__piso{

        &__mesa_bot{
            width: 311px;
        }
        &__barra-ingreso{
            margin-left: 30px;
            margin-top: 73px !important;
        }
        &__barra{
            width: 278px;
            height: 100px;
            background: #CBCBCB;
            margin-right: 20px;
            position: relative;
            &__asiento_top{
                position: absolute;
                top: -20px;
                z-index: 5;
                left: 65px;
            }
            &__asiento_trans{
                position: absolute;
                left: 3px;
                top: -8px;
                z-index: 5;
                transform: rotate(44deg);
            }
            &:after{
                content: "";
                position: absolute;
                left: 0;
                top: -50px;
                width: 0;
                height: 0;
                border-left: 45px solid white;
                border-top: 50px solid transparent;
                border-bottom: 50px solid transparent;
            }
        }
        &__ingreso{
            width: 140px;
            height: 100px;
            background: #CBCBCB;
        }
        &__top{
            display: flex;
            margin: 0 15px;
        }
        &__top:first-child{
            margin-left: 0;
        }
        &__top_sup{
            display: flex;
        }
        &__middle{
            margin-top: 20px;
        }
    }
    &__bloque{
        margin: 0 12px;
        &--rotate-45{
            transform: rotate(-45deg);
        }
        &__mesa{
            width: 40px;
            height: 40px;
            background: #CBCBCB;
            border-radius: 4px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__mesa_ancha{
            width: 75px;
            height: 40px;
            background: #CBCBCB;
            border-radius: 4px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__mesa_ancha_vertical{
            width: 40px;
            height: 75px;
            background: #CBCBCB;
            border-radius: 4px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    &__asiento{
        // margin: 0;

        border-radius: 0;
        &__top{

            margin-bottom: 5px;
            margin-left: -5px;
            margin-right: -5px;
            &--mascara{
                height: 15px;
            }
        }
        &--top_radius{
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            width: 20px;
        }
        &--bottom_radius{
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
            width: 20px;
        }
        &--left_radius{
            border-bottom-left-radius: 3px;
            border-top-left-radius: 3px;
            width: 15px;
            height: 20px;
            margin-right: 5px;
        }
        &--right_radius{
            border-bottom-right-radius: 3px;
            border-top-right-radius: 3px;
            width: 15px;
            height: 20px;
            margin-left: 5px;
        }
        &__bottom{
            margin-top: 5px;
        }
    }
}