@font-face {
  font-family: 'Conv_Akkurat_Bold';
  src: url("../fonts/Akkurat_Bold.eot");
  src: local('☺'), url("../fonts/Akkurat_Bold.woff") format('woff'), url("../fonts/Akkurat_Bold.ttf") format('truetype'), url("../fonts/Akkurat_Bold.svg") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Conv_Akkurat_Light';
  src: url("../fonts/Akkurat_Light.eot");
  src: local('☺'), url("../fonts/Akkurat_Light.woff") format('woff'), url("../fonts/Akkurat_Light.ttf") format('truetype'), url("../fonts/Akkurat_Light.svg") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Conv_Akkurat';
  src: url("../fonts/Akkurat.eot");
  src: local('☺'), url("../fonts/Akkurat.woff") format('woff'), url("../fonts/Akkurat.ttf") format('truetype'), url("../fonts/Akkurat.svg") format('svg');
  font-weight: normal;
  font-style: normal;
}
.molecula-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.molecula-wrap.asiento-top-left,
.molecula-wrap.asiento-top-right {
  max-width: 114px;
  height: 100%;
}
.molecula-wrap.asiento-top-center {
  max-width: 380px;
}
.molecula-asientos-top {
  display: flex;
  padding-top: 30px;
  justify-content: center;
/*.atomo-item-asiento
		&.libre
			border 1px solid #fbd4b4
			background-color #fbd4b4
.molecula-palco-interna-top
	.atomo-item-asiento
		&.libre
			border 1px solid #ccc0d9
			background-color #ccc0d9
.molecula-palco-interna-bottom
	.atomo-item-asiento
		&.libre
			border 1px solid #d6e3bc
			background-color #d6e3bc
.molecula-baja-left
.molecula-baja-central
	.atomo-item-asiento
		&.libre
			border 1px solid #dbe5f1
			background-color #dbe5f1
.molecula-wrap-down
	.atomo-item-asiento
		&.libre
			border 1px solid #e5b8b7
			background-color #e5b8b7*/
}
.molecula-legend-platea {
  padding: 0;
  display: inline-block;
  margin: 0;
  border-radius: 4px;
  overflow: hidden;
}
.molecula-palco-left,
.molecula-palco-right {
  display: flex;
  flex-direction: column;
}
.molecula-palco-left.molecula-piso4-bottom,
.molecula-palco-right.molecula-piso4-bottom {
  padding-bottom: 80px;
}
.molecula-palco-left {
  align-items: flex-end;
}
.molecula-palco-left .molecula-palco-title {
  text-align: right;
}
.molecula-palco-right {
  align-items: flex-start;
}
.atomo-wrap-legend-platea {
  margin-top: 30px;
}
.molecula-palco-interna-top,
.molecula-palco-interna-bottom {
  display: flex;
  flex-wrap: wrap;
  max-width: 38px;
  justify-content: space-around;
}
.molecula-wrap-central,
.molecula-wrap-down {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1390px) {
  .molecula-wrap-central,
  .molecula-asientos-top,
  .molecula-wrap-down {
    // overflow: auto;
    width: 1210px;
  }
}
.molecula-wrap-central.molecula-piso2-central {
  align-items: flex-end;
}
.molecula-wrap-central.molecula-piso2-central .molecula-wrap-full {
  padding-bottom: 20px;
}
.molecula-wrap-central.molecula-piso4-central {
  align-items: flex-end;
}
.molecula-baja-central,
.molecula-baja-left {
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  align-items: center;
}
body .atomo-item-asiento.left-1 {
  margin-left: 21px;
}
body .atomo-item-asiento.right-1 {
  margin-right: 21px;
}
body .atomo-item-asiento.left-2 {
  margin-left: 40px;
}
body .atomo-item-asiento.right-2 {
  margin-right: 40px;
}
body .atomo-item-asiento.left-4 {
  margin-left: 78.5px;
}
body .atomo-item-asiento.right-4 {
  margin-right: 78.5px;
}
body .atomo-item-asiento.right-5 {
  margin-right: 97px;
}
body .atomo-item-asiento.left-5 {
  margin-right: 97px;
}
body .atomo-item-asiento.left-3 {
  margin-left: 58px;
}
body .atomo-item-asiento.right-3 {
  margin-right: 58px;
}
body .atomo-item-asiento.left-6 {
  margin-left: 116px;
}
body .atomo-item-asiento.right-6 {
  margin-right: 116px;
}
.molecula-palco-title {
  font-size: 12px;
  &--left{
    text-align: left !important;
  }
  &--right{
    text-align: right !important;
  }
}
.molecula-baja-central {
  max-width: 324px;
}
.molecula-baja-left {
  justify-content: flex-end;
  max-width: 190px;
}
.molecula-platealta {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  max-width: 266px;
}
.molecula-platealta-central {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 446px;
}
.molecula-piso2-lados {
  max-width: 285px;
  display: flex;
  flex-wrap: wrap;
}
.molecula-piso2-medio {
  max-width: 456px;
  display: flex;
  flex-wrap: wrap;
}
.molecula-piso3-medio {
  max-width: 475px;
  display: flex;
  flex-wrap: wrap;
}
.molecula-piso4-medio {
  display: flex;
  flex-wrap: wrap;
  max-width: 515px;
}
.molecula-piso3 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.molecula-piso3 .molecula-palco-interna-top {
  max-width: 22px;
}
.molecula-piso3.piso3-left {
  flex-direction: row-reverse;
}
.molecula-piso3.piso3-right {
  flex-direction: row;
}
.molecula-piso3-lados {
  max-width: 210px;
  display: flex;
  flex-wrap: wrap;
}
.molecula-piso4-lados {
  max-width: 190px;
  display: flex;
  flex-wrap: wrap;
}
main {
  position: relative;
  // padding-right: 200px;
  box-sizing: border-box;
  // max-width: 1369px;
  width: 98%;
  margin: auto;
}
header {
  box-shadow: 0 2px 4px rgba(0,0,0,0.25);
}
header figure {
  padding: 10px 20px;
  margin: 0;
}
.wrapper-header {
  max-width: 1540px;
  width: 100%;
  margin: auto;
  margin-bottom: 34px;
}
body {
  color: #4a4a4a;
}
.ancho-general {
  max-width: 1380px;
  margin: auto;
}
.ancho-butacas {
  max-width: 100%;
  margin: auto;
  margin-top: 20px;
}
.container-molecular-asientos{
  margin: auto;
}
@media screen and (max-width: 1390px) {
  .ancho-butacas{
    overflow: auto;
  }
  .container-molecular-asientos {
    width: 1210px;
    // overflow: auto;
  }
}
.molecula-wrap-full {
  height: 100%;
}
.atomo-title-legend {
  font-size: 20px;
  margin: 0;
}
.atomo-title-noborder {
  font-size: 16px;
  text-align: center;
}
.atomo-title-sub {
  font-size: 12px;
  text-align: center;
  padding: 20px 0px 5px 0px;
}
.atomo-title-border {
  border: 1px solid #000;
  border-radius: 4px;
  font-size: 18px;
  padding: 5px 0px;
  text-transform: uppercase;
  text-align: center;
  max-width: 850px;
  margin: auto;
  width: 1210px;
  overflow: auto;
}
.atomo-item-asiento {
  width: 15px;
  height: 15px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px;
  position: relative;
  cursor: pointer;
}
.atomo-item-asiento.libre {
  border: 1px solid #bab6b6;
  background-color: #fff;
  box-sizing: border-box;
}
.atomo-item-asiento.comprado {
  border: 1px solid #4a4a4a;
  background-color: #4a4a4a;
  box-sizing: border-box;
  cursor: no-drop;
}
.atomo-item-asiento.tus-asientos {
  border: 1px solid #3fb06f;
  background-color: #3fb06f;
  box-sizing: border-box;
}
.atomo-item-asiento a {
  font-size: 11px;
  text-decoration: none;
  color: #4a4a4a;
  position: absolute;
  bottom: 100%;
  margin-bottom: 5px;
  box-shadow: 0 2px 7.7px 0.3px rgba(0,0,0,0.2);
  width: 100%;
  height: 100%;
  border: 1px solid grayscale;
  line-height: 22px;
  background-color: #fff;
  border-radius: 5px;
  display: none;
  text-align: center;
  width: 22px;
  height: 22px;
  pointer-events: none;
  z-index: 2;
}
.atomo-item-asiento a:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #fff;
  display: block;
  transform: rotate(45deg);
  left: 6px;
  z-index: -1;
  margin: auto;
  top: 15px;
}
.atomo-item-asiento:hover.libre a {
  display: block;
}
.atomo-item-asiento.discapacitado {
  background-color: #4a90e2;
}
.atomo-text-palco {
  text-align: center;
  max-width: 70px;
  &--left{
    text-align: left !important;
  }
  &--right{
    text-align: right !important;
  }
  &--amplitud{
    max-width: 88px;
  }
}
.atomo-item-text {
  width: 19px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}
.atomo-title {
  font-family: 'Conv_Akkurat';
  font-weight: normal;
  margin: 0;
  font-size: 20px;
  padding-left: 10px;
}
.molecula-legend-asientos {
  display: flex;
  padding: 0;
  margin: 0;
  margin-top: 10px;
  flex-wrap:wrap;
}
.atomo-item-legend {
  list-style-type: none;
  display: flex;
  align-items: centers;
  padding: 5px 15px;
}
.atomo-item-legend.plateapreferencial {
  background-color: #fbd4b4;
}
.atomo-item-legend.plateabaja {
  background-color: #dbe5f1;
}
.atomo-item-legend.plateaalta {
  background-color: #e5b8b7;
}
.atomo-item-legend.plateapalco {
  background-color: #ccc0d9;
}
.atomo-item-legend.platealateral {
  background-color: #d6e3bc;
}
.atomo-item-legend p {
  margin: 0;
}
.atomo-item-legend em {
  font-style: normal;
  display: flex;
  align-items: center;
}
.atomo-item-legend span {
  width: 15px;
  height: 15px;
  border-radius: 4px;
  margin: 0;
  margin-right: 12px;
  display: block;
}
.atomo-item-legend span.libre {
  border: 1px solid #000;
}
.atomo-item-legend span.comprado {
  background-color: #4a4a4a;
}
.atomo-item-legend span.seleccionado {
  background-color: #3fb06f;
}
.atomo-item-legend span.discapacitado {
  background-color: #4a90e2;
}
.atomo-item-legend span.preferencial {
  background-color: #fbd4b4;
}
.content-asientos {
  margin-bottom: 30px;
}
.butacas-pagar{
  // background: white;
  // position: fixed;
  padding: 5px;
  padding-bottom: 5px;
  width: 100%;
  // margin-top: 20px;
  margin-bottom: 20px;
  z-index: 10;
}
.event-detail{
  .general__container{
    // margin-top: 85px;
  }
}
@media screen and (max-width: 1390px) {
  // .content-asientos {
  //   width: 1169px;
  //   overflow: auto;
  // }
}
// .butacas-pagar {
//   width: 200px;
//   position: absolute;
//   right: 0;
//   top: 0;
//   bottom: 0;
// }
@media screen and (max-width: 1390px) {
  .butacas-pagar {
    // padding: 0px 8px;
    box-sizing: border-box;
  }
  // .butacas-pagar:after {
  //   content: "";
  //   position: absolute;
  //   right: 100%;
  //   top: 0;
  //   bottom: 0;
  //   box-shadow: -2px 0px 6px rgba(0,0,0,0.2);
  //   display: block;
  //   margin-right: -10px;
  //   background-color: #fff;
  //   width: 10px;
  // }
}
.container-full{
  width: 100%;
  max-width: 1250px;
  padding: 0 5px;
  margin: 0 auto;
}
.sticky {
  position: fixed;
  top: 0;
  background: white;
  left: 0;
  right: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  .wrapper-pagar{
    margin-top: 0;
  }
}
.wrapper-pagar{
  margin-top: 20px;
}
.wrapper-pagar p {
  font-size: 18px;
  color: #b9b8b8;
  font-family: 'Conv_Akkurat_Light';
}
.wrapper-pagar p em {
  font-style: normal;
}
.wrapper-pagar strong,
.wrapper-pagar i {
  font-weight: 500;
  font-family: 'Conv_Akkurat_Light';
  text-transform: uppercase;
  color: #4a4a4a;
}
.wrapper-pagar .reservas-butacas-pagar{
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-top: 20px;
}
.wrapper-pagar a {
  // width: 100%;
  // height: 50px;
  background: #000;
  color: #fff !important;
  display: flex;
  padding: 8px 12px;
  font-size: 17px;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  text-decoration: none;
}
.wrapper-pagar span {
  display: block;
  font-size: 14px;
  font-weight: light;
  text-align: center;
  font-family: 'Conv_Akkurat_Light';
  color: #b9b8b8;
  text-transform: uppercase;
  // margin-top: 20px;
}
.cnt-butacas {
  margin-top: 10px;
}
.cnt-butacas i:first-child {
  display: none;
}
@media screen and (max-width: 560px) {
  .atomo-item-legend{
    width: 50%;
  }
}
@media screen and (max-width: 480px) {
  .wrapper-pagar{
    .reservas-butacas-pagar {
      // flex-direction: column;
    }
    a{
      margin-top: 10px;
      font-size: 14px;
    }
    span{
      font-size: 12px;
      font-weight: 700;
    }
  }
}
