$mobile: "(min-width: 425px)";
$tablet: "(min-width: 768px)";
$laptop-small: "(min-width: 992px)";
$laptop: "(min-width: 1024px)";
$desktop-small: "(min-width: 1200px)";
$desktop: "(min-width: 1441px)";
$font-Fuzzpass-Light: 'stellarlight';
$font-Fuzzpass-Bold: 'stellarbold';
$color_main: #CF2250;
$color_white: #fff;
// $color_white: #000;
$color_btn: #D8D8D8;
$color_border_btn: #9B9B9B;
$color_black: #000;
$color_facebook: #4267B2;
$bg_register: #F2F2F2;
$color_green: #3FB06F;
$color_grey: #A0A0A0;
$color_yellow: #FFCC01;
$color_blue: #165278;
$color_red: #E3402D;