{% load staticfiles %}
<h3 id="errExpired" style="text-align: center;color: #FFF;padding: 5px;font-weight: bold; background-color: #EC685D;border-color: #EA584C;display: none;"></h3>
<h3 id="errUnKn" style="text-align: center;color: #FFF;padding: 5px;font-weight: bold; background-color: #EC685D;border-color: #EA584C;display: none;"></h3>
<h3 id="errInvParam" style="text-align: center;color: #FFF;padding: 5px;font-weight: bold; background-color: #EC685D;border-color: #EA584C;display: none;"></h3>
<h3 id="errSale" style="text-align: center;color: #FFF;padding: 5px;font-weight: bold; background-color: #EC685D;border-color: #EA584C;display: none;"></h3>
<h3 id="errData" style="text-align: center;color: #FFF;padding: 5px;font-weight: bold; background-color: #EC685D;border-color: #EA584C;display: none;"></h3>
<h3 id="errDSale" style="text-align: center;color: #FFF;padding: 5px;font-weight: bold; background-color: #EC685D;border-color: #EA584C;display: none;"></h3>
<div class="container-fz">
    <div class="sale_timer">
        <span>¡Tienes <span id="timer_id" style="color: indianred">00:10:00</span> para concretar tu compra!</span>
    </div>
    <div id="saleloader" style="display: block"><img src="{% static 'images/loading2.gif' %}" alt="loader"></div>
    <div class="saleCust" style="display: none;">


        <div class="saleCust__info">
            <div class="info__detail" style="background-image: url({{ event.ticket_cover.url }});">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <img src="{% static 'images/fuzzpass-logo-white.png' %}" alt="">
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        <div class="detail__mount">
                            <p class="mount__value">
                                {{ event.currency_symbol }} <span id="subTotal_purchase"></span>
                            </p>
                            <span id="zone" class="detail__zone"></span>
                        </div>
                    </div>
                </div>
                <div class="detail__event">
                        <span class="detail__date">{{ event.start_date|date:"D, d" }} de
                            {{ event.start_date|date:"M" }} /
                            {{ event.start_date.time|date:'H:i' }}</span><br>
                    <span class="detail__name">{{ event.name|truncatechars:20 }}</span><br>
                        <span class="detail__address">
                            {{ event.address }}
                        </span>
                </div>
            </div>
            <div class="entries__quantity">
                <span id="entries_numbers"></span> entrada(s)
            </div>
        </div>

        <div class="saleCust__pay-card">
                <span class="saleCust__titles">
                    Pago con tarjeta de Crédito/Débito
                </span>
            <p class="saleCust__dscps">
                Paga con cualquier tarjeta de débito o crédito de manera simple, rápida y segura.
            </p>
            <input type="checkbox" id="isTermsSelected"/> <a href="{% url 'webs:termines' %}" target="_blank">Acepto los términos y condiciones</a>
            <div id="errTerms" class="errorlist" style="display:none;">Debe aceptar los terminos y condiciones</div>

            <div style="margin-top: 25px;">
                <img src="{% static 'images/mastercard.png' %}" alt="card" width="32px">
                <img src="{% static 'images/visa.png' %}" alt="card" width="32px">
                <img src="{% static 'images/amex.png' %}" alt="card" width="32px">
            </div>

            <div class="c-card__pay c-card__pay--next">
                <ul>
                    <li>
                        <div style="width: 50%; float: left;display: inline-block;">
                            <span>Sub Total: </span>
                        </div>
                        <div style="width: 50%;float: right;  display: inline-block;">
                            <div style="text-align: right" >{{ event.currency_symbol }} <span id="subTotal_purchaseCopy"></span></div>
                        </div>
                    </li>
                    <li class="commission__show">
                        <div style="width: 50%; float: left;display: inline-block;">
                            <span>Comissión: </span>
                        </div>
                        <div style="width: 50%;float: right;  display: inline-block;">
                            <div style="text-align: right">{{ event.currency_symbol }} <span id="commission_purchase"></span></div>
                        </div>

                    </li>
                    <li>
                        <div style="width: 50%; float: left;display: inline-block;">
                            <div style="font-weight: bold; font-size: 1.5em; padding-top: 15px">Total:    {{ event.currency_symbol }} <span class="total_purchase"></span></div>
                        </div>
                        <div style="width: 50%;float: right;  display: inline-block;">
                            <div style="text-align: right">
                                <button class="button button--saleCust" id="pagar">Comprar Ahora <i class="fa fa-spinner fa-pulse onEnvFourth"></i></button>
                                <!--<span class="fa fa-spinner fa-pulse onEvnFirst"></span></div>-->
                        </div>

                    </li>
                </ul>

            </div>

        </div>
        <div class="saleCust__pay-card">
                <span class="saleCust__titles">
                    Deposito o transferencia
                </span>
            <p class="saleCust__dscps">
                Realice la compra con transferencia o deposito por la banca por internet o en cualquier agencia de interbank.
            </p>

            <div style="margin-top: 25px;">
                <img src="{% static 'images/interbank.png' %}" alt="card" width="96px">

            </div>

            <div class="c-card__pay c-card__pay--next">
                <ul>

                    <li>
                        <div style="width: 50%; float: left;display: inline-block;">
                            <div style="font-weight: bold; font-size: 1.5em; padding-top: 15px">Total:    {{ event.currency_symbol }} <span class="total_purchase"></span></div>
                        </div>
                        <div style="width: 50%;float: right;  display: inline-block;">
                            <div style="text-align: right">
                                <a data-toggle="modal" data-target="#cupon-modal" data-dismiss="modal"  href='' class="button button--saleCust" id='popDeposito'>Depósito en cuenta <i class="fa fa-spinner fa-pulse onEnvFourth"></i></a>
                                <!--<span class="fa fa-spinner fa-pulse onEvnFirst"></span></div>-->
                        </div>

                    </li>
                </ul>

            </div>

        </div>
    </div>
    <div class="modal  fade modal--custom-deposito" id="cupon-modal" tabindex="-1"
           role="dialog"
           aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
              <div class="modal-content">

                  <div class="modal-body modal-deposite">
                      <div class="row">
                          <div class="col-md-12">
                              <button type="button" class="close" data-dismiss="modal"
                                      aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                              </button>

                          </div>
                      </div>
                      <div class="row">
                          <div class="col-xs-12">
                              <h4><strong>Deposite los S/ <span class="total_purchase"></span> la siguiente cuenta:</strong></h4>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-xs-12">
                              <p><strong>Banco</strong>: Interbank</p>
                              <p><strong>Tipo de cuenta</strong>: Cuenta corriente soles</p>
                              <p><strong>Nro de cuenta</strong>: 200-3001255230</p>
                              <p><strong>CCI</strong>: 003-200-003001255230-30</p>
                              <p><strong>Titular</strong>: Fuzz Pass SAC</p>
                              <p><strong>ruc</strong>:20601454999</p>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-xs-12">
                              <p><strong>Luego envíenos una copia de voucher al email soporte@fuzzpass.com con los siguientes datos:</strong></p>

                          </div>
                      </div>
                      <div class="row">
                          <div class="col-xs-12">
                              <p><strong>Nombre del evento</strong></p>
                              <p><strong>Zona</strong></p>
                              <p><strong>Cantidad de entradas</strong></p>
                              <p><strong>Asiento(s)* en el caso sea numerado</strong></p>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-xs-12">
                              <p>Su ticket quedará reservado por 2 horas para que pueda realizar el pago. Luego se liberará para que cualquier persona pueda comprarlo. En un máximo de 24 horas estará recibiendo sus tickets vía email.</p>
                          </div>
                      </div>
                      <div id="terHid">
                          <div class="coupon__content"
                               style="background-image: url({% static 'images/cupon.png' %}); background-repeat:no-repeat;
                                       background-size: cover;">


                          </div>

                      </div>

                      <a target="_blank" href='https://bancaporinternet.interbank.com.pe/Warhol/login?mcid=publica:referral:00-0000_canales:header:global:whl00001' class="btn btn-danger button btn-deposito">Ir a Interbank</a>
                  </div>
              </div>
          </div>
      </div>
</div>

