{% load staticfiles %}

<section class="producer" style="background-image: url({{ producer.cover.url }});">
    <div class="producer__info">
        <span style="">{{ producer.name }}</span>
    </div>
    <div class="producer__image">
        <img src="{{ producer.logo.url }}" class="prod_img-circle" alt="">
    </div>
    <div class="producer__socials">
        {% if producer.facebook %}
            <a href="{{ producer.facebook }}" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
        {% elif producer.twitter %}
            <a href="{{ producer.twitter }}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        {% elif producer.instagram %}
            <a href="{{ producer.instagram }}" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        {% endif %}
        <a href="{{ producer.twitter }}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a href="{{ producer.instagram }}" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
    </div>
</section>


<script>
    window.producer_id = {{ producer.id }};
</script>

<div class="container-fz ng-clock" ng-app="events" ng-cloak>
    <div ng-controller="producerEventsController">
        <section class="events">
            <div class="row" infinite-scroll='events_manager.load()' infinite-scroll-distance='2'>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" ng-show="currentDate < event.end_date" ng-repeat="event in events | orderBy: '-start_date'">
                    <div class="c-card">
                        <a href="/eventos/[[event.slug_name]]">
                            <div class="c-card__image" back-img="[[event.image_sharpen]]">
                                <img ng-src="[[event.image_sharpen]]" alt=""/>
                            </div>
                        </a>

                        <div class="c-card__info">
                            <div class="c-card__date">
                                <h5>
                                    [[event.start_date|date:"EEEE"|limitTo:3|capitalize]], [[event.start_date|date:"d"]]
                                    de [[event.start_date|date:"MMMM"|limitTo:3|capitalize]] / [[event.start_date|date:'HH:mm']]
                                </h5>
                                <div class="c-card__icons">
                                    <span class="calendar__icons">
                                        <div title="Add to Calendar" class="addeventatc" style="border: none !important;">
                                            <span class="start">[[event.start_date|date:'short']]</span>
                                            <span class="end">[[event.start_date|date:'short']]</span>
                                            <span class="timezone">America/Lima</span>
                                            <span class="title">[[event.name]]</span>
                                            <span class="description">Uno de los mejores eventos próximos - <br>Fuzzpass eventos</span>
                                            <span class="organizer">[[event.producer_name]]</span>
                                            <span class="facebook_event">[[event.facebook]]</span>
                                            <span class="all_day_event">false</span>
                                            <span class="date_format">MM/DD/YYYY</span>
                                            <span class="client">ajlREpQsnzYJzrGcpmrD20397</span>
                                        </div>
                                    </span>
                                    <span class="wish__icons">
                                        {% if user.is_authenticated %}
                                            <a ng-if="!event.is_wish" href="" ng-click="events_manager.do_like(event)">
                                                <i class="fa fa-heart-o"></i>
                                            </a>
                                            <a ng-if="event.is_wish" href="" ng-click="events_manager.dislike(event)">
                                                <i class="fa fa-heart"></i>
                                            </a>
                                        {% else %}
                                            <i class="fa fa-heart-o"></i>
                                        {% endif %}
                                    </span>
                                </div>
                            </div>

                            <h3 class="c-card__title">
                                <a href="/eventos/[[event.slug_name]]">[[ event.name|limitTo:29 ]]</a>
                            </h3>
                            <div class="c-card__address">
                                <h5>
                                    <i class="fa-map-marker fa-lg fa"> </i> &nbsp; [[ event.address ]]
                                </h5>
                                <h5>
                                    <i class="fa-users fa-lg fa"> </i> &nbsp; [[ event.assistants ]] Asistentes aprox.
                                </h5>
                            </div>
                            <div class="c-card__pay" ng-if="event.zones">
                                <h4 ng-repeat="zone in event.zones" ng-show="$first" ng-if="zone.value">[[ event.currency_symbol ]] [[zone.value]] +</h4>
                                <a href="/eventos/[[event.slug_name]]" class="button button--pay button--pay-two">Comprar
                                    Ahora</a>
                            </div>
                            <div class="c-card__pay" ng-if="event.zones == ''">
                                <h4>[[ event.currency_symbol ]] 0.00 +</h4>
                            </div>
                        </div>
                    </div>
                    <!--<p ng-show="events_manager.loading_events" class="text-center">
                            Cargando...
                        </p>-->
                </div>
            </div>
        </section>

        <h3>Eventos pasados</h3>
        <section class="events">
            <div class="row" infinite-scroll='events_manager.load()' infinite-scroll-distance='2'>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" ng-show="currentDate > event.end_date" ng-repeat="event in events | orderBy: '-start_date'">
                    <div class="c-card">
                        <a href="/eventos/[[event.slug_name]]">
                            <div class="c-card__image" back-img="[[event.image_sharpen]]">
                                <img ng-src="[[event.image_sharpen]]" alt=""/>
                            </div>
                        </a>

                        <div class="c-card__info">
                            <div class="c-card__date">
                                <h5>
                                    [[event.start_date|date:"EEEE"|limitTo:3|capitalize]], [[event.start_date|date:"d"]]
                                    de [[event.start_date|date:"MMMM"|limitTo:3|capitalize]] / [[event.start_date|date:'HH:mm']]
                                </h5>
                                <div class="c-card__icons">
                                    <span class="calendar__icons">
                                        <div title="Add to Calendar" class="addeventatc" style="border: none !important;">
                                            <span class="start">[[event.start_date|date:'short']]</span>
                                            <span class="end">[[event.start_date|date:'short']]</span>
                                            <span class="timezone">America/Lima</span>
                                            <span class="title">[[event.name]]</span>
                                            <span class="description">Uno de los mejores eventos próximos - <br>Fuzzpass eventos</span>
                                            <span class="organizer">[[event.producer_name]]</span>
                                            <span class="facebook_event">[[event.facebook]]</span>
                                            <span class="all_day_event">false</span>
                                            <span class="date_format">MM/DD/YYYY</span>
                                            <span class="client">ajlREpQsnzYJzrGcpmrD20397</span>
                                        </div>
                                    </span>
                                    <span class="wish__icons">
                                        {% if user.is_authenticated %}
                                            <a ng-if="!event.is_wish" href="" ng-click="events_manager.do_like(event)">
                                                <i class="fa fa-heart-o"></i>
                                            </a>
                                            <a ng-if="event.is_wish" href="" ng-click="events_manager.dislike(event)">
                                                <i class="fa fa-heart"></i>
                                            </a>
                                        {% else %}
                                            <i class="fa fa-heart-o"></i>
                                        {% endif %}
                                    </span>
                                </div>
                            </div>

                            <h3 class="c-card__title">
                                <a href="/eventos/[[event.slug_name]]">[[ event.name|limitTo:29 ]]</a>
                            </h3>
                            <div class="c-card__address">
                                <h5>
                                    <i class="fa-map-marker fa-lg fa"> </i> &nbsp; [[ event.address ]]
                                </h5>
                                <h5>
                                    <i class="fa-users fa-lg fa"> </i> &nbsp; [[ event.assistants ]] Asistentes aprox.
                                </h5>
                            </div>
                            <div class="c-card__pay" ng-if="event.zones">
                                <h4 ng-repeat="zone in event.zones" ng-show="$first" ng-if="zone.value">[[ event.currency_symbol ]] [[zone.value]] +</h4>
                                
                                <a href="/eventos/[[event.slug_name]]" ng-show="currentDate > event.end_date" class="button button--pay button--pay-two">Más Información</a>
                                     <a href="/eventos/[[event.slug_name]]" ng-show="currentDate <= event.end_date" class="button button--pay button--pay-two">Comprar
                                        Ahora</a>
                            </div>
                            <div class="c-card__pay" ng-if="event.zones == ''">
                                <h4>[[ event.currency_symbol ]] 0.00 +</h4>
                            </div>
                        </div>
                    </div>
                    <!--<p ng-show="events_manager.loading_events" class="text-center">
                            Cargando...
                        </p>-->
                </div>
            </div>
        </section>
    </div>

</div>

