{% load web_extras %}
{% load staticfiles %}
{% if status == '1' and tickets %}
    <h3 id="msg" class="button--success">venta procesada satisfactoriamente
puedes ver tus tickets aquí y en tu correo {{request.user.email}}</h3>
    <div class="container-fz">
        <div class="profile__tickets">
            {% for ticket in tickets %}
                <div class="tickets__item  {% if ticket.status == 'e' %}inactive{% endif %}">
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                        <div class="tickets__detail">
                            <span class="detail__date">{{ ticket.event.start_date|date:"D, d" }} de {{ ticket.event.start_date|date:"M" }} / {{ ticket.event.start_date.time|date:'H:i' }}</span>
                            <p class="detail__name">{{ ticket.event.name}}</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <span class="tickets__mount">
                            {{ ticket.event.currency_symbol }}  {{ precio_uni }}
                        </span>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                        {% if ticket.status != 'e' %}
                            <div class="tickets__sends">
                                 <a href="" data-toggle="modal" data-value="{{ forloop.counter }}" data-target="#viewTicket{{ forloop.counter }}">Ver Ticket</a>
                                 {% comment %}
                                    <a href="" data-toggle="modal" data-value="{{ forloop.counter }}" data-target="#sentTicket{{ forloop.counter }}">Enviar</a>

                                 {% endcomment %}
                            </div>
                        {% else %}
                            <div class="tickets__sends">
                                <span class="txt-inactive">Ticket enviado a {{ ticket.email }}</span>
                            </div>
                        {% endif %}
                    </div>
                </div>


            {% endfor %}
        </div>
    </div>
{% else %}
    <h1>Error venta no valida</h1>
{% endif %}
