<div class="container-fz">
    <section class="politics">
        <div class="body__main-group">
            <div class="group-item">
                <div class="row">
                    <div class="col-lg-12 abts">
                        <h2 class="item-title">Políticas y Privacidad | Fuzz Pass</h2>
                    </div>
                </div>
            </div>
            <div class="group-item">
                {% if politic %}
                    <div class="row">
                        <div class="col-lg-12">
                            <p>
                                {{ politic.description|safe }}
                            </p>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
</div>