<div class="container-fz">
    <section class="terms">
        <div class="body__main-group">
            <div class="group-item">
                <div class="row">
                    <div class="col-lg-12 abts">
                        <h2 class="item-title">Términos y condiciones</h2>
                    </div>
                </div>
            </div>
            <div class="group-item">
                {% if term %}
                  <div class="row">
                      <div class="col-lg-12">
                          <p>
                              {{ term.description|safe }}
                          </p>
                      </div>
                  </div>
                {% endif %}
            </div>
        </div>
    </section>
</div>