<div class="container-fz">

    {% if user.is_authenticated %}
        <div class="profile-update popups">
            <div class="profile-update__body">
                <h1>Perfil</h1>
                <form action="" method="post" class="form-site col-md-12" enctype="multipart/form-data">
                    {% csrf_token %}
                    <fieldset class="form-group col-md-12">
                        <label for="user_first_name">Nombre (*)</label>
                        <input autofocus="autofocus" class="form-control" id="user_first_name" value="{{ form.first_name.value }}" name="{{ form.first_name.name }}"
                               type="text" required>
                        {% if form.first_name.errors %}
                            {{ form.first_name.errors }}
                        {% endif %}
                    </fieldset>
                    <fieldset class="form-group col-md-12">
                        <label for="user_last_name">Apellidos (*)</label>
                        <input autofocus="autofocus" class="form-control" id="user_last_name" value="{{ form.last_name.value }}"
                               name="{{ form.last_name.name }}"
                               type="text" required>
                        {% if form.last_name.errors %}
                            {{ form.last_name.errors }}
                        {% endif %}
                    </fieldset>
                    <fieldset class="form-group col-md-12">
                        <label for="user_phone">Teléfono (*)</label>
                        <input autofocus="autofocus" class="form-control"
                               id="user_phone" value=
                                       "{{ form.phone.value }}"
                               name="{{ form.phone.name }}"
                               type="text" placeholder="Ejm: 999 999 999" maxlength="9" required>
                        {% if form.phone.errors %}
                            {{ form.phone.errors }}
                        {% endif %}
                    </fieldset>
                    <fieldset class="form-group col-md-12">
                        <label for="user_dni">Dni (*)</label>
                        <input autofocus="autofocus" class="form-control"
                               id="user_dni" value=
                                       "{{ form.dni.value }}"
                               name="{{ form.dni.name }}"
                               type="text" placeholder="Ejm: 87654321" maxlength="8" required>
                        {% if form.dni.errors %}
                            {{ form.dni.errors }}
                        {% endif %}
                    </fieldset>
                    <fieldset class="form-group col-md-12">
                        <label for="user_photo">Photo (*)</label>
                        <input autofocus="autofocus" class="form-control"
                               id="user_photo" value="{{ form.photo.value }}"
                               name="{{ form.photo.name }}"
                               type="file">
                        {% if form.photo.errors %}
                            {{ form.photo.errors }}
                        {% endif %}
                    </fieldset>
                    <fieldset class="form-group col-md-12">
                        <div class="form-group">
                            <label>Estilos Musicales</label>
                            <select id="ms" {{ form.musicals }}
                            </select>
                        </div>
                    </fieldset>
                    <div class="col-md-12">
                        <input type="submit" value="Actualizar información" class="button button--update"/>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
</div>
