<div class="container-fz">
    <section class="aboutUs">
        <div class="body__main-group">
            <div class="group-item">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="item-title item-title--aU">Sobre Fuzz Pass</h2>
                    </div>
                </div>
            </div>
            <div class="group-item">
                <div class="row">
                    <div class="col-lg-12">
                        <p>
                            {{ about_info.about|safe }}
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="body__team-group">
            <div class="group-item">
                <div class="abts">
                    <h2 class="item-title item-title--aU">El Equipo</h2>
                </div>
            </div>

            <div class="group-item">
                <div class="row">
                    <div class="col-lg-12 team-aU" style="background-image: url({{ about_info.team_image.url }});"></div>
                </div>
            </div>

            <div class="group-item">
                <div class="row">
                    <div class="col-lg-12">
                        <p>
                            {{ about_info.team_description|safe }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
