{% load crispy_forms_tags %}

<div class="container-fz">
    <div class="section-normal">
        <div class="container" style="margin-top: 150px;">
            <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3
        col-sm-8 col-sm-offset-2 col-xs-12
        login-content">
                <form action="" method="post" class="form-site">
                    {% crispy form2 %}
                    {% comment %}
                        <p class="text-center o-site">
                            <a href="{% url 'accounts:password_reset' %}" class="link">¿Olvidaste tu contraseña?</a><br>
                        </p>
                    {% endcomment %}

                    <div>
                        <button type="submit" class="button button--full button--dark f-akura" name="form2">INGRESAR</button>
                    </div>
                </form>
                <div>

                </div>
                <div class="register-plane">
                    <a data-toggle="modal" data-target="#form-register"
                       data-dismiss="modal" id="btn-register">No Tengo una cuenta
                    </a>
                </div>

            </div>

        </div>
    </div>
</div>