<div id="AutenthicationPage" class='autenthication_page'>
    <div class="wrapper">
        <div class="LoginSectionAndRegisterSection">
            <section class="LoginSection">
                <h2 class="LoginSection__title text-left">Login</h2>
                <h4 class="LoginSection__title">SI TIENES UN NUEVO USUARIO</h4>
                <p class='RegisterSection__title_paraf'>INGRESA CON TU EMAIL Y CONTRASEÑA</p>
                <div class="LoginSection__loginContainer">
                    {% include 'contentPages/contentLogin.html' %}
                </div>
            </section>
            <section class="RegisterSection">
                <h2 class="LoginSection__title text-left">Registro</h2>
                <h4 class="LoginSection__title">SI AÚN NO TIENES USUARIO</h4>
                <p class='RegisterSection__title_paraf'>COMPLETA LOS SIGUIENTES DATOS</p>
                {% comment %}

                   <h2 class="RegisterSection__title text-left">Crea una cuenta</h2>
                {% endcomment %}
                <div class="RegisterSection__registerContainer">
                    {% include 'accounts/register-popup_inner.html' %}
                </div>
            </section>
        </div>
        <div class="autenthication_page__footer">
            <a href="{% url 'accounts:password_reset' %}" class="link">¿Olvidaste tu contraseña?</a><br>
        </div>

    </div>
</div>
</div>