{% load staticfiles %}

<div class="container-fz">
    <section class="prod_tickets">
        <div class="row">
            {% for producer in producers %}
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="c-card">
                        <div class="c-card__image" style="background-image: url({{ producer.cover.url }});">
                            <img src="{{ producer.cover.url }}" alt=""/>
                        </div>
                        <div class="c-card__info">
                            <h3 class="c-card__title">
                                <a href="{% url 'webs:producer_detail' producer.slug_name %}">
                                    <img class="producer__icon" src="{{ producer.logo.url }}" alt="producer-Image">
                                    {{ producer.name|truncatechars:16 }}
                                </a>
                            </h3>

                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
</div>

