{% load web_extras %}
{% load staticfiles %}
<div class="container-fz container-small">
    {% include 'components/carouselItem.html' %}

    <section class="event">
        <div class="event__w1 container">
            <div class="event__header row">
                <div class="event__producer col-md-6">
                    <h3 class='event__header__title'>
                        Organizado por
                    </h3>
                    <a class='event__header__link' href="{% url 'webs:producer_detail' event.organizer.slug_name %}"
                    >{{ event.organizer.name }}</a>

                </div>
                <div class="event__location col-md-6">
                    <h3 class='event__header__title'>Lugar</h3>
                    <a class='event__header__link' {% if event.location %}href='https://maps.google.com/maps?q={{ event.location.y|to_and }},{{ event.location.x|to_and }}&z=15' target="_blank" {% endif %} > {{ event.get_address }}
                    </a>
                </div>
            </div>
            {% if user.user_mode == 'i' and is_influence_assigned %}
                <div class="event__shares shares--mobile">
                    <h3 class="inf-title">Hola {% if user.first_name %}
                        {{ user.first_name }},
                    {% else %}
                        <a class="extra-user__link" href="{% url 'accounts:profile' %}">SIN
                            DATOS,</a>
                    {% endif %}
                    </h3>
                    {% if user.influences %}
                        <span class="inf-subtitle">
                            Comparte este evento en tus redes sociales para que sea más exitoso y
                            gana 10% de descuento en tu entrada.
                        </span>
                        <div class="row">
                            <div class="col-lg-12">
                                <br>
                                <input type="text" placeholder="" class="js-copytextarea" value="https://fuzzpass.com/{{ user.uid }}/{{ event.uid }}">
                                <button class="js-textareacopybtn">Copy</button>

                            </div>
                        </div>
                        <ul class="inf-socs">
                            <li>
                                <a class="socs-link link--twitter" href="https://twitter.com/intent/tweet?text=https://fuzzpass.com/{{ user.uid }}/{{ event.uid }}" target="_blank">
                                    <i class="fa fa-twitter" aria-hidden="true"></i> Tweet
                                </a>
                            </li>
                            <li>
                                <a class="socs-link link--plus" href="https://plus.google.com/share?url=https://fuzzpass.com/{{ user.uid }}/{{ event.uid }}" target="_blank">
                                    <i class="fa fa-plus" aria-hidden="true"></i> Google+
                                </a>
                            </li>
                            <li>
                                <a class="socs-link link--facebook" href="https://www.facebook.com/sharer/sharer.php?u=https://fuzzpass.com/{{ user.uid }}/{{ event.uid }}" target="_blank">
                                    <i class="fa fa-facebook" aria-hidden="true"></i> Facebook
                                </a>
                            </li>
                        </ul>
                    {% endif %}
                </div>
            {% endif %}

            <div class="event__detail">

                <h3>
                   Sobre el evento
                </h3>

                <p>
                    {{ event.description|safe }}
                </p>
                {% if event.spotify %}
                    <div class="event__spotify">
                        <iframe src="https://embed.spotify.com/?uri=spotify:user:{{ event.spotify.spotify_user }}:playlist:{{ event.spotify.spotify_playlist }}" width="100%"
                                frameborder="0" allowtransparency="true"></iframe>
                    </div>
                {% endif %}
                <h3>
                    Términos y Condiciones
                </h3>
                <p>
                    {{ event.terms|safe }}
                </p>

                <ul class="band__socials">
                    <li>
                        {% if event.facebook %}
                            <a href="{{ event.facebook }}" target="_blank">
                                <i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i>
                            </a>
                        {% endif %}
                    </li>
                    <li>
                        {% if event.twitter %}
                            <a href="{{ event.twitter }}" target="_blank">
                                <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
                            </a>
                        {% endif %}
                    </li>
                    <li>
                        {% if event.instagram %}
                            <a href="{{ event.instagram }}" target="_blank">
                                <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
                            </a>
                        {% endif %}
                    </li>
                </ul>
                {% if event.video %}
                    <h3>
                        Video
                    </h3>
                {% endif %}
            </div>
            {% if event.video %}
                <div class="event__video">
                    <iframe width="100%" height="500" src="{{ event.video }}" frameborder="0" allowfullscreen></iframe>
                </div>
            {% endif %}
        </div>

        <div class="event__w2">
            {% if user.user_mode == 'i' and is_influence_assigned %}
                <div class="event__shares shares--desktop">
                    <h3 class="inf-title">Hola {% if user.first_name %}
                        {{ user.first_name }},
                    {% else %}
                        <a class="extra-user__link" href="{% url 'accounts:profile' %}">SIN
                            DATOS,</a>
                    {% endif %}
                    </h3>
                        <span class="inf-subtitle">
                            Comparte este evento en tus redes sociales para que sea más exitoso y
                            gana 10% de descuento en tu entrada.
                        </span>

                        <div class="row">
                            <div class="col-lg-12">
                                <br>
                                <input type="text" placeholder="" class="js-copytextarea" value="https://fuzzpass.com/{{ user.uid }}/{{ event.uid }}">
                                <button class="js-textareacopybtn">Copy</button>
                            </div>
                        </div>
                        <ul class="inf-socs">
                            <li>
                                <a class="socs-link link--twitter" href="https://twitter.com/intent/tweet?text=https://fuzzpass.com/{{ user.uid }}/{{ event.uid }}" target="_blank">
                                    <i class="fa fa-twitter" aria-hidden="true"></i> Tweet
                                </a>
                            </li>
                            <li>
                                <a class="socs-link link--plus" href="https://plus.google.com/share?url=https://fuzzpass.com/{{ user.uid }}/{{ event.uid }}" target="_blank">
                                    <i class="fa fa-plus" aria-hidden="true"></i> Google+
                                </a>
                            </li>
                            <li>
                                <a class="socs-link link--facebook" href="https://www.facebook.com/sharer/sharer.php?u=https://fuzzpass.com/{{ user.uid }}/{{ event.uid }}" target="_blank">
                                    <i class="fa fa-facebook" aria-hidden="true"></i> Facebook
                                </a>
                            </li>
                        </ul>

                </div>
            {% endif %}

            {% comment %}

                <div class="event__producer">
                    <h3>
                        Organizado por
                    </h3>
                    <h4>
                        <a href="{% url 'webs:producer_detail' event.organizer.slug_name %}"
                        >{{ event.organizer.name }}</a>
                    </h4>
                    <div class="producer__content">
                        <a href="{% url 'webs:producer_detail' event.organizer.slug_name %}">
                            <img class="producer__logo" src="{{ event.organizer.logo.url }}" alt="">
                        </a>
                    </div>
                </div>
            {% endcomment %}
        </div>
    </section>
</div>