{% load staticfiles %}
    <div id="form-login" class="modal fade popups" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <img src="{% static 'images/fuzzpass-logo.png' %}" alt="Logo">
                </div>
                <div id="form-login-body" class="modal-body">
                    <p>
                        <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                        <span class="sr-only">Loading...</span>
                    </p>
                </div>
                <div class="modal-footer">
                    <a class="forget-pass"
                       href="{% url 'accounts:password_reset' %}">
                        Olvide mi contraseña
                    </a>
                    <p>
                        O
                    </p>
                    <form id="form-facebook" action="{% url 'social:begin' 'facebook' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="button button--facebook">
                            Ingresar con Facebook
                        </button>
                    </form>
                    <a id="btn-register">No Tengo una cuenta
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div id="form-register" class="modal fade popups" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal"><i class="icon-xs-o-md"></i></button>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <img src="{% static 'images/fuzzpass-logo.png' %}" alt="Logo">
                </div>
                <div id="form-register-modal-body" class="modal-body">
                    <p>
                        <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                        <span class="sr-only">Loading...</span>
                    </p>
                    <div class="help-tip"></div>
                </div>
                <div class="modal-footer custom-footer">
                    <form action="{% url 'social:begin' 'facebook' %}" method="post">
                         {% csrf_token %}
                        <button type="submit" class="button button--facebook">
                            Ingresar con Facebook
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>