<div class="container-fz">
    <section class="wish-list" style="margin:45px 0;">

        <h4 class="profile__title"><a href="">WISH LIST</a></h4>

        {% for wish in list_wishes %}
            <div class="profile__tickets">
                <div class="tickets__item">
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                        <div class="tickets__detail">
                            <span class="detail__date">{{ wish.events.start_date|date:"D, d"}} de {{ wish.events.start_date|date:"M"}} / {{ wish.events.start_date.time|date:'H:i' }}</span>
                            <p class="detail__name">{{ wish.events.name|truncatechars:20 }}</p>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                        <span class="tickets__mount">
                            S/ {% with wish.events.zones.all|first as zona %}{{ zona.value }}{% endwith %}
                        </span>
                    </div>

                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                        <div class="c-card__pay c-card__pay--two">
                            <a href="{% url 'webs:event_detail' wish.events.slug_name %}" class="button
                            button--pay-two">Comprar Ahora</a>
                        </div>
                    </div>
                    <span class="close__wish">X</span>
                </div>
            </div>
        {% endfor %}
    </section>
</div>
