{% load web_extras %}
{% load staticfiles %}
<div class="container-fz">


    <section class="profile">
        <div class="d-flex flex-direction-column">
            <h3 class="profile__name"><strong>Nombre y Apellido: </strong> {{ user.get_full_name|title }}</h3>
            <h3 class="profile__name"><strong>Email: </strong>{{ user.email }}</h3>
        </div>
        {% comment %}
            <div class="profile__detail">
            <a href="{% url 'accounts:profile-update' %}" class="button button--update button--update2">
                <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>

            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="profile__media">
                        {% if user.photo %}
                            <img class="media__photo media__photo--big" src="{{ user.photo.small.url }}">
                        {% else %}
                            <img class="media__photo" src="{% static 'images/default-user.png' %}">
                        {% endif %}
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="profile__info">
                        <ul>
                            <li>
                                <h4>Nombre y Apellido</h4>
                                {{ user.get_full_name|title }}
                            </li>
                            <li>
                                <h4>Correo</h4>
                                {{ user.email }}
                            </li>
                            <li>
                                {% if user.dni %}
                                    <h4>DNI</h4>
                                    {{ user.dni }}
                                {% else %}
                                    <span class="txt-dgr">No hay un dni registrado</span>
                                {% endif %}
                            </li>
                            <li>
                                {% if user.phone %}
                                    <h4>Teléfono</h4>
                                    {{ user.phone }}
                                {% else %}
                                    <span class="txt-dgr">No hay un teléfono registrado</span>
                                {% endif %}
                            </li>
                            <li>
                                {% if user.musicals %}
                                    <h4>Estilos Musicales </h4>
                                    <div class="profile__info--sub">(Escoje más estilos editando tu perfil <i class="fa fa-pencil"></i> )</div>
                                    {% for musical in user.musicals.all %}
                                        {{ musical.name }},
                                    {% endfor %}
                                {% else %}
                                    <span class="txt-dgr">No hay estilos musicales registrados</span>
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% endcomment %}

        {% if tickets %}
            <h4 class="profile__title">Tickets</h4>
        {% endif %}

        <div class="profile__tickets">
            {% for ticket in tickets %}
                <div class="tickets__item  {% if ticket.status == 'e' %}inactive{% endif %}">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="tickets__detail">
                            <span class="detail__date">{{ ticket.event.start_date|date:"D, d" }} de {{ ticket.event.start_date|date:"M" }} /
                                {{ ticket.event.start_date.time|date:'H:i' }}</span>

                            <p class="detail__name">{{ ticket.event.name }}</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

                        {% if ticket.status != 'e' %}
                            <div class="tickets__sends">
                                <a href="" class="button-black" data-toggle="modal" data-target="#ticket-modal{{ forloop.counter }}">Ver
                                    Ticket</a>
                                    {% comment %}

                                    <a href="" data-toggle="modal" data-target="#send-modal{{ forloop.counter }}">Enviar</a>
                                    {% endcomment %}
                            </div>
                        {% else %}
                            <div class="tickets__sends">
                                <span class="txt-inactive">Ticket enviado a {{ ticket.email }}</span>
                            </div>
                        {% endif %}

                    </div>
                </div>

            {% endfor %}
        </div>

        {% if list_wishes %}
            <h4 class="profile__title"><a href="{% url 'accounts:wish-list' %}">WISH LIST</a></h4>
        {% endif %}

        {% for wish in list_wishes %}
            <div class="profile__tickets">
                <div class="tickets__item">
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                        <div class="tickets__detail">
                            <span class="detail__date">{{ wish.events.start_date|date:"D, d" }} de {{ wish.events.start_date|date:"M"|lower }} /
                                {{ wish.events.start_date.time|date:'H:i' }}</span>

                            <p class="detail__name">{{ wish.events.name|truncatechars:20 }}</p>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                        <span class="tickets__mount">
                            S/ {% with wish.events.zones.all|first as zona %}
                            {% if zona.value %}
                                {{ zona.value }}
                            {% else %}
                                0.00
                            {% endif %}
                        {% endwith %}+
                        </span>
                    </div>

                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                        <div class="c-card__pay c-card__pay--two">
                            <a href="{% url 'webs:event_detail' wish.events.slug_name %}" class="button
                            button--pay-two">Comprar Ahora</a>
                        </div>
                    </div>
                    <span id="del-wis" class="close__wish">X</span>
                </div>
            </div>
        {% endfor %}

{% comment %}
            {% if my_all_good_memories %}
            <h4 class="profile__title"><a href="{% url 'accounts:wish-list' %}">Buenos Recuerdos</a></h4>
            <div class="row">
            {% for good_memories in my_all_good_memories %}
                 <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="goodMemory">
                        <div class="goodMemory__content" style="background-image: url({{ good_memories.event.ticket_cover.url }});background-repeat: no-repeat;background-size: cover;">
                            <div class="goodM__head">
                                <div class="gMhead--logo">
                                    <img src="{% static 'images/fuzzpass-logo-white.png' %}" style="width: 50px;" alt="logo-white">
                                </div>
                                <div class="gMhead--price">
                                    <span class="gMhead--value">
                                        S/ {{ good_memories.price }}
                                    </span>
                                    <span class="gMhead--zone">
                                        {{ good_memories.zone }}
                                    </span>
                                </div>

                            </div>
                            <div class="goodM__body">
                                <span class="gMbody--date">
                                    {{ good_memories.event.start_date|date:"D, d" }} de {{ good_memories.event.start_date|date:"M" }} /
                                {{ good_memories.event.start_date.time|date:'H:i' }}
                                </span>
                                <span class="gMbody--name">
                                    {{ good_memories.event.name|truncatechars:20 }}
                                </span>
                                <span class="gMbody--qr">
                                    <img src="{{ good_memories.qr.url }}" alt="Qrcode">
                                </span>
                                <span class="gMbody--code">
                                    {{ good_memories.code }}
                                </span>
                                <span class="gMbody--msg">
                                    Valida tu ticket sólo en la puerta del evento
                                </span>


                            </div>
                            <div class="goodM__footer">
                                <span>Un evento de {{ good_memories.event.organizer }}</span>
                                <span ><img class="gM__footer--image" src="{{ good_memories.event.organizer.logo.url }}" alt="oragnizer logo"></span>
                            </div>

                        </div>
                    </div>
                </div>
            {% endfor %}


            </div>
        {% endif %}
{% endcomment %}
    </section>
</div>


