{% extends 'layout.html' %}
{% load staticfiles %}
{% block title %}Escoger Asientos{% endblock %}

{% block meta %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

<link rel="stylesheet" href="{% static 'styles/all.min.css' %}">
{% block class_body %}event-detail{% endblock class_body %}
{% block content %}
    {% include section.template_name %}
{% endblock %}
{% block extra_scripts %}
    <script>
        var zoneID, seatsNumber, totalValue, currentSeatsNumber = 0;
        var selectedSeats = new Set();

        $(function(){
            zoneID = localStorage.getItem('zone_id');
            seatsNumber = parseInt(localStorage.getItem('quantity'));
            totalValue = parseFloat(localStorage.getItem('totalValue'));
            $('#toPay').append(totalValue);
            {% for boughtSeat in bought_seats %}
            $('#'+'{{ boughtSeat.identifier }}').addClass('comprado');
            $('#'+'{{ boughtSeat.identifier|upper }}').addClass('comprado');
            {% endfor %}
            {% for boughtSeat in bought_seats %}
            $('#'+'{{ boughtSeat.identifier_municipal }}').addClass('comprado');
            $('#'+'{{ boughtSeat.identifier_municipal|upper }}').addClass('comprado');
            {% endfor %}

            {% for reservedSeat in reserved_seats %}
            $('#'+'{{ reservedSeat.identifier }}').addClass('comprado');
            $('#'+'{{ reservedSeat.identifier|upper }}').addClass('comprado');
            {% endfor %}
            {% for reservedSeat in reserved_seats %}
            $('#'+'{{ reservedSeat.identifier_municipal }}').addClass('comprado');
            $('#'+'{{ reservedSeat.identifier_municipal|upper }}').addClass('comprado');
            {% endfor %}


            $('.atomo-item-asiento').on('click', function(e){
                e.preventDefault()
                var seatId = $(this).attr('id')

                if(seatId == undefined || $(this).hasClass('comprado')) {
                    return
                }

                if($('.cnt-butacas').find('.'+seatId).length<1){
                    if(currentSeatsNumber >= seatsNumber) {
                        return
                    }
                    $('<i class="' + seatId + '">,</i><strong class="' + seatId + '">' + seatId + '</strong>').appendTo('.cnt-butacas')
                    currentSeatsNumber += 1
                    selectedSeats.add(seatId);
                }else{
                    $('.cnt-butacas').find('.'+seatId).remove();
                    currentSeatsNumber -= 1
                    selectedSeats.delete(seatId);
                }
                $(this).toggleClass('tus-asientos')
            })

            $('#toPay').on('click', function (event) {
                event.preventDefault()
                if(currentSeatsNumber < seatsNumber) {
                    return
                }
                let url = $(this).attr('href')
                localStorage.setItem('selectedSeats', Array.from(selectedSeats))
                window.location = url
            })

        })

        $(window).on('load', function(){
            var	item = $('.butacas-pagar'),
                alto_item = item.outerHeight(),
                top_item = item.offset().top,
                left_item = item.offset().left;
            $(window).on('scroll', function(){
                var sc = $(window).scrollTop()
                if(sc > top_item){
                    item.addClass('sticky')
                }else{
                    item.removeAttr('style')
                    item.removeClass('sticky')
                }
            });
        });
    </script>
{% endblock %}