<main>
    <section class="butacas-pagar">
        <div class="wrapper-pagar container-full ">
            {% comment %}
                <p>Tiempo restante <em>09:59</em></p>
            {% endcomment %}
            <div class="reservas-butacas-pagar">
                <div class="resevas-asientos">
                    <span>Asientos seleccionados:</span>
                    <div class="cnt-butacas"></div>
                </div>
                <a href="{% url 'payments:buy_in' event.slug_name %}" id="toPay">Pagar {{ event.currency_symbol }}</a>
            </div>
        </div>
    </section>
    <section class="container-full ancho-butacas ">
        <article class="content-asientos">
            <div class="content-title">
                <h4 class="atomo-title">Teatro Municipal de Lima</h4>
                <ul class="molecula-legend-asientos">
                    <li class="atomo-item-legend">
                        <span class="libre"></span>
                        <p>Libre</p>
                    </li>
                    <li class="atomo-item-legend">
                        <span class="comprado"></span>
                        <p>Comprado</p>
                    </li>
                    <li class="atomo-item-legend">
                        <span class="seleccionado"></span>
                        <p>Tus asientos</p>
                    </li>
                    <li class="atomo-item-legend">
                        <span class="discapacitado"></span>
                        <p>Discapacitados</p>
                    </li>
                </ul>
            </div>
        </article>
        <div class="container-molecular-asientos container-municipal-asientos">
            <h2 class="atomo-title-border">Teatro Municipal de Lima</h2>
            <h3 class="atomo-title-noborder">Platea Preferencial</h3>
            <article class="molecula-wrap-central municipal-wrap-central">
                <div class="molecula-wrap-full">
                    <div class="atomo-title-sub">
                        Platea baja
                    </div>
                    <div class="molecula-baja-left municipal-left">

                        <div class="atomo-item-text top-1">
                            <span>2</span>
                        </div>

                        <div class="atomo-item-asiento libre left-1 top-1" id="2-20">
                            <a href="">20</a>
                        </div>
                        <div class="atomo-item-asiento libre top-1" id="2-19">
                            <a href="">19</a>
                        </div>
                        <div class="atomo-item-asiento libre top-1" id="2-18">
                            <a href="">18</a>
                        </div>
                        <div class="atomo-item-asiento libre top-1" id="2-17">
                            <a href="">17</a>
                        </div>
                        <div class="atomo-item-text top-1">
                            <span>2</span>
                        </div>
                        <div class="atomo-item-text">
                            <span>3</span>
                        </div>
                        <div class="atomo-item-asiento libre left-1" id="3-21">
                            <a href="">21</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="3-20">
                            <a href="">20</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="3-19">
                            <a href="">19</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="3-18">
                            <a href="">18</a>
                        </div>
                        <div class="atomo-item-text">
                            <span>3</span>
                        </div>
                        <div class="atomo-item-text">
                            <span>4</span>
                        </div>
                        <div class="atomo-item-asiento libre left-1" id="4-20">
                            <a href="">20</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="4-19">
                            <a href="">19</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="4-18">
                            <a href="">18</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="4-17">
                            <a href="">17</a>
                        </div>
                        <div class="atomo-item-text">
                            <span>4</span>
                        </div>
                        <div class="atomo-item-text">
                            <span>5</span>
                        </div>
                        <div class="atomo-item-asiento libre" id="5-23">
                            <a href="">23</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="5-22">
                            <a href="">22</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="5-21">
                            <a href="">21</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="5-20">
                            <a href="">20</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="5-19">
                            <a href="">19</a>
                        </div>
                        <div class="atomo-item-text">
                            <span>5</span>
                        </div>
                        <div class="atomo-item-text">
                            <span>6</span>
                        </div>
                        <div class="atomo-item-asiento libre" id="6-22">
                            <a href="">22</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="6-21">
                            <a href="">21</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="6-20">
                            <a href="">20</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="6-19">
                            <a href="">19</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="6-18">
                            <a href="">18</a>
                        </div>
                        <div class="atomo-item-text">
                            <span>6</span>
                        </div>
                        <div class="atomo-item-text">
                            <span>7</span>
                        </div>
                        <div class="atomo-item-asiento libre" id="7-23">
                            <a href="">23</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="7-22">
                            <a href="">22</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="7-21">
                            <a href="">21</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="7-20">
                            <a href="">20</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="7-19">
                            <a href="">19</a>
                        </div>
                        <div class="atomo-item-text">
                            <span>7</span>
                        </div>
                        <div class="atomo-item-text">
                            <span>8</span>
                        </div>
                        <div class="atomo-item-asiento libre" id="8-22">
                            <a href="">22</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="8-21">
                            <a href="">21</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="8-20">
                            <a href="">20</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="8-19">
                            <a href="">19</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="8-18">
                            <a href="">18</a>
                        </div>
                        <div class="atomo-item-text">
                            <span>8</span>
                        </div>
                        <div class="atomo-item-text">
                            <span>9</span>
                        </div>
                        <div class="atomo-item-asiento libre" id="9-23">
                            <a href="">23</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="9-22">
                            <a href="">22</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="9-21">
                            <a href="">21</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="9-20">
                            <a href="">20</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="9-19">
                            <a href="">19</a>
                        </div>
                        <div class="atomo-item-text">
                            <span>9</span>
                        </div>
                        <div class="atomo-item-text">
                            <span>10</span>
                        </div>
                        <div class="atomo-item-asiento libre" id="10-22">
                            <a href="">22</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="10-21">
                            <a href="">21</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="10-20">
                            <a href="">20</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="10-19">
                            <a href="">19</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="10-18">
                            <a href="">18</a>
                        </div>
                        <div class="atomo-item-text">
                            <span>10</span>
                        </div>
                        <div class="atomo-item-text">
                            <span>11</span>
                        </div>
                        <div class="atomo-item-asiento libre left-1" id="11-21">
                            <a href="">21</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="11-20">
                            <a href="">20</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="11-19">
                            <a href="">19</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="11-18">
                            <a href="">18</a>
                        </div>
                        <div class="atomo-item-text">
                            <span>11</span>
                        </div>
                        <div class="atomo-item-text">
                            <span>12</span>
                        </div>
                        <div class="atomo-item-asiento libre left-2" id="12-18">
                            <a href="">18</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="12-17">
                            <a href="">17</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="12-16">
                            <a href="">16</a>
                        </div>
                        <div class="atomo-item-text">
                            <span>12</span>
                        </div>

                        <div class="atomo-item-text">
                            <span>13</span>
                        </div>
                        <div class="atomo-item-asiento libre left-3"  id="13-17">
                            <a href="">17</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="13-16">
                            <a href="">16</a>
                        </div>
                        <div class="atomo-item-text">
                            <span>13</span>
                        </div>

                    </div>
                </div>
                <div class="molecula-wrap-full">
                    <div class="atomo-title-sub">
                        Platea baja
                    </div>
                    <div class="molecula-baja-central municipal-central">


                        <div class="atomo-item-text top-3">
                            <span>3</span>
                        </div>
                        <div class="atomo-item-asiento libre top-3" id="3-17">
                            <a href="">17</a>
                        </div>
                        <div class="atomo-item-asiento libre top-3 " id="3-16">
                            <a href="">16</a>
                        </div>
                        <div class="atomo-item-asiento libre top-3" id="3-15">
                            <a href="">15</a>
                        </div>
                        <div class="atomo-item-asiento libre top-3" id="3-14">
                            <a href="">14</a>
                        </div>
                        <div class="atomo-item-asiento libre top-3" id="3-13">
                            <a href="">13</a>
                        </div>
                        <div class="atomo-item-asiento libre top-3" id="3-12">
                            <a href="">12</a>
                        </div>
                        <div class="atomo-item-asiento libre top-3" id="3-11">
                            <a href="">11</a>
                        </div>
                        <div class="atomo-item-asiento libre top-3" id="3-10">
                            <a href="">10</a>
                        </div>
                        <div class="atomo-item-asiento libre top-3" id="3-9">
                            <a href="">9</a>
                        </div>
                        <div class="atomo-item-asiento libre top-3" id="3-8">
                            <a href="">8</a>
                        </div>
                        <div class="atomo-item-asiento libre top-3" id="3-7">
                            <a href="">7</a>
                        </div>
                        <div class="atomo-item-asiento libre top-3" id="3-6">
                            <a href="">6</a>
                        </div>
                        <div class="atomo-item-asiento libre top-3 " id="3-5">
                            <a href="">5</a>
                        </div>
                        <div class="atomo-item-text top-3">
                            <span>3</span>
                        </div>
                        <div class="atomo-item-text">
                            <span>4</span>
                        </div>

                        <div class="atomo-item-asiento libre left-1 " id="4-16">
                            <a href="">16</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="4-15">
                            <a href="">15</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="4-14">
                            <a href="">14</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="4-13">
                            <a href="">13</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="4-12">
                            <a href="">12</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="4-11">
                            <a href="">11</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="4-10">
                            <a href="">10</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="4-9">
                            <a href="">9</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="4-8">
                            <a href="">8</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="4-7">
                            <a href="">7</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="4-6">
                            <a href="">6</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="4-5">
                            <a href="">5</a>
                        </div>
                        <div class="atomo-item-text">
                            <span>4</span>
                        </div>
                        <div class="atomo-item-text">
                            <span>5</span>
                        </div>
                         <div class="atomo-item-asiento libre " id="5-18">
                            <a href="">18</a>
                        </div>
                         <div class="atomo-item-asiento libre " id="5-17">
                            <a href="">17</a>
                        </div>
                         <div class="atomo-item-asiento libre " id="5-16">
                            <a href="">16</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="5-15">
                            <a href="">15</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="5-14">
                            <a href="">14</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="5-13">
                            <a href="">13</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="5-12">
                            <a href="">12</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="5-11">
                            <a href="">11</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="5-10">
                            <a href="">10</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="5-9">
                            <a href="">9</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="5-8">
                            <a href="">8</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="5-7">
                            <a href="">7</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="5-6">
                            <a href="">6</a>
                        </div>
                        <div class="atomo-item-text">
                            <span>5</span>
                        </div>
                        <div class="atomo-item-text">
                            <span>6</span>
                        </div>
                         <div class="atomo-item-asiento libre left-1" id="6-17">
                            <a href="">17</a>
                        </div>
                         <div class="atomo-item-asiento libre " id="6-16">
                            <a href="">16</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="6-15">
                            <a href="">15</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="6-14">
                            <a href="">14</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="6-13">
                            <a href="">13</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="6-12">
                            <a href="">12</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="6-11">
                            <a href="">11</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="6-10">
                            <a href="">10</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="6-9">
                            <a href="">9</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="6-8">
                            <a href="">8</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="6-7">
                            <a href="">7</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="6-6">
                            <a href="">6</a>
                        </div>
                        <div class="atomo-item-text">
                            <span>6</span>
                        </div>
                        <div class="atomo-item-text">
                            <span>7</span>
                        </div>
                        <div class="atomo-item-asiento libre " id="7-18">
                            <a href="">18</a>
                        </div>
                         <div class="atomo-item-asiento libre " id="7-17">
                            <a href="">17</a>
                        </div>
                         <div class="atomo-item-asiento libre " id="7-16">
                            <a href="">16</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="7-15">
                            <a href="">15</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="7-14">
                            <a href="">14</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="7-13">
                            <a href="">13</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="7-12">
                            <a href="">12</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="7-11">
                            <a href="">11</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="7-10">
                            <a href="">10</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="7-9">
                            <a href="">9</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="7-8">
                            <a href="">8</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="7-7">
                            <a href="">7</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="7-6">
                            <a href="">6</a>
                        </div>
                        <div class="atomo-item-text">
                            <span>7</span>
                        </div>
                        <div class="atomo-item-text">
                            <span>8</span>
                        </div>
                         <div class="atomo-item-asiento libre left-1" id="8-17">
                            <a href="">17</a>
                        </div>
                         <div class="atomo-item-asiento libre " id="8-16">
                            <a href="">16</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="8-15">
                            <a href="">15</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="8-14">
                            <a href="">14</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="8-13">
                            <a href="">13</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="8-12">
                            <a href="">12</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="8-11">
                            <a href="">11</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="8-10">
                            <a href="">10</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="8-9">
                            <a href="">9</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="8-8">
                            <a href="">8</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="8-7">
                            <a href="">7</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="8-6">
                            <a href="">6</a>
                        </div>
                        <div class="atomo-item-text">
                            <span>8</span>
                        </div>
                        <div class="atomo-item-text">
                            <span>9</span>
                        </div>
                         <div class="atomo-item-asiento libre " id="9-18">
                            <a href="">18</a>
                        </div>
                         <div class="atomo-item-asiento libre " id="9-17">
                            <a href="">17</a>
                        </div>
                         <div class="atomo-item-asiento libre " id="9-16">
                            <a href="">16</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="9-15">
                            <a href="">15</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="9-14">
                            <a href="">14</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="9-13">
                            <a href="">13</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="9-12">
                            <a href="">12</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="9-11">
                            <a href="">11</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="9-10">
                            <a href="">10</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="9-9">
                            <a href="">9</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="9-8">
                            <a href="">8</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="9-7">
                            <a href="">7</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="9-6">
                            <a href="">6</a>
                        </div>
                        <div class="atomo-item-text">
                            <span>9</span>
                        </div>
                        <div class="atomo-item-text">
                            <span>10</span>
                        </div>

                         <div class="atomo-item-asiento libre left-1" id="10-17">
                            <a href="">17</a>
                        </div>
                         <div class="atomo-item-asiento libre " id="10-16">
                            <a href="">16</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="10-15">
                            <a href="">15</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="10-14">
                            <a href="">14</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="10-13">
                            <a href="">13</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="10-12">
                            <a href="">12</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="10-11">
                            <a href="">11</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="10-10">
                            <a href="">10</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="10-9">
                            <a href="">9</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="10-8">
                            <a href="">8</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="10-7">
                            <a href="">7</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="10-6">
                            <a href="">6</a>
                        </div>
                        <div class="atomo-item-text">
                            <span>10</span>
                        </div>
                        <div class="atomo-item-text">
                            <span>11</span>
                        </div>
                         <div class="atomo-item-asiento libre" id="11-17">
                            <a href="">17</a>
                        </div>
                         <div class="atomo-item-asiento libre " id="11-16">
                            <a href="">16</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="11-15">
                            <a href="">15</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="11-14">
                            <a href="">14</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="11-13">
                            <a href="">13</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="11-12">
                            <a href="">12</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="11-11">
                            <a href="">11</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="11-10">
                            <a href="">10</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="11-9">
                            <a href="">9</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="11-8">
                            <a href="">8</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="11-7">
                            <a href="">7</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="11-6">
                            <a href="">6</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="11-6">
                            <a href="">5</a>
                        </div>
                        <div class="atomo-item-text">
                            <span>11</span>
                        </div>
                        <div class="atomo-item-text">
                            <span>12</span>
                        </div>
                        <div class="atomo-item-asiento libre left-1" id="12-15">
                            <a href="">15</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="12-14">
                            <a href="">14</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="12-13">
                            <a href="">13</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="12-12">
                            <a href="">12</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="12-11">
                            <a href="">11</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="12-10">
                            <a href="">10</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="12-9">
                            <a href="">9</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="12-8">
                            <a href="">8</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="12-7">
                            <a href="">7</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="12-6">
                            <a href="">6</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="12-5">
                            <a href="">5</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="12-4">
                            <a href="">4</a>
                        </div>
                        <div class="atomo-item-text">
                            <span>12</span>
                        </div>
                        <div class="atomo-item-text">
                            <span>13</span>
                        </div>
                        <div class="atomo-item-asiento libre" id="13-15">
                            <a href="">15</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="13-14">
                            <a href="">14</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="13-13">
                            <a href="">13</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="13-12">
                            <a href="">12</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="13-11">
                            <a href="">11</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="13-10">
                            <a href="">10</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="13-9">
                            <a href="">9</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="13-8">
                            <a href="">8</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="13-7">
                            <a href="">7</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="13-6">
                            <a href="">6</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="13-5">
                            <a href="">5</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="13-4">
                            <a href="">4</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="13-3">
                            <a href="">3</a>
                        </div>
                        <div class="atomo-item-text">
                            <span>13</span>
                        </div>
                        <div class="atomo-item-text">
                            <span>14</span>
                        </div>

                        <div class="atomo-item-asiento libre left-1" id="14-12">
                            <a href="">12</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="14-11">
                            <a href="">11</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="14-10">
                            <a href="">10</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="14-9">
                            <a href="">9</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="14-8">
                            <a href="">8</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="14-7">
                            <a href="">7</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="14-6">
                            <a href="">6</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="14-5">
                            <a href="">5</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="14-4">
                            <a href="">4</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="14-3">
                            <a href="">3</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="14-2">
                            <a href="">2</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="14-1">
                            <a href="">1</a>
                        </div>

                        <div class="atomo-item-text">
                            <span>14</span>
                        </div>
                        <div class="atomo-item-text">
                            <span>15</span>
                        </div>
                        <div class="atomo-item-asiento libre " id="15-13">
                            <a href="">13</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="15-12">
                            <a href="">12</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="15-11">
                            <a href="">11</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="15-10">
                            <a href="">10</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="15-9">
                            <a href="">9</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="15-8">
                            <a href="">8</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="15-7">
                            <a href="">7</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="15-6">
                            <a href="">6</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="15-5">
                            <a href="">5</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="15-4">
                            <a href="">4</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="15-3">
                            <a href="">3</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="15-2">
                            <a href="">2</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="15-1">
                            <a href="">1</a>
                        </div>

                        <div class="atomo-item-text">
                            <span>15</span>
                        </div>
                        <div class="atomo-item-text">
                            <span>16</span>
                        </div>
                        <div class="atomo-item-asiento libre " id="16-13">
                            <a href="">13</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="16-12">
                            <a href="">12</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="16-11">
                            <a href="">11</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="16-10">
                            <a href="">10</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="16-9">
                            <a href="">9</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="16-8">
                            <a href="">8</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="16-7">
                            <a href="">7</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="16-6">
                            <a href="">6</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="16-5">
                            <a href="">5</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="16-4">
                            <a href="">4</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="16-3">
                            <a href="">3</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="16-2">
                            <a href="">2</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="16-1">
                            <a href="">1</a>
                        </div>

                        <div class="atomo-item-text">
                            <span>16</span>
                        </div>
                        <div class="atomo-item-text">
                            <span>17</span>
                        </div>

                        <div class="atomo-item-asiento libre left-3" id="17-10">
                            <a href="">10</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="17-9">
                            <a href="">9</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="17-8">
                            <a href="">8</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="17-7">
                            <a href="">7</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="17-6">
                            <a href="">6</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="17-5">
                            <a href="">5</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="17-4">
                            <a href="">4</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="17-3">
                            <a href="">3</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="17-2">
                            <a href="">2</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="17-1">
                            <a href="">1</a>
                        </div>

                        <div class="atomo-item-text">
                            <span>17</span>
                        </div>
                    </div>
                </div>
                <div class="molecula-wrap-full">
                    <div class="atomo-title-sub">
                        Platea baja
                    </div>
                    <div class="molecula-baja-left municipal-right">
                        <div class="atomo-item-text top-1">
                            <span>2</span>
                        </div>
                        <div class="atomo-item-asiento libre  top-1" id="2-4">
                            <a href="">4</a>
                        </div>
                        <div class="atomo-item-asiento libre top-1" id="2-3">
                            <a href="">3</a>
                        </div>
                        <div class="atomo-item-asiento libre top-1" id="2-2">
                            <a href="">2</a>
                        </div>
                        <div class="atomo-item-asiento libre right-1 top-1" id="2-1">
                            <a href="">1</a>
                        </div>
                        <div class="atomo-item-text top-1">
                            <span>2</span>
                        </div>
                        <div class="atomo-item-text">
                            <span>3</span>
                        </div>
                        <div class="atomo-item-asiento libre  " id="3-4">
                            <a href="">4</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="3-3">
                            <a href="">3</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="3-2">
                            <a href="">2</a>
                        </div>
                        <div class="atomo-item-asiento libre right-1 " id="3-1">
                            <a href="">1</a>
                        </div>
                        <div class="atomo-item-text">
                            <span>3</span>
                        </div>
                        <div class="atomo-item-text">
                            <span>4</span>
                        </div>
                        <div class="atomo-item-asiento libre  " id="4-5">
                            <a href="">5</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="4-4">
                            <a href="">4</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="4-3">
                            <a href="">3</a>
                        </div>
                        <div class="atomo-item-asiento libre  " id="4-2">
                            <a href="">2</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="4-1">
                            <a href="">1</a>
                        </div>
                        <div class="atomo-item-text">
                            <span>4</span>
                        </div>
                        <div class="atomo-item-text">
                            <span>5</span>
                        </div>
                        <div class="atomo-item-asiento libre  " id="5-5">
                            <a href="">5</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="5-4">
                            <a href="">4</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="5-3">
                            <a href="">3</a>
                        </div>
                        <div class="atomo-item-asiento libre  " id="5-2">
                            <a href="">2</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="5-1">
                            <a href="">1</a>
                        </div>
                        <div class="atomo-item-text">
                            <span>5</span>
                        </div>
                        <div class="atomo-item-text">
                            <span>6</span>
                        </div>
                        <div class="atomo-item-asiento libre  " id="6-5">
                            <a href="">5</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="6-4">
                            <a href="">4</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="6-3">
                            <a href="">3</a>
                        </div>
                        <div class="atomo-item-asiento libre  " id="6-2">
                            <a href="">2</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="6-1">
                            <a href="">1</a>
                        </div>
                        <div class="atomo-item-text">
                            <span>6</span>
                        </div>
                        <div class="atomo-item-text">
                            <span>7</span>
                        </div>
                        <div class="atomo-item-asiento libre  " id="7-5">
                            <a href="">5</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="7-4">
                            <a href="">4</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="7-3">
                            <a href="">3</a>
                        </div>
                        <div class="atomo-item-asiento libre  " id="7-2">
                            <a href="">2</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="7-1">
                            <a href="">1</a>
                        </div>
                        <div class="atomo-item-text">
                            <span>7</span>
                        </div>
                        <div class="atomo-item-text">
                            <span>8</span>
                        </div>
                        <div class="atomo-item-asiento libre  " id="8-5">
                            <a href="">5</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="8-4">
                            <a href="">4</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="8-3">
                            <a href="">3</a>
                        </div>
                        <div class="atomo-item-asiento libre  " id="8-2">
                            <a href="">2</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="8-1">
                            <a href="">1</a>
                        </div>
                        <div class="atomo-item-text">
                            <span>8</span>
                        </div>
                        <div class="atomo-item-text">
                            <span>9</span>
                        </div>
                        <div class="atomo-item-asiento libre  " id="9-5">
                            <a href="">5</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="9-4">
                            <a href="">4</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="9-3">
                            <a href="">3</a>
                        </div>
                        <div class="atomo-item-asiento libre  " id="9-2">
                            <a href="">2</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="9-1">
                            <a href="">1</a>
                        </div>
                        <div class="atomo-item-text">
                            <span>9</span>
                        </div>
                        <div class="atomo-item-text">
                            <span>10</span>
                        </div>
                        <div class="atomo-item-asiento libre  " id="10-5">
                            <a href="">5</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="10-4">
                            <a href="">4</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="10-3">
                            <a href="">3</a>
                        </div>
                        <div class="atomo-item-asiento libre  " id="10-2">
                            <a href="">2</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="10-1">
                            <a href="">1</a>
                        </div>
                        <div class="atomo-item-text">
                            <span>10</span>
                        </div>
                        <div class="atomo-item-text">
                            <span>11</span>
                        </div>
                        <div class="atomo-item-asiento libre " id="11-4">
                            <a href="">4</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="11-3">
                            <a href="">3</a>
                        </div>
                        <div class="atomo-item-asiento libre  " id="11-2">
                            <a href="">2</a>
                        </div>
                        <div class="atomo-item-asiento libre right-1" id="11-1">
                            <a href="">1</a>
                        </div>
                        <div class="atomo-item-text">
                            <span>11</span>
                        </div>
                        <div class="atomo-item-text">
                            <span>12</span>
                        </div>
                        <div class="atomo-item-asiento libre " id="12-3">
                            <a href="">3</a>
                        </div>
                        <div class="atomo-item-asiento libre  " id="12-2">
                            <a href="">2</a>
                        </div>
                        <div class="atomo-item-asiento libre right-2" id="12-1">
                            <a href="">1</a>
                        </div>
                        <div class="atomo-item-text">
                            <span>12</span>
                        </div>
                        <div class="atomo-item-text">
                            <span>13</span>
                        </div>
                        <div class="atomo-item-asiento libre  " id="13-2">
                            <a href="">2</a>
                        </div>
                        <div class="atomo-item-asiento libre right-3" id="13-1">
                            <a href="">1</a>
                        </div>
                        <div class="atomo-item-text">
                            <span>13</span>
                        </div>

                    </div>
                </div>

            </article>


        </div>
    </section>

</main>
