<main>
    <section class="butacas-pagar">
        <div class="wrapper-pagar container-full ">
            {% comment %}
                <p>Tiempo restante <em>09:59</em></p>
            {% endcomment %}
            <div class="reservas-butacas-pagar">
                <div class="resevas-asientos">
                    <span>Asientos seleccionados:</span>
                    <div class="cnt-butacas"></div>
                </div>
                <a href="{% url 'payments:buy_in' event.slug_name %}" id="toPay">Pagar {{ event.currency_symbol }}</a>
            </div>
        </div>
    </section>
    <section class="container-full ancho-butacas ">
        <article class="content-asientos">
            <div class="content-title">
                <h4 class="atomo-title">Teatro Municipal de Lima</h4>
                <ul class="molecula-legend-asientos">
                    <li class="atomo-item-legend">
                        <span class="libre"></span>
                        <p>Libre</p>
                    </li>
                    <li class="atomo-item-legend">
                        <span class="comprado"></span>
                        <p>Comprado</p>
                    </li>
                    <li class="atomo-item-legend">
                        <span class="seleccionado"></span>
                        <p>Tus asientos</p>
                    </li>
                    <li class="atomo-item-legend">
                        <span class="discapacitado"></span>
                        <p>Discapacitados</p>
                    </li>
                </ul>
            </div>
        </article>
        <div class="container-molecular-asientos container-municipal-asientos-small">
            <h2 class="atomo-title-border">Teatro Municipal de Lima</h2>
            <h3 class="atomo-title-noborder">Platea Preferencial</h3>
            <article class="molecula-wrap-central municipal-wrap-central-small">
                <div class="molecula-palco-left">

                    <div class="atomo-text-palco atomo-text-palco--amplitud atomo-text-palco--right ">
                        <span>Palco</span>
                        <div class="molecula-palco-title molecula-palco-title--right">
                       La Capacidad del palco <br>es de 4
                         <br>personas   <br>
                        </div>
                    </div>
                    <div class="molecula-palco-interna-bottom municipal-one-line">

                        <div class="atomo-item-asiento libre bottom-1" id="p-16">
                            <a href="">16</a>
                        </div>
                        <div class="atomo-item-asiento libre bottom-1" id="p-15">
                            <a href="">15</a>
                        </div>
                        <div class="atomo-item-asiento libre bottom-1" id="p-14">
                            <a href="">14</a>
                        </div>
                        <div class="atomo-item-asiento libre bottom-1" id="p-13">
                            <a href="">13</a>
                        </div>
                        <div class="atomo-item-asiento libre bottom-1" id="p-12">
                            <a href="">12</a>
                        </div>
                    </div>
                    <div class="molecula-palco-title">
                        Platea lateral <br>izquierda
                    </div>
                </div>
                <div class="molecula-wrap-full municipal-wrap-bottom">
                    <div class="atomo-title-sub">
                        Palco
                    </div>
                    <div class="molecula-baja-left municipal-left">

                        <div class="atomo-item-asiento libre right-4 bottom-1" id="p-11">
                            <a href="">11</a>
                        </div>


                        <div class="atomo-item-asiento bottom-1 libre right-2 left-2" id="p-10">
                            <a href="">10</a>
                        </div>

                        <div class="atomo-item-asiento libre left-4 bottom-1" id="p-9">
                            <a href="">9</a>
                        </div>


                    </div>
                </div>

                <div class="molecula-wrap-full  municipal-wrap-bottom">
                    <div class="atomo-title-sub">
                        Palco
                    </div>
                    <div class="molecula-baja-left municipal-right">

                        <div class="atomo-item-asiento libre left-4 bottom-1" id="p-6">
                            <a href="">6</a>
                        </div>

                        <div class="atomo-item-asiento bottom-1 libre right-2 left-2" id="p-7">
                            <a href="">7</a>
                        </div>

                        <div class="atomo-item-asiento libre right-4 bottom-1" id="p-8">
                            <a href="">8</a>
                        </div>

                    </div>
                </div>
                <div class="molecula-palco-right">
                    <div class="atomo-text-palco atomo-text-palco--amplitud atomo-text-palco--left ">
                        <span>Palco</span>
                        <div class="molecula-palco-title molecula-palco-title--left">

                        La Capacidad del palco <br>es de 4 personas<br>
                        </div>
                    </div>
                    <div class="molecula-palco-interna-bottom municipal-one-line ">
                        <div class="atomo-item-asiento libre bottom-1" id="p-1">
                            <a href="">1</a>
                        </div>
                        <div class="atomo-item-asiento  libre bottom-1" id="p-2">
                            <a href="">2</a>
                        </div>
                        <div class="atomo-item-asiento libre bottom-1" id="p-3">
                            <a href="">3</a>
                        </div>
                        <div class="atomo-item-asiento libre bottom-1" id="p-4">
                            <a href="">4</a>
                        </div>
                        <div class="atomo-item-asiento libre bottom-1" id="p-5">
                            <a href="">5</a>
                        </div>

                    </div>
                    <div class="molecula-palco-title">
                        Platea lateral <br>derecha
                    </div>
                </div>
            </article>

        </div>
    </section>

</main>
