<main>
    <section class="butacas-pagar">
        <div class="wrapper-pagar container-full ">
            {% comment %}
                <p>Tiempo restante <em>09:59</em></p>
            {% endcomment %}
            <div class="reservas-butacas-pagar">
                <div class="resevas-asientos">
                    <span>Asientos seleccionados:</span>
                    <div class="cnt-butacas"></div>
                </div>
                <a href="{% url 'payments:buy_in' event.slug_name %}" id="toPay">Pagar {{ event.currency_symbol }}</a>
            </div>
        </div>
    </section>
    <section class="container-full ancho-butacas ">
        <article class="content-asientos">
            <div class="content-title">
                <h4 class="atomo-title">Teatro Municipal de Lima</h4>
                <ul class="molecula-legend-asientos">
                    <li class="atomo-item-legend">
                        <span class="libre"></span>
                        <p>Libre</p>
                    </li>
                    <li class="atomo-item-legend">
                        <span class="comprado"></span>
                        <p>Comprado</p>
                    </li>
                    <li class="atomo-item-legend">
                        <span class="seleccionado"></span>
                        <p>Tus asientos</p>
                    </li>
                    <li class="atomo-item-legend">
                        <span class="discapacitado"></span>
                        <p>Discapacitados</p>
                    </li>
                </ul>
            </div>
        </article>
        <div class="container-molecular-asientos container-municipal-visibility ">
            <h2 class="atomo-title-border">Teatro Municipal de Lima</h2>
            <h3 class="atomo-title-noborder">Galería A (3er nivel)</h3>
            <article class="molecula-wrap-central municipal-wrap-central-visibility municipal-wrap-bottom">

                <div class="molecula-wrap-full">
                    <div class="atomo-title-sub">
                        Platea baja
                    </div>
                    <div class="molecula-baja-central molecula-central-visibility">
                        <div class="atomo-item-text">
                            <span>1</span>
                        </div>
                        <div class="atomo-item-asiento libre" id="1-50">
                            <a href="">50</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="1-49">
                            <a href="">49</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="1-48">
                            <a href="">48</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="1-47">
                            <a href="">47</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="1-46">
                            <a href="">46</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="1-45">
                            <a href="">45</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="1-44">
                            <a href="">44</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="1-43">
                            <a href="">43</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="1-42">
                            <a href="">42</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="1-41">
                           <a href="">41</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="1-40">
                            <a href="">40</a>
                        </div>
                        <div class="atomo-item-asiento libre left-2" id="1-39">
                            <a href="">39</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="1-38">
                            <a href="">38</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="1-37">
                            <a href="">37</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="1-36">
                            <a href="">36</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="1-35">
                            <a href="">35</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="1-34">
                            <a href="">34</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="1-33">
                            <a href="">33</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="1-32">
                            <a href="">32</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="1-31">
                           <a href="">31</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="1-30">
                            <a href="">30</a>
                        </div>
                        <div class="atomo-item-asiento libre left-3" id="1-29">
                            <a href="">29</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="1-28">
                            <a href="">28</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="1-27">
                            <a href="">27</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="1-26">
                            <a href="">26</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="1-25">
                            <a href="">25</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="1-24">
                            <a href="">24</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="1-23">
                            <a href="">23</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="1-22">
                            <a href="">22</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="1-21">
                           <a href="">21</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="1-20">
                            <a href="">20</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="1-19">
                            <a href="">19</a>
                        </div>

                        <div class="atomo-item-text">
                            <span>1</span>
                        </div>
                        <div class="atomo-item-text">
                            <span>2</span>
                        </div>



                        <div class="atomo-item-asiento libre left-12" id="2-25">
                            <a href="">25</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="2-24">
                            <a href="">24</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="2-23">
                            <a href="">23</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="2-22">
                            <a href="">22</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="2-21">
                            <a href="">21</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="2-20">
                            <a href="">20</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="2-19">
                            <a href="">19</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="2-18">
                            <a href="">18</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="2-17">
                            <a href="">17</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="2-16">
                            <a href="">16</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="2-15">
                            <a href="">15</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="2-14">
                            <a href="">14</a>
                        </div>
                        <div class="atomo-item-asiento libre right-12" id="2-13">
                            <a href="">13</a>
                        </div>
                        <div class="atomo-item-text">
                            <span>2</span>
                        </div>
                        <div class="atomo-item-text">
                            <span>3</span>
                        </div>
                        <div class="atomo-item-asiento libre comprado left-12" >
                        </div>
                        <div class="atomo-item-asiento libre " id="3-21">
                            <a href="">21</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="3-20">
                            <a href="">20</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="3-19">
                            <a href="">19</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="3-18">
                            <a href="">18</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="3-18">
                            <a href="">18</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="3-17">
                            <a href="">17</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="3-16">
                            <a href="">16</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="3-15">
                            <a href="">15</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="3-14">
                            <a href="">14</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="3-13">
                            <a href="">13</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="3-12">
                            <a href="">12</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="3-11">
                            <a href="">11</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="3-10">
                            <a href="">10</a>
                        </div>
                        <div class="atomo-item-asiento libre  comprado right-9">

                        </div>
                        <div class="atomo-item-text">
                            <span>3</span>
                        </div>
                        <div class="atomo-item-text">
                            <span>4</span>
                        </div>
                        <div class="atomo-item-asiento libre left-13" id="4-15">
                            <a href="">15</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="4-14">
                            <a href="">14</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="4-13">
                            <a href="">13</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="4-12">
                            <a href="">12</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="4-11">
                            <a href="">11</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="4-10">
                            <a href="">10</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="4-9">
                            <a href="">9</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="4-8">
                            <a href="">8</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="4-7">
                            <a href="">7</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="4-6">
                            <a href="">6</a>
                        </div>
                        <div class="atomo-item-asiento libre right-13" id="4-5">
                            <a href="">5</a>
                        </div>

                        <div class="atomo-item-text">
                            <span>4</span>
                        </div>

                    </div>
                </div>

            </article>


        </div>
    </section>

</main>