<main>
    <section class="butacas-pagar">
        <div class="wrapper-pagar container-full ">
            {% comment %}
                <p>Tiempo restante <em>09:59</em></p>
            {% endcomment %}
            <div class="reservas-butacas-pagar">
                <div class="resevas-asientos">
                    <span>Asientos seleccionados:</span>
                    <div class="cnt-butacas"></div>
                </div>
                <a href="{% url 'payments:buy_in' event.slug_name %}" id="toPay">Pagar {{ event.currency_symbol }}</a>
            </div>
        </div>
    </section>
    <section class="container-full ancho-butacas ">
        <article class="content-asientos">
            <div class="content-title">
                <h4 class="atomo-title">Teatro Municipal de Lima</h4>
                <ul class="molecula-legend-asientos">
                    <li class="atomo-item-legend">
                        <span class="libre"></span>
                        <p>Libre</p>
                    </li>
                    <li class="atomo-item-legend">
                        <span class="comprado"></span>
                        <p>Comprado</p>
                    </li>
                    <li class="atomo-item-legend">
                        <span class="seleccionado"></span>
                        <p>Tus asientos</p>
                    </li>
                    <li class="atomo-item-legend">
                        <span class="discapacitado"></span>
                        <p>Discapacitados</p>
                    </li>
                </ul>
            </div>
        </article>
        <div class="container-molecular-asientos container-municipal-asientos">
            <h2 class="atomo-title-border">Teatro Municipal de Lima</h2>
            <h3 class="atomo-title-noborder">Platea Preferencial</h3>
            <article class="molecula-wrap-central municipal-wrap-central">
                <div class="molecula-wrap-full">


                </div>
                <div class="molecula-wrap-full">
                    <div class="atomo-title-sub">
                        Platea baja
                    </div>
                    <div class="molecula-baja-central municipal-central">
                        <div class="atomo-item-text">
                            <span>1</span>
                        </div>
                        <div class="atomo-item-asiento libre left-2" id="1-11">
                            <a href="">11</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="1-10">
                            <a href="">10</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="1-9">
                            <a href="">9</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="1-8">
                            <a href="">8</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="1-7">
                            <a href="">7</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="1-6">
                            <a href="">6</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="1-5">
                            <a href="">5</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="1-4">
                            <a href="">4</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="1-3">
                            <a href="">3</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="1-2">
                            <a href="">2</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="1-1">
                            <a href="">1</a>
                        </div>
                        <div class="atomo-item-text">
                            <span>1</span>
                        </div>
                        <div class="atomo-item-text">
                            <span>2</span>
                        </div>

                        <div class="atomo-item-asiento libre left-1" id="2-16">
                            <a href="">16</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="2-15">
                            <a href="">15</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="2-14">
                            <a href="">14</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="2-13">
                            <a href="">13</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="2-12">
                            <a href="">12</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="2-11">
                            <a href="">11</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="2-10">
                            <a href="">10</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="2-9">
                            <a href="">9</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="2-8">
                            <a href="">8</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="2-7">
                            <a href="">7</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="2-6">
                            <a href="">6</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="2-5">
                            <a href="">5</a>
                        </div>
                        <div class="atomo-item-text">
                            <span>2</span>
                        </div>

                    </div>
                </div>
                <div class="molecula-wrap-full">

                </div>

            </article>


        </div>
    </section>

</main>
