<main>
    <section class="butacas-pagar">
        <div class="wrapper-pagar container-full ">
            <div class="reservas-butacas-pagar">
                <div class="resevas-asientos">
                    <span>Asientos seleccionados:</span>
                    <div class="cnt-butacas"></div>
                </div>
                <a href="{% url 'payments:buy_in' event.slug_name %}" id="toPay">Pagar {{ event.currency_symbol }}</a>
            </div>
        </div>
    </section>
    <section class="container-full ancho-butacas ">
        <article class="content-asientos">
            <div class="content-title">
                <h4 class="atomo-title">Teatro Municipal de Lima</h4>
                <ul class="molecula-legend-asientos">
                    <li class="atomo-item-legend">
                        <span class="libre"></span>
                        <p>Libre</p>
                    </li>
                    <li class="atomo-item-legend">
                        <span class="comprado"></span>
                        <p>Comprado</p>
                    </li>
                    <li class="atomo-item-legend">
                        <span class="seleccionado"></span>
                        <p>Tus asientos</p>
                    </li>
                    <li class="atomo-item-legend">
                        <span class="discapacitado"></span>
                        <p>Discapacitados</p>
                    </li>
                </ul>
            </div>
        </article>
        <div class="container-molecular-asientos container-municipal-restricted-visibility">
            <h2 class="atomo-title-border">Buena visibilidad</h2>
            <h3 class="atomo-title-noborder">Platea Preferencial</h3>

           <article class="molecula-wrap-central municipal-wrap-restricted-visibility mt-250">

                <div class="molecula-wrap-full">
                    <div class="atomo-title-sub">
                        Platea baja
                    </div>
                    <div class="molecula-baja-central municipal-central-restricted-visibility">
                        <div class="atomo-item-text">
                            <span>1</span>
                        </div>

                        <div class="atomo-item-asiento libre left-16" id="1-38">
                            <a href="">38</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="1-37">
                            <a href="">37</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="1-36">
                            <a href="">36</a>
                        </div>
                        <div class="atomo-item-asiento libre  " id="1-35">
                           <a href="">35</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="1-34">
                            <a href="">34</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="1-33">
                            <a href="">33</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="1-32">
                            <a href="">32</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="1-31">
                            <a href="">31</a>
                        </div>
                        <div class="atomo-item-asiento libre right-10 " id="1-30">
                           <a href="">30</a>
                        </div>
                        <div class="atomo-item-text">
                            <span>1</span>
                        </div>
                        <div class="atomo-item-text">
                            <span>2</span>
                        </div>

                        <div class="atomo-item-asiento libre left-15" id="2-31">
                            <a href="">31</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="2-30">
                            <a href="">30</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="2-29">
                            <a href="">29</a>
                        </div>

                        <div class="atomo-item-asiento libre" id="2-28">
                            <a href="">28</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="2-27">
                            <a href="">27</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="2-26">
                            <a href="">26</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="2-25">
                            <a href="">25</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="2-24">
                            <a href="">24</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="2-23">
                            <a href="">23</a>
                        </div>
                        <div class="atomo-item-asiento libre right-10" id="2-22">
                            <a href="">22</a>
                        </div>


                        <div class="atomo-item-text">
                            <span>2</span>
                        </div>
                        <div class="atomo-item-text">
                            <span>3</span>
                        </div>
                        <div class="atomo-item-asiento libre left-14" id="3-22">
                            <a href="">22</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="3-21">
                            <a href="">21</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="3-20">
                            <a href="">20</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="3-19">
                            <a href="">19</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="3-18">
                            <a href="">18</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="3-17">
                            <a href="">17</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="3-16">
                            <a href="">16</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="3-15">
                            <a href="">15</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="3-14">
                            <a href="">14</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="3-13">
                            <a href="">13</a>
                        </div>
                        <div class="atomo-item-asiento libre right-10" id="3-12">
                            <a href="">12</a>
                        </div>

                        <div class="atomo-item-text">
                            <span>3</span>
                        </div>
                        <div class="atomo-item-text">
                            <span>4</span>
                        </div>
                       <div class="atomo-item-asiento libre left-15" id="4-21">
                            <a href="">21</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="4-20">
                            <a href="">20</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="4-19">
                            <a href="">19</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="4-18">
                            <a href="">18</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="4-17">
                            <a href="">17</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="4-16">
                            <a href="">16</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="4-15">
                            <a href="">15</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="4-14">
                            <a href="">14</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="4-13">
                            <a href="">13</a>
                        </div>
                        <div class="atomo-item-asiento libre right-10" id="4-12">
                            <a href="">12</a>
                        </div>
                        <div class="atomo-item-text">
                            <span>4</span>
                        </div>
                        <div class="atomo-item-text">
                            <span>6</span>
                        </div>

                        <div class="atomo-item-asiento libre left-16" id="6-17">
                            <a href="">17</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="6-16">
                            <a href="">16</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="6-15">
                            <a href="">15</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="6-14">
                            <a href="">14</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="6-13">
                            <a href="">13</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="6-12">
                            <a href="">12</a>
                        </div>
                        <div class="atomo-item-asiento libre right-13" id="6-11">
                            <a href="">11</a>
                        </div>

                        <div class="atomo-item-text">
                            <span>6</span>
                        </div>
                        <div class="atomo-item-text">
                            <span>7</span>
                        </div>

                        <div class="atomo-item-asiento libre left-15" id="7-18">
                            <a href="">18</a>
                        </div>

                        <div class="atomo-item-asiento libre " id="7-17">
                            <a href="">17</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="7-16">
                            <a href="">16</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="7-15">
                            <a href="">15</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="7-14">
                            <a href="">14</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="7-13">
                            <a href="">13</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="7-12">
                            <a href="">12</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="7-11">
                            <a href="">11</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="7-10">
                            <a href="">10</a>
                        </div>
                        <div class="atomo-item-asiento libre right-10" id="7-9">
                            <a href="">9</a>
                        </div>

                        <div class="atomo-item-text">
                            <span>7</span>
                        </div>
                        <div class="atomo-item-text">
                            <span>8</span>
                        </div>

                        <div class="atomo-item-asiento libre left-14" id="8-19">
                            <a href="">19</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="8-18">
                            <a href="">18</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="8-17">
                            <a href="">17</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="8-17">
                            <a href="">17</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="8-16">
                            <a href="">16</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="8-15">
                            <a href="">15</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="8-14">
                            <a href="">14</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="8-13">
                            <a href="">13</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="8-12">
                            <a href="">12</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="8-11">
                            <a href="">11</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="8-10">
                            <a href="">10</a>
                        </div>
                        <div class="atomo-item-asiento libre right-9" id="8-9">
                            <a href="">9</a>
                        </div>

                        <div class="atomo-item-text">
                            <span>8</span>
                        </div>
                        <div class="atomo-item-text">
                            <span>9</span>
                        </div>
                        <div class="atomo-item-asiento libre left-13-14" id="9-20">
                            <a href="">20</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="9-19">
                            <a href="">19</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="9-18">
                            <a href="">18</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="9-17">
                            <a href="">17</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="9-17">
                            <a href="">17</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="9-16">
                            <a href="">16</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="9-15">
                            <a href="">15</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="9-14">
                            <a href="">14</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="9-13">
                            <a href="">13</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="9-12">
                            <a href="">12</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="9-11">
                            <a href="">11</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="9-10">
                            <a href="">10</a>
                        </div>
                        <div class="atomo-item-asiento libre right-10" id="9-9">
                            <a href="">9</a>
                        </div>
                        <div class="atomo-item-text">
                            <span>9</span>
                        </div>
                    </div>
                </div>

            </article>


        </div>
    </section>

</main>


