<main>
    <section class="butacas-pagar">
        <div class="wrapper-pagar container-full ">
            <p>Tiempo restante <em>09:59</em></p>
            <div class="reservas-butacas-pagar">
                <div class="resevas-asientos">
                    <span>Asientos seleccionados:</span>
                    <div class="cnt-butacas"></div>
                </div>
                <a href="{% url 'payments:buy_in' event.slug_name %}" id="toPay">Pagar {{ event.currency_symbol }}</a>
            </div>
        </div>
    </section>
    <section class="container-full ancho-butacas ">
        <article class="content-asientos">
            <div class="content-title">
                <h4 class="atomo-title">Teatro Municipal de Lima</h4>
                <ul class="molecula-legend-asientos">
                    <li class="atomo-item-legend">
                        <span class="libre"></span>
                        <p>Libre</p>
                    </li>
                    <li class="atomo-item-legend">
                        <span class="comprado"></span>
                        <p>Comprado</p>
                    </li>
                    <li class="atomo-item-legend">
                        <span class="seleccionado"></span>
                        <p>Tus asientos</p>
                    </li>
                    <li class="atomo-item-legend">
                        <span class="discapacitado"></span>
                        <p>Discapacitados</p>
                    </li>
                </ul>
            </div>
        </article>
        <div class="container-molecular-asientos container-municipal-restricted-visibility">
            <h2 class="atomo-title-border">Buena visibilidad</h2>
            <h3 class="atomo-title-noborder">Platea Preferencial</h3>
            <article class="molecula-wrap-central  municipal-wrap-restricted-visibility">
                <div class="molecula-palco-left">

                    <div class="atomo-text-palco atomo-text-palco--amplitud atomo-text-palco--right ">

                        <div class="molecula-palco-title molecula-palco-title--right">
                       1
                        </div>
                    </div>
                    <div class="molecula-palco-interna-bottom municipal-one-line">

                        <div class="atomo-item-asiento libre " id="1-67">
                            <a href="">67</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="1-66">
                            <a href="">66</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="1-65">
                            <a href="">65</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="1-64">
                            <a href="">64</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="1-63">
                            <a href="">63</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="1-62">
                            <a href="">62</a>
                        </div>

                        <div class="atomo-item-asiento libre" id="1-61">
                            <a href="">61</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="1-60">
                            <a href="">60</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="1-59">
                            <a href="">59</a>
                        </div>
                        <div class="atomo-item-asiento libre bottom-1" id="1-58">
                            <a href="">58</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="1-57">
                            <a href="">57</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="1-56">
                            <a href="">56</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="1-55">
                            <a href="">55</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="1-54">
                            <a href="">54</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="1-53">
                            <a href="">53</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="1-52">
                            <a href="">52</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="1-51">
                            <a href="">51</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="1-50">
                            <a href="">50</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="1-49">
                            <a href="">49</a>
                        </div>
                    </div>
                    <div class="molecula-palco-title">
                        Platea lateral <br>izquierda
                    </div>
                </div>

                <div class="molecula-palco-right">
                    <div class="atomo-text-palco atomo-text-palco--amplitud atomo-text-palco--left ">
                        <div class="molecula-palco-title molecula-palco-title--left">
                            1
                        </div>
                    </div>
                    <div class="molecula-palco-interna-bottom municipal-one-line ">
                        <div class="atomo-item-asiento libre" id="1-1">
                            <a href="">1</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="1-2">
                            <a href="">2</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="1-3">
                            <a href="">3</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="1-4">
                            <a href="">4</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="1-5">
                            <a href="">5</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="1-6">
                            <a href="">6</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="1-7">
                            <a href="">7</a>
                        </div>

                        <div class="atomo-item-asiento libre" id="1-8">
                            <a href="">8</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="1-9">
                            <a href="">9</a>
                        </div>
                        <div class="atomo-item-asiento libre bottom-1" id="1-10">
                            <a href="">10</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="1-11">
                            <a href="">11</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="1-12">
                            <a href="">12</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="1-13">
                            <a href="">13</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="1-14">
                            <a href="">14</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="1-15">
                            <a href="">15</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="1-16">
                            <a href="">16</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="1-17">
                            <a href="">17</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="1-18">
                            <a href="">18</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="1-19">
                            <a href="">19</a>
                        </div>
                    </div>
                    <div class="molecula-palco-title">
                        Platea lateral <br>derecha
                    </div>
                </div>
            </article>
           <article class="molecula-wrap-central municipal-wrap-restricted-visibility">

                <div class="molecula-wrap-full">
                    <div class="atomo-title-sub">
                        Platea baja
                    </div>
                    <div class="molecula-baja-central municipal-central-restricted-visibility">
                        <div class="atomo-item-text">
                            <span>1</span>
                        </div>
                        <div class="atomo-item-asiento libre" id="1-48">
                            <a href="">48</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="1-47">
                            <a href="">47</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="1-46">
                            <a href="">46</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="1-45">
                            <a href="">45</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="1-44">
                            <a href="">44</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="1-43">
                            <a href="">43</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="1-42">
                            <a href="">42</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="1-41">
                            <a href="">41</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="1-40">
                            <a href="">40</a>
                        </div>
                        <div class="atomo-item-asiento libre  right-7" id="1-39">
                            <a href="">39</a>
                        </div>

                        <div class="atomo-item-asiento libre left-5-7" id="1-9">
                            <a href="">29</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="1-8">
                            <a href="">28</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="1-7">
                            <a href="">27</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="1-6">
                            <a href="">26</a>
                        </div>
                        <div class="atomo-item-asiento libre  " id="1-5">
                           <a href="">25</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="1-9">
                            <a href="">24</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="1-8">
                            <a href="">23</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="1-7">
                            <a href="">22</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="1-6">
                            <a href="">21</a>
                        </div>
                        <div class="atomo-item-asiento libre right-2 " id="1-5">
                           <a href="">20</a>
                        </div>


                        <div class="atomo-item-text">
                            <span>1</span>
                        </div>
                        <div class="atomo-item-text">
                            <span>2</span>
                        </div>


                        <div class="atomo-item-asiento libre " id="2-41">
                            <a href="">41</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="2-40">
                            <a href="">40</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="2-39">
                            <a href="">39</a>
                        </div>

                        <div class="atomo-item-asiento libre" id="2-38">
                            <a href="">38</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="2-37">
                            <a href="">37</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="2-36">
                            <a href="">36</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="2-35">
                            <a href="">35</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="2-34">
                            <a href="">34</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="2-33">
                            <a href="">33</a>
                        </div>
                        <div class="atomo-item-asiento libre right-7" id="2-32">
                            <a href="">32</a>
                        </div>


                        <div class="atomo-item-asiento libre left-5-7" id="2-21">
                            <a href="">21</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="2-20">
                            <a href="">20</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="2-19">
                            <a href="">19</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="2-18">
                            <a href="">18</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="2-17">
                            <a href="">17</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="2-16">
                            <a href="">16</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="2-15">
                            <a href="">15</a>
                        </div>
                        <div class="atomo-item-asiento libre right-4" id="2-14">
                            <a href="">14</a>
                        </div>
                        <div class="atomo-item-text">
                            <span>2</span>
                        </div>
                        <div class="atomo-item-text">
                            <span>3</span>
                        </div>
                        <div class="atomo-item-asiento libre left-1" id="3-30">
                            <a href="">30</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="3-29">
                            <a href="">29</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="3-28">
                            <a href="">28</a>
                        </div>
                        <div class="atomo-item-asiento libre left-1" id="3-27">
                            <a href="">27</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="3-26">
                            <a href="">26</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="3-25">
                            <a href="">25</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="3-24">
                            <a href="">24</a>
                        </div>
                        <div class="atomo-item-asiento libre right-7" id="3-23">
                            <a href="">23</a>
                        </div>
                        <div class="atomo-item-asiento libre left-5-7" id="3-11">
                            <a href="">11</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="3-10">
                            <a href="">10</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="3-9">
                            <a href="">9</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="3-8">
                            <a href="">8</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="3-7">
                            <a href="">7</a>
                        </div>
                        <div class="atomo-item-asiento libre left-1" id="3-6">
                            <a href="">6</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="3-5">
                            <a href="">5</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="3-4">
                            <a href="">4</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="3-3">
                            <a href="">3</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="3-2">
                            <a href="">2</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="3-1">
                            <a href="">1</a>
                        </div>

                        <div class="atomo-item-text">
                            <span>3</span>
                        </div>
                        <div class="atomo-item-text">
                            <span>4</span>
                        </div>
                        <div class="atomo-item-asiento libre left-2" id="4-28">
                            <a href="">28</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="4-27">
                            <a href="">27</a>
                        </div>
                        <div class="atomo-item-asiento libre  left-1" id="4-26">
                            <a href="">26</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="4-25">
                            <a href="">25</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="4-24">
                            <a href="">24</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="4-23">
                            <a href="">23</a>
                        </div>
                        <div class="atomo-item-asiento libre right-7" id="4-22">
                            <a href="">22</a>
                        </div>
                        <div class="atomo-item-asiento libre left-5-7" id="4-11">
                            <a href="">11</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="4-10">
                            <a href="">10</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="4-9">
                            <a href="">9</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="4-8">
                            <a href="">8</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="4-7">
                            <a href="">7</a>
                        </div>
                        <div class="atomo-item-asiento libre left-1" id="4-6">
                            <a href="">6</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="4-5">
                            <a href="">5</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="4-4">
                            <a href="">4</a>
                        </div>
                        <div class="atomo-item-asiento libre right-2" id="4-3">
                            <a href="">3</a>
                        </div>

                        <div class="atomo-item-text">
                            <span>4</span>
                        </div>
                        <div class="atomo-item-text">
                            <span>5</span>
                        </div>

                        <div class="atomo-item-asiento libre left-11" id="5-11">
                            <a href="">11</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="5-10">
                            <a href="">10</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="5-9">
                            <a href="">9</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="5-8">
                            <a href="">8</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="5-7">
                            <a href="">7</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="5-6">
                            <a href="">6</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="5-5">
                            <a href="">5</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="5-4">
                            <a href="">4</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="5-3">
                            <a href="">3</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="5-2">
                            <a href="">2</a>
                        </div>
                        <div class="atomo-item-asiento libre right-15" id="5-1">
                            <a href="">1</a>
                        </div>
                        <div class="atomo-item-text">
                            <span>5</span>
                        </div>
                        <div class="atomo-item-text">
                            <span>6</span>
                        </div>

                        <div class="atomo-item-asiento libre left-11" id="6-19">
                            <a href="">19</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="6-18">
                            <a href="">18</a>
                        </div>
                        <div class="atomo-item-asiento libre left-5-7" id="6-10">
                            <a href="">10</a>
                        </div>
                        <div class="atomo-item-asiento libre right-15" id="6-9">
                            <a href="">9</a>
                        </div>

                        <div class="atomo-item-text">
                            <span>6</span>
                        </div>
                        <div class="atomo-item-text">
                            <span>7</span>
                        </div>

                        <div class="atomo-item-asiento libre left-9-10" id="7-20">
                            <a href="">20</a>
                        </div>
                        <div class="atomo-item-asiento libre right-24" id="7-19">
                            <a href="">19</a>
                        </div>

                        <div class="atomo-item-text">
                            <span>7</span>
                        </div>
                        <div class="atomo-item-text">
                            <span>8</span>
                        </div>

                        <div class="atomo-item-asiento libre left-9" id="8-21">
                            <a href="">21</a>
                        </div>
                        <div class="atomo-item-asiento libre right-25" id="8-20">
                            <a href="">20</a>
                        </div>

                        <div class="atomo-item-text">
                            <span>8</span>
                        </div>
                        <div class="atomo-item-text">
                            <span>10</span>
                        </div>

                        <div class="atomo-item-asiento libre left-11" id="10-15">
                            <a href="">15</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="10-14">
                            <a href="">14</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="10-13">
                            <a href="">13</a>
                        </div>
                        <div class="atomo-item-asiento libre left-1" id="10-12">
                            <a href="">12</a>
                        </div>
                        <div class="atomo-item-asiento libre " id="10-11">
                            <a href="">11</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="10-10">
                            <a href="">10</a>
                        </div>
                        <div class="atomo-item-asiento libre left-1" id="10-9">
                            <a href="">9</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="10-8">
                            <a href="">8</a>
                        </div>
                        <div class="atomo-item-asiento libre right-15" id="10-7">
                            <a href="">7</a>
                        </div>
                        <div class="atomo-item-text">
                            <span>10</span>
                        </div>
                    </div>
                </div>

            </article>


        </div>
    </section>

</main>


