<main>
    <section class="butacas-pagar">
        <div class="wrapper-pagar container-full ">
            <p>Tiempo restante <em>09:59</em></p>
            <div class="reservas-butacas-pagar">
                <div class="resevas-asientos">
                    <span>Asientos seleccionados:</span>
                    <div class="cnt-butacas"></div>
                </div>
                <a href="{% url 'payments:buy_in' event.slug_name %}" id="toPay">Pagar {{ event.currency_symbol }}</a>
            </div>
        </div>
    </section>
    <section class="ancho-butacas container-full">
        <article class="content-asientos">
            <div class="content-title">
                <h4 class="atomo-title">Piso 2 - Gran Teatro Nacional</h4>
                <ul class="molecula-legend-asientos">
                    <li class="atomo-item-legend">
                        <span class="libre"></span>
                        <p>Libre</p>
                    </li>
                    <li class="atomo-item-legend">
                        <span class="comprado"></span>
                        <p>Comprado</p>
                    </li>
                    <li class="atomo-item-legend">
                        <span class="seleccionado"></span>
                        <p>Tus asientos</p>
                    </li>
                    <li class="atomo-item-legend">
                        <span class="discapacitado"></span>
                        <p>Discapacitados</p>
                    </li>
                </ul>
            </div>
        </article>
        <div class="container-molecular-asientos">
            <h2 class="atomo-title-border">Escenario</h2>
            <br><br>

            <article class="molecula-wrap-central molecula-piso2-central">
                <div class="molecula-palco-left">
                    <div class="molecula-palco-interna-top">
                        <div class="atomo-item-asiento libre" id="a66">
                            <a href="">66</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="a64">
                            <a href="">64</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="a62">
                            <a href="">62</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="a60">
                            <a href="">60</a>
                        </div>
                    </div>
                    <div class="atomo-text-palco atomo-text-palco--amplitud atomo-text-palco--right ">
                        <span>Palco</span>
                        <div class="molecula-palco-title molecula-palco-title--right">
                        El palco se <br>vende por
                         <br> butacas independientes<br>
                        </div>
                    </div>
                    <div class="molecula-palco-interna-bottom">
                        <div class="atomo-item-asiento discapacitado libre" id="x2">
                            <a href="">2</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="a58">
                            <a href="">58</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="b66">
                            <a href="">66</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="a56">
                            <a href="">56</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="b64">
                            <a href="">64</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="a54">
                            <a href="">54</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="b62">
                            <a href="">62</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="a52">
                            <a href="">52</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="b60">
                            <a href="">60</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="a50">
                            <a href="">50</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="b58">
                            <a href="">58</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="a48">
                            <a href="">48</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="b56">
                            <a href="">56</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="a46">
                            <a href="">46</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="b54">
                            <a href="">54</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="a44">
                            <a href="">44</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="b52">
                            <a href="">52</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="a42">
                            <a href="">42</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="b50">
                            <a href="">50</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="a40">
                            <a href="">40</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="b48">
                            <a href="">48</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="a38">
                            <a href="">38</a>
                        </div>
                        <div class="atomo-item-text">
                            <span>B</span>
                        </div>
                        <div class="atomo-item-text">
                            <span>A</span>
                        </div>
                    </div>
                    <div class="molecula-palco-title">
                        Piso 2 <br> lateral <br>izquierda
                    </div>
                </div>
                <div class="molecula-wrap-full">
                    <div class="atomo-title-sub">
                        Piso 2
                    </div>
                    <div class="molecula-piso2-lados">
                        <div class="atomo-item-text">
                            <span>A</span>
                        </div>
                        <div class="atomo-item-asiento libre left-3" id="a36">
                            <a href="">36</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="a34">
                            <a href="">34</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="a32">
                            <a href="">32</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="a30">
                            <a href="">30</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="a28">
                            <a href="">28</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="a26">
                            <a href="">26</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="a24">
                            <a href="">24</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="a22">
                            <a href="">22</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="a20">
                            <a href="">20</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="a18">
                            <a href="">18</a>
                        </div>
                        <div class="atomo-item-text">
                            <span>A</span>
                        </div>
                        <div class="atomo-item-text">
                            <span>B</span>
                        </div>
                        <div class="atomo-item-asiento libre" id="b46">
                            <a href="">46</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="b44">
                            <a href="">44</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="b42">
                            <a href="">42</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="b40">
                            <a href="">40</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="b38">
                            <a href="">38</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="b36">
                            <a href="">36</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="b34">
                            <a href="">34</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="b32">
                            <a href="">32</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="b30">
                            <a href="">30</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="b28">
                            <a href="">28</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="b26">
                            <a href="">26</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="b24">
                            <a href="">24</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="b22">
                            <a href="">22</a>
                        </div>
                        <div class="atomo-item-text">
                            <span>B</span>
                        </div>
                        <div class="atomo-item-text">
                            <span>C</span>
                        </div>
                        <div class="atomo-item-asiento libre left-2" id="c42">
                            <a href="">42</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="c40">
                            <a href="">40</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="c38">
                            <a href="">38</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="c36">
                            <a href="">36</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="c34">
                            <a href="">34</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="c32">
                            <a href="">32</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="c30">
                            <a href="">30</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="c28">
                            <a href="">28</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="c26">
                            <a href="">26</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="c24">
                            <a href="">24</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="c22">
                            <a href="">22</a>
                        </div>
                        <div class="atomo-item-text">
                            <span>C</span>
                        </div>
                        <div class="atomo-item-text">
                            <span>D</span>
                        </div>
                        <div class="atomo-item-asiento discapacitado libre left-2" id="x4">
                            <a href="">4</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="d42">
                            <a href="">42</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="d40">
                            <a href="">40</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="d38">
                            <a href="">38</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="d36">
                            <a href="">36</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="d34">
                            <a href="">34</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="d32">
                            <a href="">32</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="d30">
                            <a href="">30</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="d28">
                            <a href="">28</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="d26">
                            <a href="">26</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="d24">
                            <a href="">24</a>
                        </div>
                        <div class="atomo-item-text">
                            <span>D</span>
                        </div>

                    </div>
                </div>
                <div class="molecula-wrap-full">
                    <div class="atomo-title-sub">
                        Piso 2
                    </div>
                    <div class="molecula-piso2-medio">
                        <div class="atomo-item-text">
                            <span>A</span>
                        </div>
                        <div class="atomo-item-asiento libre left-2">
                            <a href=""></a>
                        </div>
                        <div class="atomo-item-asiento libre" id="a16">
                            <a href="">16</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="a14">
                            <a href="">14</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="a12">
                            <a href="">12</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="a10">
                            <a href="">10</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="a8">
                            <a href="">8</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="a6">
                            <a href="">6</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="a4">
                            <a href="">4</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="a2">
                            <a href="">2</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="a1">
                            <a href="">1</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="a3">
                            <a href="">3</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="a5">
                            <a href="">5</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="a7">
                            <a href="">7</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="a9">
                            <a href="">9</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="a11">
                            <a href="">11</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="a13">
                            <a href="">13</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="a15">
                            <a href="">15</a>
                        </div>
                        <div class="atomo-item-asiento libre right-2" id="a17">
                            <a href="">17</a>
                        </div>
                        <div class="atomo-item-text">
                            <span>A</span>
                        </div>
                        <div class="atomo-item-text">
                            <span>B</span>
                        </div>
                        <div class="atomo-item-asiento libre left-1" id="b20">
                            <a href="">20</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="b18">
                            <a href="">18</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="b16">
                            <a href="">16</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="b14">
                            <a href="">14</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="b12">
                            <a href="">12</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="b10">
                            <a href="">10</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="b8">
                            <a href="">8</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="b6">
                            <a href="">6</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="b4">
                            <a href="">4</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="b2">
                            <a href="">2</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="b1">
                            <a href="">1</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="b3">
                            <a href="">3</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="b5">
                            <a href="">5</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="b7">
                            <a href="">7</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="b9">
                            <a href="">9</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="b11">
                            <a href="">11</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="b13">
                            <a href="">13</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="b15">
                            <a href="">15</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="b17">
                            <a href="">17</a>
                        </div>
                        <div class="atomo-item-asiento libre right-1" id="b19">
                            <a href="">19</a>
                        </div>
                        <div class="atomo-item-text">
                            <span>B</span>
                        </div>
                        <div class="atomo-item-text">
                            <span>C</span>
                        </div>
                        <div class="atomo-item-asiento libre" id="c20">
                            <a href="">20</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="c18">
                            <a href="">18</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="c16">
                            <a href="">16</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="c14">
                            <a href="">14</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="c12">
                            <a href="">12</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="c10">
                            <a href="">10</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="c8">
                            <a href="">8</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="c6">
                            <a href="">6</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="c4">
                            <a href="">4</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="c2">
                            <a href="">2</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="c1">
                            <a href="">1</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="c3">
                            <a href="">3</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="c5">
                            <a href="">5</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="c7">
                            <a href="">7</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="c9">
                            <a href="">9</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="c11">
                            <a href="">11</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="c13">
                            <a href="">13</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="c15">
                            <a href="">15</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="c17">
                            <a href="">17</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="c19">
                            <a href="">19</a>
                        </div>
                        <div class="atomo-item-asiento libre right-1" id="c21">
                            <a href="">21</a>
                        </div>
                        <div class="atomo-item-text">
                            <span>C</span>
                        </div>
                        <div class="atomo-item-text">
                            <span>D</span>
                        </div>
                        <div class="atomo-item-asiento libre" id="d22">
                            <a href="">22</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="d20">
                            <a href="">20</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="d18">
                            <a href="">18</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="d16">
                            <a href="">16</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="d14">
                            <a href="">14</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="d12">
                            <a href="">12</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="d10">
                            <a href="">10</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="d8">
                            <a href="">8</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="d6">
                            <a href="">6</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="d4">
                            <a href="">4</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="d2">
                            <a href="">2</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="d1">
                            <a href="">1</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="d3">
                            <a href="">3</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="d5">
                            <a href="">5</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="d7">
                            <a href="">7</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="d9">
                            <a href="">9</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="d11">
                            <a href="">11</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="d13">
                            <a href="">13</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="d15">
                            <a href="">15</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="d17">
                            <a href="">17</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="d19">
                            <a href="">19</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="d21">
                            <a href="">21</a>
                        </div>
                        <div class="atomo-item-text">
                            <span>D</span>
                        </div>

                    </div>
                </div>
                <div class="molecula-wrap-full">
                    <div class="atomo-title-sub">
                        Piso 2
                    </div>
                    <div class="molecula-piso2-lados">
                        <div class="atomo-item-text">
                            <span>A</span>
                        </div>
                        <div class="atomo-item-asiento libre" id="a19">
                            <a href="">19</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="a21">
                            <a href="">21</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="a23">
                            <a href="">23</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="a25">
                            <a href="">25</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="a27">
                            <a href="">27</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="a29">
                            <a href="">29</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="a31">
                            <a href="">31</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="a33">
                            <a href="">33</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="a35">
                            <a href="">35</a>
                        </div>
                        <div class="atomo-item-asiento libre right-3" id="a37">
                            <a href="">37</a>
                        </div>
                        <div class="atomo-item-text">
                            <span>A</span>
                        </div>
                        <div class="atomo-item-text">
                            <span>B</span>
                        </div>
                        <div class="atomo-item-asiento libre" id="b21">
                            <a href="">21</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="b23">
                            <a href="">23</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="b25">
                            <a href="">25</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="b27">
                            <a href="">27</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="b29">
                            <a href="">29</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="b31">
                            <a href="">31</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="b33">
                            <a href="">33</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="b35">
                            <a href="">35</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="b37">
                            <a href="">37</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="b39">
                            <a href="">39</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="b41">
                            <a href="">41</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="b43">
                            <a href="">43</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="b45">
                            <a href="">45</a>
                        </div>
                        <div class="atomo-item-text">
                            <span>B</span>
                        </div>
                        <div class="atomo-item-text">
                            <span>C</span>
                        </div>
                        <div class="atomo-item-asiento libre" id="c23">
                            <a href="">23</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="c25">
                            <a href="">25</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="c27">
                            <a href="">27</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="c29">
                            <a href="">29</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="c31">
                            <a href="">31</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="c33">
                            <a href="">33</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="c35">
                            <a href="">35</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="c37">
                            <a href="">37</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="c39">
                            <a href="">39</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="c41">
                            <a href="">41</a>
                        </div>
                        <div class="atomo-item-asiento libre right-2" id="c43">
                            <a href="">43</a>
                        </div>
                        <div class="atomo-item-text">
                            <span>C</span>
                        </div>
                        <div class="atomo-item-text">
                            <span>D</span>
                        </div>
                        <div class="atomo-item-asiento libre" id="D23">
                            <a href="">23</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="D25">
                            <a href="">25</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="D27">
                            <a href="">27</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="D29">
                            <a href="">29</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="D31">
                            <a href="">31</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="D33">
                            <a href="">33</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="D35">
                            <a href="">35</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="D37">
                            <a href="">37</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="D39">
                            <a href="">39</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="D41">
                            <a href="">41</a>
                        </div>
                        <div class="atomo-item-asiento discapacitado libre right-2" id="x3">
                            <a href="">3</a>
                        </div>
                        <div class="atomo-item-text">
                            <span>D</span>
                        </div>
                    </div>
                </div>
                <div class="molecula-palco-right">
                    <div class="molecula-palco-interna-top">
                        <div class="atomo-item-asiento libre" id="a65">
                            <a href="">65</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="a67">
                            <a href="">67</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="a61">
                            <a href="">61</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="a63">
                            <a href="">63</a>
                        </div>
                    </div>
                    <div class="atomo-text-palco atomo-text-palco--amplitud atomo-text-palco--left ">
                        <span>Palco</span>
                        <div class="molecula-palco-title molecula-palco-title--left">
                        El palco se <br>vende por
                         <br> butacas independientes<br>
                        </div>
                    </div>
                    <div class="molecula-palco-interna-bottom">
                        <div class="atomo-item-asiento libre" id="a59">
                            <a href="">59</a>
                        </div>
                        <div class="atomo-item-asiento discapacitado libre" id="x1">
                            <a href="">1</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="a57">
                            <a href="">57</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="b65">
                            <a href="">65</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="a55">
                            <a href="">55</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="b63">
                            <a href="">63</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="a53">
                            <a href="">53</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="b61">
                            <a href="">61</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="a51">
                            <a href="">51</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="b59">
                            <a href="">59</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="a49">
                            <a href="">49</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="b57">
                            <a href="">57</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="a47">
                            <a href="">47</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="b55">
                            <a href="">55</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="a45">
                            <a href="">45</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="b53">
                            <a href="">53</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="a43">
                            <a href="">43</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="b51">
                            <a href="">51</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="a41">
                            <a href="">41</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="b49">
                            <a href="">49</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="a39">
                            <a href="">39</a>
                        </div>
                        <div class="atomo-item-asiento libre" id="b47">
                            <a href="">47</a>
                        </div>
                        <div class="atomo-item-text">
                            <span>A</span>
                        </div>
                        <div class="atomo-item-text">
                            <span>B</span>
                        </div>
                    </div>
                    <div class="molecula-palco-title">
                        Piso 2 <br> lateral <br>derecha
                    </div>
                </div>
            </article>
        </div>
    </section>

</main>
