<main>
    <section class="butacas-pagar">
        <div class="wrapper-pagar container-full ">
            {% comment %}
                <p>Tiempo restante <em>09:59</em></p>
            {% endcomment %}
            <div class="reservas-butacas-pagar">
                <div class="resevas-asientos">
                    <span>Asientos seleccionados:</span>
                    <div class="cnt-butacas"></div>
                </div>
                <a href="{% url 'payments:buy_in' event.slug_name %}" id="toPay">Pagar {{ event.currency_symbol }}</a>
            </div>
        </div>
    </section>
    <section class="container-full ancho-butacas ">
        <article class="content-asientos">
            <div class="content-title">
                <h4 class="atomo-title">Rock and Pez</h4>
                <ul class="molecula-legend-asientos">
                    <li class="atomo-item-legend">
                        <span class="libre"></span>
                        <p>Libre</p>
                    </li>
                    <li class="atomo-item-legend">
                        <span class="comprado"></span>
                        <p>Comprado</p>
                    </li>
                    <li class="atomo-item-legend">
                        <span class="seleccionado"></span>
                        <p>Tus asientos</p>
                    </li>
                    <li class="atomo-item-legend">
                        <span class="discapacitado"></span>
                        <p>Discapacitados</p>
                    </li>
                </ul>
            </div>
        </article>
        <div class="container-rock-pez rock-pez">
            <div class="mr-15">
                <div class="rock-pez__escenario">
                    <h3 class="rock-pez__name">Escenario</h3>
                </div>
                <h3 class="text-center">Primer Piso</h3>
            </div>
            <div class="rock-pez__piso">
                <div class="rock-pez__piso__top_sup">
                    <div class="rock-pez__piso__top">
                        <div class="rock-pez__bloque">
                            <div class="rock-pez__asiento__top d-flex justify-content-between">
                                <div class="atomo-item-asiento rock-pez__asiento rock-pez__asiento--top_radius libre " id="P1-1">
                                    <a href="">1</a>
                                </div>
                                <div class="atomo-item-asiento rock-pez__asiento rock-pez__asiento--top_radius libre " id="P1-2">
                                    <a href="">2</a>
                                </div>
                            </div>
                            <div class="rock-pez__bloque__mesa">
                                <span>113</span>
                            </div>
                            <div class="rock-pez__asiento__bottom d-flex justify-content-center">
                                <div class="atomo-item-asiento libre  rock-pez__asiento rock-pez__asiento--bottom_radius" id="P1-3">
                                    <a href="">3</a>
                                </div>
                            </div>
                        </div>
                        <div class="rock-pez__bloque">
                            <div class="rock-pez__asiento__top d-flex justify-content-between">
                                <div class="atomo-item-asiento rock-pez__asiento rock-pez__asiento--top_radius libre " id="P1-4">
                                    <a href="">4</a>
                                </div>
                                <div class="atomo-item-asiento rock-pez__asiento rock-pez__asiento--top_radius libre " id="P1-5">
                                    <a href="">5</a>
                                </div>
                            </div>
                            <div class="rock-pez__bloque__mesa">
                                <span>112</span>
                            </div>
                            <div class="rock-pez__asiento__bottom d-flex justify-content-center">
                                <div class="atomo-item-asiento libre  rock-pez__asiento rock-pez__asiento--bottom_radius" id="P1-6">
                                    <a href="">6</a>
                                </div>
                            </div>
                        </div>
                        <div class="rock-pez__bloque">
                            <div class="rock-pez__asiento__top d-flex justify-content-between">
                                <div class="atomo-item-asiento rock-pez__asiento rock-pez__asiento--top_radius libre " id="P1-7">
                                    <a href="">7</a>
                                </div>
                                <div class="atomo-item-asiento rock-pez__asiento rock-pez__asiento--top_radius libre " id="P1-8">
                                    <a href="">8</a>
                                </div>
                            </div>
                            <div class="rock-pez__bloque__mesa">
                                <span>111</span>
                            </div>
                            <div class="rock-pez__asiento__bottom d-flex justify-content-center">
                                <div class="atomo-item-asiento libre  rock-pez__asiento rock-pez__asiento--bottom_radius" id="P1-9">
                                    <a href="">9</a>
                                </div>
                            </div>
                        </div>
                        <div class="rock-pez__bloque">
                            <div class="rock-pez__asiento__top d-flex justify-content-between">
                                <div class="atomo-item-asiento rock-pez__asiento rock-pez__asiento--top_radius libre " id="P1-10">
                                    <a href="">10</a>
                                </div>
                                <div class="atomo-item-asiento rock-pez__asiento rock-pez__asiento--top_radius libre " id="P1-11">
                                    <a href="">11</a>
                                </div>
                            </div>
                            <div class="rock-pez__bloque__mesa">
                                <span>110</span>
                            </div>
                            <div class="rock-pez__asiento__bottom d-flex justify-content-center">
                                <div class="atomo-item-asiento libre  rock-pez__asiento rock-pez__asiento--bottom_radius" id="P1-12">
                                    <a href="">12</a>
                                </div>
                            </div>
                        </div>
                        <div class="rock-pez__bloque">
                            <div class="rock-pez__asiento__top d-flex justify-content-between">
                                <div class="atomo-item-asiento rock-pez__asiento rock-pez__asiento--top_radius libre " id="P1-13">
                                    <a href="">13</a>
                                </div>
                                <div class="atomo-item-asiento rock-pez__asiento rock-pez__asiento--top_radius libre " id="P1-14">
                                    <a href="">14</a>
                                </div>
                            </div>
                            <div class="rock-pez__bloque__mesa">
                                <span>109</span>
                            </div>
                            <div class="rock-pez__asiento__bottom d-flex justify-content-center">
                                <div class="atomo-item-asiento libre  rock-pez__asiento rock-pez__asiento--bottom_radius" id="P1-15">
                                    <a href="">15</a>
                                </div>
                            </div>
                        </div>
                        <div class="rock-pez__bloque">
                            <div class="rock-pez__asiento__top d-flex justify-content-between">
                                <div class="atomo-item-asiento rock-pez__asiento rock-pez__asiento--top_radius libre " id="P1-16">
                                    <a href="">16</a>
                                </div>
                                <div class="atomo-item-asiento rock-pez__asiento rock-pez__asiento--top_radius libre " id="P1-17">
                                    <a href="">17</a>
                                </div>
                            </div>
                            <div class="rock-pez__bloque__mesa">
                                <span>108</span>
                            </div>
                            <div class="rock-pez__asiento__bottom d-flex justify-content-center">
                                <div class="atomo-item-asiento libre  rock-pez__asiento rock-pez__asiento--bottom_radius" id="P1-18">
                                    <a href="">18</a>
                                </div>
                            </div>
                        </div>
                        <div class="rock-pez__bloque">
                            <div class="rock-pez__asiento__top d-flex justify-content-between">
                                <div class="atomo-item-asiento rock-pez__asiento rock-pez__asiento--top_radius libre " id="P1-19">
                                    <a href="">19</a>
                                </div>
                                <div class="atomo-item-asiento rock-pez__asiento rock-pez__asiento--top_radius libre " id="P1-20">
                                    <a href="">20</a>
                                </div>
                            </div>
                            <div class="rock-pez__bloque__mesa">
                                <span>107</span>
                            </div>
                            <div class="rock-pez__asiento__bottom d-flex justify-content-center">
                                <div class="atomo-item-asiento libre  rock-pez__asiento rock-pez__asiento--bottom_radius" id="P1-21">
                                    <a href="">21</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="rock-pez__piso__top">

                        <div class="rock-pez__bloque">
                            <div class="rock-pez__asiento__top d-flex justify-content-between">
                                <div class="atomo-item-asiento rock-pez__asiento rock-pez__asiento--top_radius libre " id="P1-22">
                                    <a href="">22</a>
                                </div>
                                <div class="atomo-item-asiento rock-pez__asiento rock-pez__asiento--top_radius libre " id="P1-23">
                                    <a href="">23</a>
                                </div>
                            </div>
                            <div class="rock-pez__bloque__mesa">
                                <span>106</span>
                            </div>
                            <div class="rock-pez__asiento__bottom d-flex justify-content-center">
                                <div class="atomo-item-asiento libre  rock-pez__asiento rock-pez__asiento--bottom_radius" id="P1-24">
                                    <a href="">24</a>
                                </div>
                            </div>
                        </div>
                        <div class="rock-pez__bloque">
                            <div class="rock-pez__asiento__top d-flex justify-content-between">
                                <div class="atomo-item-asiento rock-pez__asiento rock-pez__asiento--top_radius libre " id="P1-25">
                                    <a href="">25</a>
                                </div>
                                <div class="atomo-item-asiento rock-pez__asiento rock-pez__asiento--top_radius libre " id="P1-26">
                                    <a href="">26</a>
                                </div>
                            </div>
                            <div class="rock-pez__bloque__mesa">
                                <span>105</span>
                            </div>
                            <div class="rock-pez__asiento__bottom d-flex justify-content-center">
                                <div class="atomo-item-asiento libre  rock-pez__asiento rock-pez__asiento--bottom_radius" id="P1-27">
                                    <a href="">27</a>
                                </div>
                            </div>
                        </div>
                        <div class="rock-pez__bloque">
                            <div class="rock-pez__asiento__top d-flex justify-content-between">
                                <div class="atomo-item-asiento rock-pez__asiento rock-pez__asiento--top_radius libre " id="P1-28">
                                    <a href="">28</a>
                                </div>
                                <div class="atomo-item-asiento rock-pez__asiento rock-pez__asiento--top_radius libre " id="P1-29">
                                    <a href="">29</a>
                                </div>
                            </div>
                            <div class="rock-pez__bloque__mesa">
                                <span>104</span>
                            </div>
                            <div class="rock-pez__asiento__bottom d-flex justify-content-center">
                                <div class="atomo-item-asiento libre  rock-pez__asiento rock-pez__asiento--bottom_radius" id="P1-30">
                                    <a href="">30</a>
                                </div>
                            </div>
                        </div>
                        <div class="rock-pez__bloque">
                            <div class="rock-pez__asiento__top d-flex justify-content-between">
                                <div class="atomo-item-asiento rock-pez__asiento rock-pez__asiento--top_radius libre " id="P1-31">
                                    <a href="">31</a>
                                </div>
                                <div class="atomo-item-asiento rock-pez__asiento rock-pez__asiento--top_radius libre " id="P1-32">
                                    <a href="">32</a>
                                </div>
                            </div>
                            <div class="rock-pez__bloque__mesa">
                                <span>103</span>
                            </div>
                            <div class="rock-pez__asiento__bottom d-flex justify-content-center">
                                <div class="atomo-item-asiento libre  rock-pez__asiento rock-pez__asiento--bottom_radius" id="P1-33">
                                    <a href="">33</a>
                                </div>
                            </div>
                        </div>
                        <div class="rock-pez__bloque">
                            <div class="rock-pez__asiento__top d-flex justify-content-between">
                                <div class="atomo-item-asiento rock-pez__asiento rock-pez__asiento--top_radius libre " id="P1-34">
                                    <a href="">34</a>
                                </div>
                                <div class="atomo-item-asiento rock-pez__asiento rock-pez__asiento--top_radius libre " id="P1-35">
                                    <a href="">35</a>
                                </div>
                            </div>
                            <div class="rock-pez__bloque__mesa">
                                <span>102</span>
                            </div>
                            <div class="rock-pez__asiento__bottom d-flex justify-content-center">
                                <div class="atomo-item-asiento libre  rock-pez__asiento rock-pez__asiento--bottom_radius" id="P1-36">
                                    <a href="">36</a>
                                </div>
                            </div>
                        </div>
                        <div class="rock-pez__bloque">
                            <div class="rock-pez__asiento__top d-flex justify-content-between">
                                <div class="atomo-item-asiento rock-pez__asiento rock-pez__asiento--top_radius libre " id="P1-37">
                                    <a href="">37</a>
                                </div>
                                <div class="atomo-item-asiento rock-pez__asiento rock-pez__asiento--top_radius libre " id="P1-38">
                                    <a href="">38</a>
                                </div>
                            </div>
                            <div class="rock-pez__bloque__mesa">
                                <span>101</span>
                            </div>
                            <div class="rock-pez__asiento__bottom d-flex justify-content-center">
                                <div class="atomo-item-asiento libre  rock-pez__asiento rock-pez__asiento--bottom_radius" id="P1-39">
                                    <a href="">39</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="rock-pez__piso__middle d-flex">
                    <div class="rock-pez__bloque">
                        <div class="rock-pez__asiento__top d-flex justify-content-center">
                            <div class="atomo-item-asiento rock-pez__asiento rock-pez__asiento--top_radius libre d-flex justify-content-center" id="P1-44">
                                <a href="">44</a>
                            </div>
                        </div>
                        <div class="d-flex align-items-center">

                            <div class="atomo-item-asiento rock-pez__asiento rock-pez__asiento--left_radius libre d-flex justify-content-center" id="P1-46">
                                <a href="">46</a>
                            </div>
                            <div class="rock-pez__bloque__mesa">
                                <span>114</span>
                            </div>
                            <div class="atomo-item-asiento rock-pez__asiento rock-pez__asiento--right_radius libre d-flex justify-content-center" id="P1-45">
                                <a href="">45</a>
                            </div>
                        </div>
                        <div class="rock-pez__asiento__bottom d-flex justify-content-center">
                            <div class="atomo-item-asiento libre  rock-pez__asiento rock-pez__asiento--bottom_radius" id="P1-47">
                                <a href="">47</a>
                            </div>
                        </div>
                    </div>
                    <div class="rock-pez__bloque">
                        <div class="rock-pez__asiento__top d-flex justify-content-center">
                            <div class="atomo-item-asiento rock-pez__asiento rock-pez__asiento--top_radius libre d-flex justify-content-center" id="P1-54">
                                <a href="">54</a>
                            </div>
                        </div>
                        <div class="d-flex align-items-center">

                            <div class="atomo-item-asiento rock-pez__asiento rock-pez__asiento--left_radius libre d-flex justify-content-center" id="P1-52">
                                <a href="">52</a>
                            </div>
                            <div class="rock-pez__bloque__mesa">
                                <span>116</span>
                            </div>
                            <div class="atomo-item-asiento rock-pez__asiento rock-pez__asiento--right_radius libre d-flex justify-content-center" id="P1-55">
                                <a href="">55</a>
                            </div>
                        </div>
                        <div class="rock-pez__asiento__bottom d-flex justify-content-center">
                            <div class="atomo-item-asiento libre  rock-pez__asiento rock-pez__asiento--bottom_radius" id="P1-53">
                                <a href="">53</a>
                            </div>
                        </div>
                    </div>
                    <div class="rock-pez__bloque">
                        <div class="rock-pez__asiento__top d-flex justify-content-center">
                            <div class="atomo-item-asiento rock-pez__asiento rock-pez__asiento--top_radius libre d-flex justify-content-center" id="P1-57">
                                <a href="">57</a>
                            </div>
                        </div>
                        <div class="d-flex align-items-center">

                            <div class="atomo-item-asiento rock-pez__asiento rock-pez__asiento--left_radius libre d-flex justify-content-center" id="P1-56">
                                <a href="">56</a>
                            </div>
                            <div class="rock-pez__bloque__mesa">
                                <span>118</span>
                            </div>
                            <div class="atomo-item-asiento rock-pez__asiento rock-pez__asiento--right_radius libre d-flex justify-content-center" id="P1-58">
                                <a href="">58</a>
                            </div>
                        </div>
                    </div>
                    <div class="rock-pez__bloque rock-pez__bloque--rotate-45">
                        <div class="rock-pez__asiento__top d-flex justify-content-center">
                            <div class="atomo-item-asiento rock-pez__asiento rock-pez__asiento--top_radius libre d-flex justify-content-center" id="P1-63">
                                <a href="">63</a>
                            </div>
                        </div>
                        <div class="d-flex align-items-center">

                            <div class="atomo-item-asiento rock-pez__asiento rock-pez__asiento--left_radius libre d-flex justify-content-center" id="P1-62">
                                <a href="">62</a>
                            </div>
                            <div class="rock-pez__bloque__mesa">
                                <span>120</span>
                            </div>
                            <div class="atomo-item-asiento rock-pez__asiento rock-pez__asiento--right_radius libre d-flex justify-content-center" id="P1-64">
                                <a href="">64</a>
                            </div>
                        </div>
                        <div class="rock-pez__asiento__bottom d-flex justify-content-center">
                            <div class="atomo-item-asiento libre  rock-pez__asiento rock-pez__asiento--bottom_radius" id="P1-65">
                                <a href="">65</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rock-pez__piso__middle rock-pez__piso__mesa_bot d-inline">
                    <div class="d-flex rock-pez__piso ">
                        <div class="rock-pez__bloque">
                            <div class="rock-pez__asiento__top d-flex justify-content-center">
                                <div class="atomo-item-asiento rock-pez__asiento rock-pez__asiento--top_radius libre d-flex justify-content-center" id="P1-42">
                                    <a href="">42</a>
                                </div>
                            </div>
                            <div class="d-flex align-items-center">

                                <div class="atomo-item-asiento rock-pez__asiento rock-pez__asiento--left_radius libre d-flex justify-content-center" id="P1-41">
                                    <a href="">41</a>
                                </div>
                                <div class="rock-pez__bloque__mesa">
                                    <span>115</span>
                                </div>
                                <div class="atomo-item-asiento rock-pez__asiento rock-pez__asiento--right_radius libre d-flex justify-content-center" id="P1-43">
                                    <a href="">43</a>
                                </div>
                            </div>
                            <div class="rock-pez__asiento__bottom d-flex justify-content-center">
                                <div class="atomo-item-asiento libre  rock-pez__asiento rock-pez__asiento--bottom_radius" id="P1-40">
                                    <a href="">40</a>
                                </div>
                            </div>
                        </div>
                        <div class="rock-pez__bloque">
                            <div class="rock-pez__asiento__top d-flex justify-content-center">
                                <div class="atomo-item-asiento rock-pez__asiento rock-pez__asiento--top_radius libre d-flex justify-content-center" id="P1-50">
                                    <a href="">50</a>
                                </div>
                            </div>
                            <div class="d-flex align-items-center">

                                <div class="atomo-item-asiento rock-pez__asiento rock-pez__asiento--left_radius libre d-flex justify-content-center" id="P1-49">
                                    <a href="">49</a>
                                </div>
                                <div class="rock-pez__bloque__mesa">
                                    <span>117</span>
                                </div>
                                <div class="atomo-item-asiento rock-pez__asiento rock-pez__asiento--right_radius libre d-flex justify-content-center" id="P1-51">
                                    <a href="">51</a>
                                </div>
                            </div>
                            <div class="rock-pez__asiento__bottom d-flex justify-content-center">
                                <div class="atomo-item-asiento libre  rock-pez__asiento rock-pez__asiento--bottom_radius" id="P1-48">
                                    <a href="">48</a>
                                </div>
                            </div>
                        </div>
                        <div class="rock-pez__bloque">
                            <div class="rock-pez__asiento__top rock-pez__asiento__top--mascara">

                            </div>
                            <div class="d-flex align-items-center">

                                <div class="atomo-item-asiento rock-pez__asiento rock-pez__asiento--left_radius libre d-flex justify-content-center" id="P1-61">
                                    <a href="">61</a>
                                </div>
                                <div class="rock-pez__bloque__mesa">
                                    <span>119</span>
                                </div>
                                <div class="atomo-item-asiento rock-pez__asiento rock-pez__asiento--right_radius libre d-flex justify-content-center" id="P1-59">
                                    <a href="">59</a>
                                </div>
                            </div>
                            <div class="rock-pez__asiento__bottom d-flex justify-content-center">
                                <div class="atomo-item-asiento libre  rock-pez__asiento rock-pez__asiento--bottom_radius" id="P1-60">
                                    <a href="">60</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="rock-pez__escaleras pull-right">
                        <div class="d-flex">
                            <div class="rock-pez__escaleras__escalon">
                            </div>
                            <div class="rock-pez__escaleras__escalon">
                            </div>
                            <div class="rock-pez__escaleras__escalon">
                            </div>
                            <div class="rock-pez__escaleras__escalon">
                            </div>
                            <div class="rock-pez__escaleras__escalon">
                            </div>
                            <div class="rock-pez__escaleras__escalon">
                            </div>
                            <div class="rock-pez__escaleras__escalon">
                            </div>
                            <div class="rock-pez__escaleras__escalon">
                            </div>
                            <div class="rock-pez__escaleras__escalon">
                            </div>
                            <div class="rock-pez__escaleras__escalon">
                            </div>
                        </div>
                        <h3 class="rock-pez__name text-center">
                            Escaleras
                        </h3>
                    </div>
                </div>
                <div class="rock-pez__piso__middle rock-pez__piso__barra-ingreso d-inline">

                    <div class="d-flex align-items-end">

                        <div class="ml-50 d-flex position-relative">
                            <div class="d-flex rock-pez__piso__barra__asiento_top">

                                <div class="atomo-item-asiento rock-pez__asiento rock-pez__asiento--top_radius libre " id="P1-70">
                                    <a href="">70</a>
                                </div>
                                <div class="atomo-item-asiento rock-pez__asiento rock-pez__asiento--top_radius libre " id="P1-71">
                                    <a href="">71</a>
                                </div>
                                <div class="atomo-item-asiento rock-pez__asiento rock-pez__asiento--top_radius libre " id="P1-72">
                                    <a href="">72</a>
                                </div>
                                <div class="atomo-item-asiento rock-pez__asiento rock-pez__asiento--top_radius libre " id="P1-73">
                                    <a href="">73</a>
                                </div>
                            </div>
                            <div class="d-flex flex-direction-column justify-content-end">
                                <div class="atomo-item-asiento libre  rock-pez__asiento rock-pez__asiento--left_radius" id="P1-67">
                                    <a href="">67</a>
                                </div>
                                <div class="atomo-item-asiento libre  rock-pez__asiento rock-pez__asiento--left_radius mt-5" id="P1-66">
                                    <a href="">66</a>
                                </div>
                            </div>
                            <div class="rock-pez__piso__barra d-flex justify-content-center align-items-center">
                                <div class="d-flex flex-direction-column justify-content-end
                                rock-pez__piso__barra__asiento_trans">
                                    <div class="atomo-item-asiento libre  rock-pez__asiento rock-pez__asiento--left_radius" id="P1-69">
                                        <a href="">69</a>
                                    </div>
                                    <div class="atomo-item-asiento libre  rock-pez__asiento rock-pez__asiento--left_radius mt-5" id="P1-68">
                                        <a href="">68</a>
                                    </div>
                                </div>
                                <h3 class="rock-pez__name">Barra</h3>
                            </div>

                        </div>
                        <div class="rock-pez__piso__ingreso d-flex justify-content-center align-items-center">
                            <h3 class="rock-pez__name">Ingreso</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-rock-pez rock-pez">
            <div class="mr-15">
                <div class="rock-pez__escenario">
                    <h3 class="rock-pez__name">Escenario</h3>
                </div>
                <h3 class="text-center">Segundo Piso</h3>
            </div>
            <div class="rock-pez__piso">
                <div class="rock-pez__piso_2__top d-flex">
                    <div class="">
                        <div class="rock-pez__piso_2__top__espacio">
                        </div>
                        <div class="d-flex rock-pez__piso justify-content-center mt-10">
                            <div class="rock-pez__bloque">
                                <div class="d-flex align-items-center">

                                    <div class="atomo-item-asiento rock-pez__asiento rock-pez__asiento--left_radius libre d-flex justify-content-center" id="P2-74">
                                        <a href="">74</a>
                                    </div>
                                    <div class="rock-pez__bloque__mesa">
                                        <span>201</span>
                                    </div>
                                    <div class="atomo-item-asiento rock-pez__asiento rock-pez__asiento--right_radius libre d-flex justify-content-center" id="P2-75">
                                        <a href="">75</a>
                                    </div>
                                </div>

                            </div>
                            <div class="rock-pez__bloque ">

                                <div class="d-flex align-items-center">

                                    <div class="atomo-item-asiento rock-pez__asiento rock-pez__asiento--left_radius libre d-flex justify-content-center" id="P2-76">
                                        <a href="">76</a>
                                    </div>
                                    <div class="rock-pez__bloque__mesa">
                                        <span>202</span>
                                    </div>
                                    <div class="atomo-item-asiento rock-pez__asiento rock-pez__asiento--right_radius libre d-flex justify-content-center" id="P2-77">
                                        <a href="">77</a>
                                    </div>
                                </div>

                            </div>
                            <div class="rock-pez__bloque">
                                <div class="d-flex align-items-center">

                                    <div class="atomo-item-asiento rock-pez__asiento rock-pez__asiento--left_radius libre d-flex justify-content-center" id="P2-78">
                                        <a href="">78</a>
                                    </div>
                                    <div class="rock-pez__bloque__mesa">
                                        <span>203</span>
                                    </div>
                                    <div class="atomo-item-asiento rock-pez__asiento rock-pez__asiento--right_radius libre d-flex justify-content-center" id="P2-79">
                                        <a href="">79</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="rock-pez__piso_2__top__mesa_espacio">
                        <div class="d-flex">
                            <div class="rock-pez__bloque">
                                <div class=" d-flex justify-content-between mb-5">
                                    <div class="atomo-item-asiento rock-pez__asiento rock-pez__asiento--top_radius libre " id="P2-97">
                                        <a href="">97</a>
                                    </div>
                                    <div class="atomo-item-asiento rock-pez__asiento rock-pez__asiento--top_radius libre " id="P2-98">
                                        <a href="">98</a>
                                    </div>
                                    <div class="atomo-item-asiento rock-pez__asiento rock-pez__asiento--top_radius libre " id="P2-99">
                                        <a href="">99</a>
                                    </div>
                                </div>
                                <div class="rock-pez__bloque__mesa_ancha">
                                    <span>206</span>
                                </div>
                                <div class="rock-pez__asiento__bottom d-flex justify-content-center">
                                    <div class="atomo-item-asiento libre  rock-pez__asiento rock-pez__asiento--bottom_radius" id="P2-94">
                                        <a href="">94</a>
                                    </div>
                                    <div class="atomo-item-asiento libre  rock-pez__asiento rock-pez__asiento--bottom_radius" id="P2-95">
                                        <a href="">95</a>
                                    </div>
                                    <div class="atomo-item-asiento libre  rock-pez__asiento rock-pez__asiento--bottom_radius" id="P2-96">
                                        <a href="">96</a>
                                    </div>
                                </div>
                            </div>
                            <div class="rock-pez__bloque">
                                <div class=" d-flex justify-content-between mb-5">
                                    <div class="atomo-item-asiento rock-pez__asiento rock-pez__asiento--top_radius libre " id="P2-100">
                                        <a href="">100</a>
                                    </div>
                                    <div class="atomo-item-asiento rock-pez__asiento rock-pez__asiento--top_radius libre " id="P2-101">
                                        <a href="">101</a>
                                    </div>
                                    <div class="atomo-item-asiento rock-pez__asiento rock-pez__asiento--top_radius libre " id="P2-102">
                                        <a href="">102</a>
                                    </div>
                                </div>
                                <div class="rock-pez__bloque__mesa_ancha">
                                    <span>207</span>
                                </div>
                                <div class="rock-pez__asiento__bottom d-flex justify-content-center">
                                    <div class="atomo-item-asiento libre  rock-pez__asiento rock-pez__asiento--bottom_radius" id="P2-103">
                                        <a href="">103</a>
                                    </div>
                                    <div class="atomo-item-asiento libre  rock-pez__asiento rock-pez__asiento--bottom_radius" id="P2-104">
                                        <a href="">104</a>
                                    </div>
                                    <div class="atomo-item-asiento libre  rock-pez__asiento rock-pez__asiento--bottom_radius" id="P2-105">
                                        <a href="">105</a>
                                    </div>
                                </div>
                            </div>
                            <div class="rock-pez__bloque rock-pez__bloque--rotate-45">
                                <div class="rock-pez__asiento__top d-flex justify-content-center">
                                    <div class="atomo-item-asiento rock-pez__asiento rock-pez__asiento--top_radius libre d-flex justify-content-center" id="P2-106">
                                        <a href="">106</a>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center">

                                    <div class="atomo-item-asiento rock-pez__asiento rock-pez__asiento--left_radius libre d-flex justify-content-center" id="P2-109">
                                        <a href="">109</a>
                                    </div>
                                    <div class="rock-pez__bloque__mesa">
                                        <span>208</span>
                                    </div>
                                    <div class="atomo-item-asiento rock-pez__asiento rock-pez__asiento--right_radius libre d-flex justify-content-center" id="P2-107">
                                        <a href="">107</a>
                                    </div>
                                </div>
                                <div class="rock-pez__asiento__bottom d-flex justify-content-center">
                                    <div class="atomo-item-asiento libre  rock-pez__asiento rock-pez__asiento--bottom_radius" id="P2-108">
                                        <a href="">108</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex mt-10">
                            <div class="rock-pez__bloque">
                                <div class=" d-flex justify-content-between mb-5">
                                    <div class="atomo-item-asiento rock-pez__asiento rock-pez__asiento--top_radius libre " id="P2-93">
                                        <a href="">93</a>
                                    </div>
                                    <div class="atomo-item-asiento rock-pez__asiento rock-pez__asiento--top_radius libre " id="P2-92">
                                        <a href="">92</a>
                                    </div>
                                    <div class="atomo-item-asiento rock-pez__asiento rock-pez__asiento--top_radius libre " id="P2-91">
                                        <a href="">91</a>
                                    </div>
                                </div>
                                <div class="rock-pez__bloque__mesa_ancha">
                                    <span>205</span>
                                </div>
                                <div class="rock-pez__asiento__bottom d-flex justify-content-center">
                                    <div class="atomo-item-asiento libre  rock-pez__asiento rock-pez__asiento--bottom_radius" id="P2-89">
                                        <a href="">89</a>
                                    </div>
                                    <div class="atomo-item-asiento libre  rock-pez__asiento rock-pez__asiento--bottom_radius" id="P2-88">
                                        <a href="">88</a>
                                    </div>
                                    <div class="atomo-item-asiento libre  rock-pez__asiento rock-pez__asiento--bottom_radius" id="P2-87">
                                        <a href="">87</a>
                                    </div>
                                </div>
                            </div>
                            <div class="rock-pez__bloque ml-30">
                                <div class="rock-pez__asiento__top d-flex justify-content-center">
                                    <div class="atomo-item-asiento rock-pez__asiento rock-pez__asiento--top_radius libre d-flex justify-content-center" id="P2-110">
                                        <a href="">110</a>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center">

                                    <div class="rock-pez__bloque__mesa">
                                        <span>210</span>
                                    </div>
                                </div>
                                <div class="rock-pez__asiento__bottom d-flex justify-content-center">
                                    <div class="atomo-item-asiento libre  rock-pez__asiento rock-pez__asiento--bottom_radius" id="P2-111">
                                        <a href="">111</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex mt-10">
                            <div class="rock-pez__bloque">
                                <div class=" d-flex justify-content-between mb-5">
                                    <div class="atomo-item-asiento rock-pez__asiento rock-pez__asiento--top_radius libre " id="P2-84">
                                        <a href="">84</a>
                                    </div>
                                    <div class="atomo-item-asiento rock-pez__asiento rock-pez__asiento--top_radius libre " id="P2-85">
                                        <a href="">85</a>
                                    </div>
                                    <div class="atomo-item-asiento rock-pez__asiento rock-pez__asiento--top_radius libre " id="P2-86">
                                        <a href="">86</a>
                                    </div>
                                </div>
                                <div class="rock-pez__bloque__mesa_ancha">
                                    <span>204</span>
                                </div>
                                <div class="rock-pez__asiento__bottom d-flex justify-content-center">
                                    <div class="atomo-item-asiento libre  rock-pez__asiento rock-pez__asiento--bottom_radius" id="P2-80">
                                        <a href="">80</a>
                                    </div>
                                    <div class="atomo-item-asiento libre  rock-pez__asiento rock-pez__asiento--bottom_radius" id="P2-81">
                                        <a href="">81</a>
                                    </div>
                                    <div class="atomo-item-asiento libre  rock-pez__asiento rock-pez__asiento--bottom_radius" id="P2-82">
                                        <a href="">82</a>
                                    </div>
                                </div>
                            </div>
                            <div class="rock-pez__bloque ml-30">
                                <div class="rock-pez__asiento__top d-flex justify-content-center">
                                    <div class="atomo-item-asiento rock-pez__asiento rock-pez__asiento--top_radius libre d-flex justify-content-center" id="P2-112">
                                        <a href="">112</a>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center">

                                    <div class="rock-pez__bloque__mesa">
                                        <span>211</span>
                                    </div>
                                </div>
                                <div class="rock-pez__asiento__bottom d-flex justify-content-center">
                                    <div class="atomo-item-asiento libre  rock-pez__asiento rock-pez__asiento--bottom_radius" id="P2-113">
                                        <a href="">113</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="rock-pez__piso__middle d-flex">

                    <div class="rock-pez__escaleras ml-150">
                        <div class="d-flex">
                            <div class="rock-pez__escaleras__escalon">
                            </div>
                            <div class="rock-pez__escaleras__escalon">
                            </div>
                            <div class="rock-pez__escaleras__escalon">
                            </div>
                            <div class="rock-pez__escaleras__escalon">
                            </div>
                            <div class="rock-pez__escaleras__escalon">
                            </div>
                            <div class="rock-pez__escaleras__escalon">
                            </div>
                            <div class="rock-pez__escaleras__escalon">
                            </div>
                            <div class="rock-pez__escaleras__escalon">
                            </div>
                            <div class="rock-pez__escaleras__escalon">
                            </div>
                            <div class="rock-pez__escaleras__escalon">
                            </div>
                        </div>
                        <h3 class="rock-pez__name text-center">
                            Escaleras
                        </h3>
                    </div>
                    <div class="rock-pez__bloque d-flex align-items-center ml-64">
                        <div class="d-flex flex-direction-column justify-content-center">
                            <div class="atomo-item-asiento rock-pez__asiento rock-pez__asiento--left_radius libre d-flex justify-content-center" id="P2-129">
                                <a href="">129</a>
                            </div>
                            <div class="atomo-item-asiento rock-pez__asiento rock-pez__asiento--left_radius libre d-flex justify-content-center" id="P2-130">
                                <a href="">130</a>
                            </div>
                            <div class="atomo-item-asiento rock-pez__asiento rock-pez__asiento--left_radius libre d-flex justify-content-center" id="P2-131">
                                <a href="">131</a>
                            </div>
                        </div>
                        <div class="rock-pez__bloque__mesa_ancha_vertical">
                            <span>214</span>
                        </div>
                        <div class="d-flex flex-direction-column justify-content-center">
                            <div class="atomo-item-asiento rock-pez__asiento rock-pez__asiento--right_radius libre d-flex justify-content-center" id="P2-126">
                                <a href="">126</a>
                            </div>
                            <div class="atomo-item-asiento rock-pez__asiento rock-pez__asiento--right_radius libre d-flex justify-content-center" id="P2-127">
                                <a href="">127</a>
                            </div>
                            <div class="atomo-item-asiento rock-pez__asiento rock-pez__asiento--right_radius libre d-flex justify-content-center" id="P2-128">
                                <a href="">128</a>
                            </div>
                        </div>

                    </div>
                    <div class="rock-pez__bloque">
                        <div class=" d-flex justify-content-between mb-5">
                            <div class="atomo-item-asiento rock-pez__asiento rock-pez__asiento--top_radius libre " id="P2-122">
                                <a href="">122</a>
                            </div>
                            <div class="atomo-item-asiento rock-pez__asiento rock-pez__asiento--top_radius libre " id="P2-121">
                                <a href="">121</a>
                            </div>
                            <div class="atomo-item-asiento rock-pez__asiento rock-pez__asiento--top_radius libre " id="P2-120">
                                <a href="">120</a>
                            </div>
                        </div>
                        <div class="rock-pez__bloque__mesa_ancha">
                            <span>213</span>
                        </div>
                        <div class="rock-pez__asiento__bottom d-flex justify-content-center">
                            <div class="atomo-item-asiento libre  rock-pez__asiento rock-pez__asiento--bottom_radius" id="P2-125">
                                <a href="">125</a>
                            </div>
                            <div class="atomo-item-asiento libre  rock-pez__asiento rock-pez__asiento--bottom_radius" id="P2-124">
                                <a href="">124</a>
                            </div>
                            <div class="atomo-item-asiento libre  rock-pez__asiento rock-pez__asiento--bottom_radius" id="P2-123">
                                <a href="">123</a>
                            </div>
                        </div>
                    </div>
                    <div class="rock-pez__bloque ">
                        <div class=" d-flex justify-content-between mb-5">
                            <div class="atomo-item-asiento rock-pez__asiento rock-pez__asiento--top_radius libre " id="P2-116">
                                <a href="">116</a>
                            </div>
                            <div class="atomo-item-asiento rock-pez__asiento rock-pez__asiento--top_radius libre " id="P2-115">
                                <a href="">115</a>
                            </div>
                            <div class="atomo-item-asiento rock-pez__asiento rock-pez__asiento--top_radius libre " id="P2-114">
                                <a href="">114</a>
                            </div>
                        </div>
                        <div class="rock-pez__bloque__mesa_ancha">
                            <span>212</span>
                        </div>
                        <div class="rock-pez__asiento__bottom d-flex justify-content-center">
                            <div class="atomo-item-asiento libre  rock-pez__asiento rock-pez__asiento--bottom_radius" id="P2-119">
                                <a href="">119</a>
                            </div>
                            <div class="atomo-item-asiento libre  rock-pez__asiento rock-pez__asiento--bottom_radius" id="P2-118">
                                <a href="">118</a>
                            </div>
                            <div class="atomo-item-asiento libre  rock-pez__asiento rock-pez__asiento--bottom_radius" id="P2-117">
                                <a href="">117</a>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex align-items-end">
                        <div class="rock-pez__piso__ingreso d-flex justify-content-center align-items-center">
                            <h3 class="rock-pez__name">Ingreso</h3>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

</main>
