{% extends 'layout.html' %}
{% load staticfiles %}
{% block title %} Profile{% endblock %}
{% block content %}
    <div class="content-profile">
        <div class="wrapper">
            <div class="row">
                <div class="col-lg-9 col-md-8">
                    <div class="row profile-data">
                        <div class="col-lg-3 col-md-3 col-sm-12">
                            <div class="profile-logo">
                                <img src="{% static 'images/profile-photo.png' %} " alt="profile-photo">
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-12">
                            <div class="profile-description">
                                <span>
                                    {{ user.get_short_name }}
                                </span>
                                <p>
                                    <a href="{% url 'accounts:logout' %}">Cerrar Sesión</a>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    Consequatur corporis ipsa nulla porro quisquam!
                                    Ab corporis doloremque ducimus iste necessitatibus quam qui quo temporibus unde,
                                    veritatis voluptas voluptates? Aliquam, reprehenderit?
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                </p>
                            </div>
                            <div class="row profile-socials">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <span>
                                        <i class="fa fa-2x fa-facebook-square" aria-hidden="true"></i> 10,000 +
                                    </span>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <span>
                                        <i class="fa fa-2x fa-twitter" aria-hidden="true"></i> 50,000 +
                                    </span>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <span>
                                        <i class="fa fa-2x fa-instagram" aria-hidden="true"></i> 2,000 +
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="profile-profit">
                        <span class="profile-profit_header">
                            Total Recaudado
                        </span>
                        <div class="profile-profit_mount">
                            <span>
                                S/ 227
                            </span>
                        </div>
                        <div class="profile-profit_buy">
                            <a class="btn btn-lg btn-buy" href="coupon-View">Comprar Ahora</a>
                        </div>
                    </div>
                </div>
            </div>

            <span style="font-family: Nova-Thin;color: #555;font-size: 2em;">EVENTOS COMPARTIDOS</span>

            <div class="row">
                <div class="col-lg-9 event-content">

                        <div class="row">
                            <div class="col-lg-9">
                                <span style="color: #777;font-size: 1.5em;font-family: Nova-Thin;">VIE, 20 DE MAYO / 22:00</span>
                            </div>
                            <div class="col-lg-3">
                                <span style="font-size: 1.7em;font-family: Nova-Thin;color: #aaa;">
                                    <i class="fa fa-check" aria-hidden="true"></i> En curso
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12" style="padding-bottom: 20px;">
                                <span style="font-family: Roboto-Bol;font-size: 2.2em;color: #111;">Hot Chip en Lima</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                <span style="font-size: 1.8em;font-family: Nova-Thin;">3</span>
                            </div>
                            <div class="col-lg-4">
                                <span style="font-size: 1.8em;font-family: Nova-Thin;">1500</span>
                            </div>
                            <div class="col-lg-5">
                                <span style="font-size: 1.8em;font-family: Nova-Thin;">21</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                <span style="color: #777;font-family: Nova-Thin;font-size: 1.3em;">Veces Compartidos</span>
                            </div>
                            <div class="col-lg-4">
                                <span style="color: #777;font-family: Nova-Thin;font-size: 1.3em;">Personas que entraron al link</span>
                            </div>
                            <div class="col-lg-5">
                                <span style="color: #777;font-family: Nova-Thin;font-size: 1.3em;">Personas que completaron la compra</span>
                            </div>
                        </div>

                </div>
                <div class="col-lg-3 event-commission">
                    <div class="event-commission_detail">
                        <span>S/ 112</span>
                        <p>Comisión de venta</p>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-9 event-content">

                        <div class="row">
                            <div class="col-lg-9">
                                <span style="color: #777;font-size: 1.5em;font-family: Nova-Thin;">VIE, 20 DE MAYO / 22:00</span>
                            </div>
                            <div class="col-lg-3">
                                <span style="font-size: 1.7em;font-family: Nova-Thin;color: #aaa;">
                                    <i class="fa fa-close" aria-hidden="true"></i> Finalizado
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12" style="padding-bottom: 20px;">
                                <span style="font-family: Roboto-Bol;font-size: 2.2em;color: #111;">Hot Chip en Lima</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                <span style="font-size: 1.8em;font-family: Nova-Thin;">3</span>
                            </div>
                            <div class="col-lg-4">
                                <span style="font-size: 1.8em;font-family: Nova-Thin;">1500</span>
                            </div>
                            <div class="col-lg-5">
                                <span style="font-size: 1.8em;font-family: Nova-Thin;">21</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                <span style="color: #777;font-family: Nova-Thin;font-size: 1.3em;">Veces Compartidos</span>
                            </div>
                            <div class="col-lg-4">
                                <span style="color: #777;font-family: Nova-Thin;font-size: 1.3em;">Personas que entraron al link</span>
                            </div>
                            <div class="col-lg-5">
                                <span style="color: #777;font-family: Nova-Thin;font-size: 1.3em;">Personas que completaron la compra</span>
                            </div>
                        </div>

                </div>
                <div class="col-lg-3 event-commission">
                    <div class="event-commission_detail">
                        <span>S/ 112</span>
                        <p>Comisión de venta</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}



