{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Tickets{% endblock %}
{% block content %}
    <div class="wrapper">
        <section class="tickets-header">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                    <img src="{% static 'images/sectionVII.png' %}" class="tickets-header_organizer" alt="log_organizer">
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <span class="title">
                        <h1>Veltrac Music</h1>
                    </span>
                    <span class="subtitle">
                        <p>
                            Dirección Av. Prado 322 Miraflores
                        </p>
                        <p>
                            RUC: 2234565443
                        </p>
                        <p>
                            Telf: 788924553 / 475489359
                        </p>
                    </span>
                </div>
                <div class="col-lg-5 col-sm-12 col-xs-12">
                    <div class="ticket-organizer">
                         <img src="{% static 'images/slideII.png' %}" class="tickets-header_cover" alt="logo_event">
                        <br><br>
                        <p>Imagen de Organizador (Min 100px X 300px jpg o png)</p>
                        <div class="change_image">
                            <a href="">Cambiar Imagen</a>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <span class="title2">
            <h3>Recaudación en curso</h3>
        </span>

        <section class="tickets-collection">
            <div class="row">
                <div class="col-sm-12 col-lg-9">
                    <section class="ticket_collection_content">
                        <div class="row">
                            <div class="col-lg-10">
                                <span>
                                    VIE, 20 DE MAYO / 22:00
                                </span>
                            </div>
                            <div class="col-lg-2">
                                <span class="f-r">
                                    <i class="fa fa-check"></i> En curso
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-10">
                                <span class="title">
                                    Hot Chip en Lima
                                </span>
                            </div>
                            <div class="col-lg-2">
                                <span class="f-r">
                                    <span id="more_content">
                                        <i class="fa fa-chevron-down"></i>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </section>
                    <section id="detail_content">
                        <div class="detail_content_sold">
                            <span>Tickets Vendidos</span>
                            <div class="row">
                                <div class="col-lg-2 col-md-3 col-sm-3">
                                    <span class="title3">
                                        <h2>1,442</h2>
                                    </span>
                                    <p class="subtitle2"><span>Zona 1</span> - S/ <span>290</span></p>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <span class="title3">
                                        <h2>2,442</h2>
                                    </span>
                                    <p class="subtitle2"><span>Zona 2</span> - S/ <span>200</span></p>
                                </div>
                                <div class="col-lg-7 col-md-6 col-sm-6">
                                    <span class="title3">
                                        <h2>906</h2>
                                    </span>
                                    <p class="subtitle2"><span>Zona 3</span> - S/ <span>100</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="detail_content_sold">
                            <span>Comisiones</span><br>
                            <h5 style="font-weight: 700;"><i class="fa fa-square" aria-hidden="true"></i> Influenciados</h5>

                            <div class="row">
                                <div class="col-lg-2 col-md-3 col-sm-3">
                                    <span class="title3">
                                        <h2>322</h2>
                                    </span>
                                    <p class="subtitle2"><span>Veces Compartido</span></p>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <span class="title3">
                                        <h2>18,442</h2>
                                    </span>
                                    <p class="subtitle2"><span>Personas que entraron al link</span></p>
                                </div>
                                <div class="col-lg-7 col-md-6 col-sm-6">
                                    <span class="title3">
                                        <h2>906</h2>
                                    </span>
                                    <p class="subtitle2"><span>Personas compraron con inlfuencia</span></p>
                                </div>
                            </div>

                            <br>
                            <h5 style="font-weight: 700;color: #6DBA76;"><i class="fa fa-square" aria-hidden="true"></i> Orgánico</h5>

                            <div class="row">
                                <div class="col-lg-12">
                                    <span class="title3">
                                        <h2>2,345</h2>
                                    </span>
                                    <p class="subtitle2"><span>Personas compraron directo</span></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <div style="text-align: center">
                                        <img style="width: 100%;height: 320px;" src="{% static 'images/graphI.png' %}" alt="">
                                        <br>
                                        <span style="font-weight: 700;">
                                            Inicio pre venta
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div style="text-align: center">
                                        <img style="width: 100%;height: 320px;" src="{% static 'images/graphII.png' %}" alt="">
                                        <br>
                                        <span style="font-weight: 700;">
                                            Evento
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                     </section>
                    <section class="ticket_collection_content">
                        <div class="row">
                            <div class="col-lg-10">
                                <span>
                                    VIE, 20 DE MAYO / 22:00
                                </span>
                            </div>
                            <div class="col-lg-2">
                                <span class="f-r">
                                    <i class="fa fa-check"></i> En curso
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-10 col-xs-12">
                                <span class="title">
                                    Hot Chip en Lima
                                </span>
                            </div>
                            <div class="col-lg-2 col-xs-12">
                                <span class="f-r">
                                    <span id="more_content2">
                                        <i class="fa fa-chevron-down"></i>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </section>
                    <section id="detail_content2">
                        <div class="detail_content_sold">
                            <span>Tickets Vendidos</span>
                            <div class="row">
                                <div class="col-lg-2 col-md-3 col-sm-3">
                                    <span class="title3">
                                        <h2>1,442</h2>
                                    </span>
                                    <p class="subtitle2"><span>Zona 1</span> - S/ <span>290</span></p>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <span class="title3">
                                        <h2>2,442</h2>
                                    </span>
                                    <p class="subtitle2"><span>Zona 2</span> - S/ <span>200</span></p>
                                </div>
                                <div class="col-lg-7 col-md-6 col-sm-6">
                                    <span class="title3">
                                        <h2>906</h2>
                                    </span>
                                    <p class="subtitle2"><span>Zona 3</span> - S/ <span>100</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="detail_content_sold">
                            <span>Comisiones</span><br>
                            <h5 style="font-weight: 700;"><i class="fa fa-square" aria-hidden="true"></i> Influenciados</h5>

                            <div class="row">
                                <div class="col-lg-2 col-md-3 col-sm-3">
                                    <span class="title3">
                                        <h2>322</h2>
                                    </span>
                                    <p class="subtitle2"><span>Veces Compartido</span></p>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <span class="title3">
                                        <h2>18,442</h2>
                                    </span>
                                    <p class="subtitle2"><span>Personas que entraron al link</span></p>
                                </div>
                                <div class="col-lg-7 col-md-6 col-sm-6">
                                    <span class="title3">
                                        <h2>906</h2>
                                    </span>
                                    <p class="subtitle2"><span>Personas compraron con inlfuencia</span></p>
                                </div>
                            </div>

                            <br>
                            <h5 style="font-weight: 700;color: #6DBA76;"><i class="fa fa-square" aria-hidden="true"></i> Orgánico</h5>

                            <div class="row">
                                <div class="col-lg-12">
                                    <span class="title3">
                                        <h2>2,345</h2>
                                    </span>
                                    <p class="subtitle2"><span>Personas compraron directo</span></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <div style="text-align: center">
                                        <img style="width: 100%;height: 320px;" src="{% static 'images/graphI.png' %}" alt="">
                                        <br>
                                        <span style="font-weight: 700;">
                                            Inicio pre venta
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div style="text-align: center">
                                        <img style="width: 100%;height: 320px;" src="{% static 'images/graphII.png' %}" alt="">
                                        <br>
                                        <span style="font-weight: 700;">
                                            Evento
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                     </section>
                </div>
                <div class="col-sm-12 col-lg-3">
                    <section class="ticket_collection_widget">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="ticket_collection_widget_numbers">
                                    <span >
                                        4,3567
                                    </span><br>
                                    <p>Tickets Vendidos</p>
                                </div>
                            </div>
                        </div>
                         <div class="row">
                            <div class="col-lg-12">
                                <div class="ticket_collection_widget_numbers">
                                    <span>
                                        S/ 30,450
                                    </span><br>
                                    <p>Comisión Variable</p>
                                </div>
                            </div>
                        </div>
                         <div class="row">
                            <div class="col-lg-12">
                                <div class="ticket_collection_widget_numbers">
                                    <span>
                                        S/ 4,450
                                    </span><br>
                                    <p>Comisión Fija</p>
                                </div>
                            </div>
                        </div>
                         <div class="row">
                            <div class="col-lg-12">
                                <div class="ticket_collection_widget_numbers">
                                    <span>
                                        S/ 220,130.32
                                    </span><br>
                                    <p>Por Cobrar</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="buy-fake">
                                    <a class="btn btn-lg btn-buy" href="#">Comprar Ahora</a>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </section>
    </div>
{% endblock %}






