{% load staticfiles %}

<div class="banner" style="background-image: url({% static 'images/sectionII.jpg' %});background-size: cover;
background-repeat: no-repeat;background-position: center;">
    <p>
        Descubre el concierto de tu vida <br>
        <img src="{% static 'images/down-white.png' %}" alt="down">
    </p>
</div>