{% load web_extras %}
{% load staticfiles %}


    <a href="{% url 'webs:event_detail' event.slug_name %}">
        <div class="c-card__image" >
            <img ng-src="{{ event.front.normal_full.url }}" alt=""/>
        </div>
    </a>
    <div class="c-card__info">
        <div class="c-card__date">
            <h5>
                {{ event.start_date|date:"D, d"}} de {{ event.start_date|date:"M"}} / {{ event.start_date.time|date:'H:i' }}<br>
            </h5>
            <div class="c-card__icons">
                <!-- <span><i class="fa fa-lg fa-calendar"></i></span> -->
                <span>
                    <span>
                        {% if user.is_authenticated %}
                            {% if event in wishes_events %}
                                <i data-event="{{ event.id }}" class="fa fa-lg fa-heart out-wis"></i>
                            {% else %}
                                <i data-event="{{ event.id }}" class="fa fa-lg fa-heart-o in-wis"></i>
                            {% endif %}
                        {% else %}
                            <i data-event="{{ event.id }}" class="fa fa-lg fa-heart-o in-wis"></i>
                        {% endif %}
                    </span>
                </span>
            </div>
        </div>

        <h3 class="c-card__title">
            <a href="{% url 'webs:event_detail' event.slug_name %}">{{ event.name|truncatechars:30 }}</a>
        </h3>
        <div class="c-card__address">
            <h5>
                <i class="fa-map-marker fa-lg fa"> </i> &nbsp; {{ event.address }}
            </h5>
            <h5>
                <i class="fa-users fa-lg fa"> </i> &nbsp; {{ event.assistants }} Asistentes aprox.
            </h5>
        </div>
        <div class="c-card__pay">
            <h4>S/ {% with event.zones.all|first as zona %}{{ zona.value }}{% endwith %} +</h4>
            <a href="{% url 'webs:event_detail' event.slug_name %}" class="button button--pay button--pay-two">Comprar
                Ahora</a>
        </div>
    </div>
