{% load web_extras %}
{% load staticfiles %}

<div class="container-fz" >
    <div id="fuzzpassCarousel" class="carousel">
        <div class="c-carousel-inner--events carousel-inner">
            <div  ng-repeat="item in filteredForSider | orderBy: 'start_date' track by $index " class="c-item--event item " ng-class='{active:$first}'>
                <div class="c-event__image" style="background-image: url([[item.image_sharpen]]);"></div>
                <div class="c-event__info">
                    <div class="c-event__date">
                        <h5>
                            [[item.start_date|date:"EEEE"|limitTo:3|capitalize]], [[item.start_date|date:"d"]]
                            de [[item.start_date|date:"MMMM"|limitTo:3|capitalize]] /
                            [[item.start_date|date:'HH:mm']]<br>
                        </h5>
                        <div class="c-event__icons">
                            <!-- <span><i class="fa fa-lg fa-calendar"></i></span> -->
                            <span class="calendar__icons" style="position: absolute;margin-top: -24px;margin-left: -40px;">
                                <div title="Add to Calendar" class="addeventatc" style="border: none !important;">
                                    <span class="start">{{ event.start_date|date }}</span>
                                    <span class="end">{{ event.start_date|date }}</span>
                                    <span class="timezone">America/Lima</span>
                                    <span class="title">{{ event.name }}</span>
                                    <span class="description">Uno de los mejores eventos próximos - <br>Fuzzpass eventos</span>
                                    <span class="location">{{ event.get_address }}</span>
                                    <span class="organizer">{{ event.organizer.name }}</span>
                                    <span class="facebook_event">{{ event.facebook }}</span>
                                    <span class="all_day_event">false</span>
                                    <span class="date_format">MM/DD/YYYY</span>
                                    <span class="client">ajlREpQsnzYJzrGcpmrD20397</span>
                                </div>
                            </span>
                            <span style="z-index: 1;position: relative;">
                                {% if user.is_authenticated %}
                                    <a ng-if="!item.is_wish" href="" ng-click="events_manager.do_like(item)">
                                        <i class="fa fa-heart-o"></i>
                                    </a>
                                    <a ng-if="item.is_wish" href="" ng-click="events_manager.dislike(item)">
                                        <i class="fa fa-heart"></i>
                                    </a>
                                {% else %}
                                    <a href="{% url 'accounts:login-signup' %}">
                                        <i class="fa fa-heart-o"></i>
                                    </a>
                                {% endif %}
                            </span>
                        </div>
                    </div>

                    <h3 class="c-event__title">
                        <a href="/eventos/[[item.slug_name]]">[[ item.name|limitTo:29 ]]</a>
                    </h3>
                    <div class="c-event__address">
                        <iframe ng-src="[[item.map]]"></iframe>
                        <h5 class="c-address__name">
                            <i class="fa-map-marker fa-lg fa"> </i> &nbsp; [[ item.address ]]
                        </h5>
                        <h5 class="c-address__assis">
                            <i class="fa-users fa-lg fa"> </i> &nbsp; [[ item.assistants ]] Asistentes aprox.
                        </h5>
                    </div>
                    <div class="c-card__pay" ng-if="item.zones">

                        <h4 ng-if="item.cheaper_zone > 0">[[ event.currency_symbol ]] [[item.cheaper_zone | number:2]] +</h4>
                        <h4 ng-if="item.cheaper_zone == 0">[[ event.currency_symbol ]] [[item.cheaper_zone | number:2]]</h4>
                        <!--<h4 ng-repeat="zone in item.zones" ng-show="$first" ng-if="zone.value">[[ event.currency_symbol ]] [[zone.value]] +</h4>-->

                        <a href="/eventos/[[item.slug_name]]" class="button button--pay button--pay-two" ng-show="date <= item.presale_end_date">Comprar Ahora</a>
                        <a href="/eventos/[[item.slug_name]]" class="button button--pay button--pay-two" ng-show="date > item.presale_end_date">Más Información</a>
                    </div>
                    <div class="c-card__pay" ng-if="item.zones == ''">
                        <h4>[[ event.currency_symbol ]] 0.00 </h4>
                    </div>
                </div>
            </div>
        </div>

        <a ng-show="filteredForSider.length > 1" href="#fuzzpassCarousel" class="left carousel-control" data-slide="prev">
            <span><img class="icon-prev" src="{% static 'images/left.png' %}" alt=""></span>
        </a>
        <a ng-show="filteredForSider.length > 1" href="#fuzzpassCarousel" class="right carousel-control" data-slide="next">
            <span><img class="icon-next" src="{% static 'images/right.png' %}" alt=""></span>
        </a>
    </div>
</div>


