{% load web_extras %}
{% load staticfiles %}

<div class="c-item--event item {% if forloop.first %}active{% endif %}">
    <div class="" >
        <img src="{{ event.front.normal_full.url }}" alt="" class='img-responsive c-item--event__img'>
    </div>
    <div class="c-event__info">
        <div class="c-event__name_date">
            <div class="c-event__date">
                <h5>
                    {{ event.start_date|date:"D, d" }} de {{ event.start_date|date:"M" }}
                    / {{ event.start_date.time|date:'H:i' }}<br>
                </h5>
            </div>

            <h3 class="c-event__title">
                <a href="{% url 'webs:event_detail' event.slug_name %}">{{ event.name }}</a>
            </h3>
        </div>
        <div class="c-event__info_pay">
            <div class="c-event__address {% if event.end_date > currentDate %} c-event__address--two{% else %} c-event__address--two_large {% endif %} ">
                {% comment %}

                <iframe src="https://maps.google.com/maps?q={{ event.location.y|to_and }},{{ event.location.x|to_and }}&z=15&output=embed"></iframe>
                {% endcomment %}

                <h5>
                    <i class="fa-users fa-lg fa"> </i> &nbsp; {{ event.assistants }} Asistentes aprox.
                </h5>
            </div>
            {% if event.presale_end_date >= currentDate %}
                {% if event.invitation %}
                    {% if request.user.is_authenticated %}
                        {% if user_can_register %}
                            <div class="content__zones">
                                <form class="row" id='form-validate' method='POST' action=''>
                                    {% csrf_token %}
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 ">
                                        {{form.code_validate}}
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                        <button id='btn_validate' class='button button--full button--dark f-akura'>
                                            Validar
                                        </button>
                                    </div>
                                </form>
                                <div class="row">
                                    <div class="col-md-12 col-xs-12">
                                        <p class='text-danger text_error'>{{form.code_validate.errors.as_text}}</p>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <p class='c-event__info__msg_login'>Solo puedes validar un código por evento</p>
                            </div>
                        {% endif %}
                    {% else %}
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <p class='c-event__info__msg_login'>Para validar tu código primero debes ingresar</p>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <a href='/iniciar-sesion/?next=/eventos/{{event.slug_name}}/' class='button button--full button--dark f-akura btn-block'>
                                    Ingresar
                                </a>
                            </div>
                        </div>
                    {% endif %}
                {% else %}
                <div class="content__zones">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                            <select name="" class="select-zonas" id="event-value__zonas" required>
                                {% if event.zones.all %}
                                    {% for zone in event.zones.all %}
                                        <option value='{{ zone.id }}'>{{ zone.name }} -
                                            {{ zone.value }}</option>
                                    {% endfor %}
                                {% else %}
                                    <option value='{"valor": "0.00","name":"Zona por defecto","commission":0}'>Zona por defecto - 0.00</option>
                                {% endif %}
                            </select>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <select name="" class="select-zonas" id="event-quantity__zonas" required>
                                {% for i in numbers_entries %}
                                    <option value={{ i }}>{{ i }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

                <div class="c-event__pay">

                    {% with event.zones.all|first as zona %}
                        {% if zona.value > 0 %}
                            <h4> Total a pagar: {{ event.currency_symbol }}<span id="mount-selected" data-event_value="{{ zona.value }}">
                            {{ zona.value|floatformat:2 }} +</span>
                            </h4>
                            {% if event.allow_choosing_seats %}
                            <a id="buy-request" data-action="choose_seats" href="/choose-seats/{{ event.slug_name }}/" class="button event__button_pay  button--dark">Comprar Ahora</a>
                            {% else %}
                            <a id="buy-request" data-action="buy" href="{% url 'payments:buy_in' event.slug_name %}" class="button event__button_pay  button--dark">Comprar Ahora</a>
                            {% endif %}
                            <button id="pagar-cero" class="button event__button_pay button--pay-two save  button--dark" style="border:none;">Guardar Ahora <i class="fe fa fa-spinner fa-pulse"></i></button>
                        {% else %}
                            <h4> Total a pagar: {{ event.currency_symbol }}<span id="mount-selected" data-event_value="{{ zona.value }}">
                            {{ zona.value|floatformat:2 }}</span>
                            </h4>
                            {% if user.is_authenticated %}
                                <button id="pagar-cero" class="button event__button_pay button--pay-two {% if not user.confirm %} not-active{% endif %}  button--dark" style="border:none;">Guardar Ahora <i class="fe fa fa-spinner fa-pulse"></i></button>
                            {% else %}
                                <a href="{% url 'webs:event_detail-z' event.slug_name %}" class="button event__button_pay   button--dark">Guardar Ahora <i class="fe fa fa-spinner fa-pulse"></i></a>
                            {% endif %}

                        {% endif %}
                    {% endwith %}
                </div>
                {% endif %}
            {% else %}
                <div class="c-event__message">
                    <p>Venta de entradas finalizada</p>
                </div>
            {% endif %}
        </div>
    </div>
</div>