<div class="container-fz">
    <div class="content-filters">
        <div class="select select--white">
            <span class="placeholder">DISTRITO</span>
            <ul id="cities-filters">
                {% for city in list_cities %}
                    <li data-value="{{ city.id }}">{{ city.name }}</li>
                {% endfor %}
            </ul>
            <input type="hidden" name="changemetoo"/>
        </div>

        <div class="select select--white">
            <span class="placeholder">MES</span>
            <ul id="month-filters">
                <li data-value="1">ENERO</li>
                <li data-value="2">FEBRERO</li>
                <li data-value="3">MARZO</li>
                <li data-value="4">ABRIL</li>
                <li data-value="5">MAYO</li>
                <li data-value="6">JUNIO</li>
                <li data-value="7">JULIO</li>
                <li data-value="8">AGOSTO</li>
                <li data-value="9">SETIEMBRE</li>
                <li data-value="10">OCTUBRE</li>
                <li data-value="11">NOVIEMBRE</li>
                <li data-value="12">DICIEMBRE</li>
            </ul>
            <input type="hidden" name="changemetoo"/>
        </div>

        <div class="search-content">
            <a class="button button--search" ng-click='events_manager.filter()' href="">Ir</a>
        </div>
    </div>
</div>
